{% extends "@Root/block.html.twig" %} 
{% block mainContent %}
<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> 
	{% if currentLanguage.flagCode %}<i class=""><img src="{{ flagUrl(currentLanguage.flagCode) }}" alt=""/></i>{% endif %} {% if currentLanguage.ownLabel %}{{ currentLanguage.ownLabel }}{% else %}{{ currentLanguage.label }}{% endif %} <span class="caret"></span>
	</a>

	<ul class="dropdown-menu">
		{% for language in languages %}
		{% if language.url and (showCurrentLanguage or language.locale != currentLanguage.locale) %}
		<li><a href="{% if language.locale == currentLanguage.locale %}#{% else %}{{ language.url }}{% endif %}">
		{% if language.flagCode %}<i class=""><img src="{{ flagUrl(language.flagCode) }}" alt=""/></i>{% endif %} {% if language.ownLabel %}{{ language.ownLabel }}{% else %}{{ language.label }}{% endif %}</a></li> 
				{% endif %}
		{% endfor %}

	</ul>
</div>

{% endblock %}



