<div id="list-{{ prefix }}-{{ page.currentPage }}" class="active">

    <ul class="nav nav-tabs nav-stacked">
	{% for content in data %}
	<li><a href="{{ displaySingleUrl(content.id) }}">
	    <div class="pull-left">
	        {% if content.image %}
	        <img alt=""
			class="img-rounded"
			src="/dam?media-id={{content.image}}&amp;width=100&amp;height=60&amp;mode=crop" />
			{% endif %}
			</div>
	       <div style="padding-left: 8em;">{{ content.title }}
			    
			</div> 
			<div class="clearfix"></div>
			</a>
			
			</li> {% endfor %}
</ul>
</div>