
{% if type[key]["config"]["multivalued"] and data[key] is iterable %}
	{% for item in data[key] %}
        <p><strong>{{ type[key]["config"]['fieldLabel']}} : </strong>
            <span  id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">{{item|localizeddate('long', 'none', lang)}}</span>
        </p>
	{% endfor %}
{% elseif data[key] is defined and data[key] is not null%}
    <p><strong>{{ type[key]["config"]['fieldLabel']}} : </strong>
        <span  id="{{ data.id }}_{{ key }}">{{data[key]|localizeddate('long', 'none', lang)}}</span>
    </p>
{% else %}
    <div class="alert alert-warning">{{ "Fields.Date.Label.BadFormat" | fotrans }}</div>
{% endif %}