

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?{% if (googleMapsKey) %}key={{ googleMapsKey }}&{% endif %}sensor=true&language={{ lang }}"></script>

{% if type[key]["config"]["multivalued"] and data[key] is iterable %}
	<div id="{{ data.id }}_{{key}}" data-values="{{ data[key]|json_encode() }}" data-value="{{ data.summary }}" data-title="{{ data.text }}" class="localiser-rubedo row-fluid mapPlaceholder"></div>
{% else %}
    <div id="{{ data.id }}_{{key}}" data-values="{{ data[key]|json_encode() }}" data-field="true" data-value="{{ data.summary }}" data-title="{{ data.text }}" class="localiser-rubedo row-fluid mapPlaceholder"></div>
{% endif %}
