{%  if(type[key]["config"]["multivalued"]) and data[key] is iterable%}
{% include "/blocks/edition/edition-tooltip-button.html.twig" %}
    <p>{{ type[key]["config"]["fieldLabel"] }} </p>
    
	{% for item in data[key] %}
    	<div class="radiogroup-edit" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">
        	{% for radioButton in type[key]["config"]["items"] %}
        		<label class="radio cursor-default">
        		  <input type="radio" name="{{ radioButton.name }}"  value="{{ radioButton.inputValue }}" disabled {% if radioButton.inputValue==item[radioButton.name]%}checked{% endif %}>
        		  {{ radioButton.boxLabel }}
        		</label>
        	{% endfor %}
    	</div>
	{% endfor %}
{% else %}
{% include "/blocks/edition/edition-tooltip-button.html.twig" %}
    <p>{{ type[key]["config"]["fieldLabel"] }}</p>
    
	<div class="radiogroup-edit" id="{{ data.id }}_{{ key }}">
    	{% for radioButton in type[key]["config"]["items"] %}
    		<label class="radio cursor-default">
                <input type="radio" name="{{ radioButton.name }}"  value="{{ radioButton.inputValue }}" disabled {% if radioButton.inputValue==data[key][radioButton.name]%}checked{% endif %}>
                {{ radioButton.boxLabel }}
    		</label>
    	{% endfor %}
	</div>
{% endif %}