{%  if(type[key]["config"]["multivalued"])and data[key] is iterable %}
	{% for item in data[key] %}
	    <div class="clear-right">
	        <p  id="{{ data.id }}_{{key}}-{{ loop.index-1 }}" data-field-type="{{ type[key].cType }}"><strong>{{ type[key]["config"]['fieldLabel']}} : </strong>{{ item }}</p>
	    </div>
	{% endfor %}
{% else %}
    <div class="clear-right"><p  id="{{ data.id }}_{{key}}" data-field-type="{{ type[key].cType }}"><strong>{{ type[key]["config"]['fieldLabel']}} : </strong>{{ data[key] }}</p></div>
{% endif %}