{%  if(type[key]["config"]["multivalued"])and data[key] is iterable %}
	{% for item in data[key] %}
        <p><span  id="{{ data.id }}_{{key}}-{{ loop.index-1 }}"> {{ item }}</span></p>
	{% endfor %}
{% else %}
	<p><span  id="{{ data.id }}_{{key}}"> {{ data[key] }}</span></p>
{% endif %}