
{%  if(type[key]["config"]["multivalued"]) and data[key] is iterable%}
	{% for item in data[key] %}
	{% include "/blocks/edition/edition-tooltip-button.html.twig" %}
        <div class="time" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">
            <span class="currentTime">{{ item }}</span>
        </div>
	{% endfor %}
{% else %}
{% include "/blocks/edition/edition-tooltip-button.html.twig" %}
    <div class="time" id="{{ data.id }}_{{ key }}">
        <span class="currentTime">{{ data[key] }}</span>
    </div>
{% endif %}