<div id="activeFacetBox">
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand">{% if total > 1 %}{{"Search.ThereAre"|fotrans}}{% else %}{{"Search.ThereIs"|fotrans}}{% endif %} <span class="badge badge-important">{{ total }}</span> {% if total > 1 %}{{"Search.Results"|fotrans}}{% else %}{{"Search.Result"|fotrans}}{% endif %}</a>
	</div>
</div>
{% if activeFacets|length > 0 %}
<div class="navbar">
	<div class="navbar-inner">
		<p class="brand">Critères de recherche :&nbsp;&nbsp;
		{% for facet in activeFacets %}
		    {% if facet.id == 'type' or facet.id == 'damType' or facet.id == 'author' %}
                {% for term in facet.terms %}
	                <a {% if facet.id not in facetsToHide %}class="cursor-pointer" onClick="window.updateFacets('{{ facet.id }}','{{ term.term }}',false)"{% endif %}>
					<span class="badge badge-info"> {% if facet.id not in facetsToHide %}<i class="icon-remove-sign"></i>{% endif %} {{ term.label }}</span>
				    </a>
		        {% endfor %}
            {% else %}
                {% for term in facet.terms %}
                    {% if not (constrainToSite and facet.id == 'navigation' and term.term == currentSite) %}
		            <a {% if facet.id not in facetsToHide %}class="cursor-pointer" onClick="window.updateFacets('{{ facet.id }}','{{ term.term }}',false)"{% endif %}>
				        <span class="badge badge-info">{% if facet.id not in facetsToHide %}<i class="icon-remove-sign"></i>{% endif %}{{ term.label }}</span>
			        </a>
			        {% endif %}
		        {% endfor %}
            {% endif %}
		        
		{% endfor %}
		</p>
	</div>
</div>
{% endif %}
</div>