<div class="span3 well well-large" id="facetBox">
		<p>
			<i class="icon-search"></i> {{"Search.Label.FullTextSearch"|fotrans}}
		</p>
			<form name="searchForm" class="form-search" action="javascript:window.updateFacets('query',document.searchForm.elements['query'].value,true)">
				<input type="text" class="input-medium search-query" name="query" size="10" value="{{ query }}" placeholder="{{"Search.Label.Search"|fotrans}}">
			</form>
		
		{% for facet in facets %}

			{% if facet.terms|length > 0 %}

    			{% if facet.id == 'type' %}
    			<p>
    				<i class="icon-file"></i> {{"Search.Facets.Label.ContentType"|fotrans}}
    			</p>	
    			{% elseif facet.id == 'damType' %}
    			<p>
    				<i class="icon-file"></i> {{"Search.Facets.Label.MediaType"|fotrans}}
    			</p>	
    			{% elseif facet.id == 'author' %}
    			<p>
    				<i class="icon-user"></i> {{"Search.Facets.Label.Author"|fotrans}}
    			</p>		
    			{% elseif facet.id == 'date' %}
    			<p>
    				<i class="icon-calendar"></i> {{"Search.Facets.Label.Date"|fotrans}}
    			</p>	
    			{% else %}
    			<p>
    				<i class="icon-tags"></i> {{facet.label}}
    			</p>			
    			{% endif %}	
    	        {% if facet.id == 'type' or facet.id == 'damType' or facet.id == 'author' or facet.id == 'date' %}
    	          <ul>
    				{% for term in facet.terms %}
    				
    				<li>
    					<a class="cursor-pointer" onClick="window.updateFacets('{{ facet.id }}','{{ term.term }}',true)" >{{ term.label }} ({{ term.count }})</a>
    				</li>
    				
    				{% endfor %}
			    </ul>
    	        {% else %}
    	        <ul>
    				{% for term in facet.terms %}
    				{% if not (constrainToSite and facet.id == 'navigation' and term.term == currentSite) %}
    				<li>
    					<a class="cursor-pointer" onClick="window.updateFacets('{{ facet.id }}','{{ term.term }}',true)" >{{ term.label }} ({{ term.count }})</a>
    				</li>
    				{% endif %}
    				{% endfor %}
			    </ul>
    					
    			{% endif %}	
			
			
			{% endif %}
		
		{% endfor %}
		
</div>