
{% if renderDiv %}
<{% if elementTag %}{{elementTag}}{% else %}div{% endif %} class=" {{ classHtml }}"   
    {% if idHtml %} id="{{ idHtml }}"{% endif %}
	{% if elementStyle %}style="{{ elementStyle }}"{% endif %}
	>
{% endif %}
	
{% if displayTitle and blockTitle %}<h4>{{ blockTitle }}</h4>{% endif %}
	{% block mainContent %}

	<div class="alert" id="{{ id }}>
  <button type=" button" class="close"
		data-dismiss="alert">
		&times;
		</button>

		&nbsp;<strong>Erreur !</strong>&nbsp;&nbsp; Pas de données à afficher.
	</div>


	{% endblock %}
{% if renderDiv %}
</{% if elementTag %}{{elementTag}}{% else %}div{% endif %}>
{% endif %}
