<{% if elementTag %}{{elementTag}}{% else %}div{% endif %} 
        class="{% if renderSpan and span > 0 %}span{{span}}{% endif %}{% if renderSpan and offset > 0 %} offset{{offset}}{% endif %} {{ classHtml }}"
       {% if idHtml %}id="{{ idHtml }}"{% endif %}
       {% if elementStyle %}style="{{ elementStyle }}"{% endif %}
       >
     {% if displayTitle %}
	<h3>{{ eTitle }}</h3>
	{% endif %}
	<!-- process nested rows & blocks -->
	{% if blocks %}
		{% for block in blocks %}
		    {% if not block.data %}
		    {% include [block.template,'block.html.twig'] %}
		    {% else %}
		    {% include [block.template,'block.html.twig'] with block.data %}
		    {% endif %}
			
			
		{% endfor %}
	{% endif %}
	{% if rows %}
		{% for row in rows %}
		        {% set nested = true %}
				{% include row.template with row %}
		{% endfor %}
	{% endif %}
</{% if elementTag %}{{elementTag}}{% else %}div{% endif %}>