<!DOCTYPE html>
<html lang="{{lang}}">
	<head>
		{% block pageTitle %}
		<title>Rubedo Project, from WebTales</title>
		{% endblock %}

		{% block pageMeta %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The Rubedo Project, open-source CMS with Zend Framework, MongoDB and Ext-JS">
		<meta name="author" content="WebTales">
		{% endblock %}

		{% block pageStyle %}
		<!-- Le styles -->
		<link href="/css/default.bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/css/rubedo.css" rel="stylesheet">
        <!--<link rel="stylesheet" type="text/css" href="/extjs-4.1.1/resources/css/ext-all.css">-->
        <link href="/colorbox/colorbox.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
		
		{% for sheet in css %}
		<link href="{{baseUrl}}{{sheet}}" rel="stylesheet" />
		{% endfor %}

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% endblock %}

		{% block pageIcons %}
		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="../assets/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
		{% endblock %}

	</head>

	<body>
		{% block topSpace %}
		<div id="topSpace" class="navbar navbar-fixed-top"></div>
		{% endblock %}

			
			{% block pageContentToolBar %}
			<div class="navbar hide navbar-fixed-top" id="contentToolBar">
				<div class="navbar-inner">
					<div class="container-fluid">
						<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
						<a class="brand" href="#">Administration</a>
						<div id='viewmode'>
							<div class="btn-group pull-left">
								<a class="btn" href="#" id="btn-edit"> <i class="icon-edit"></i> Editer la page </a>
							</div>
							<span class="label label-success pull-right">Consultation</span>
						</div>
						<div id='editmode' class='hide'>

							<a class="btn pull-left" href="#" id="btn-cancel"> <i class="icon-remove"></i> Annuler </a>
							<a class="btn pull-left" href="#" id="btn-save"> <i class="icon-ok"></i> Sauvegarder les modifications </a>

							<span class="label label-warning pull-right">Edition</span>
						</div>
					</div>
				</div>
			</div>
			{% endblock %}

			{% block pageMainContent %}

			 <div class="container container-fluid">
				{% if rows %}
				{% for row in rows %}
				{% include row.template with row only %}
				{% endfor %}
				{% endif %}
			</div>
			{% endblock %}

<!--/.fluid-container-->

		{% block pageJavascript %}
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/templates/root/js/jquery.js"></script>
        <script src="/templates/root/js/bootstrap-transition.js"></script>
        <script src="/templates/root/js/bootstrap-alert.js"></script>
        <script src="/templates/root/js/bootstrap-modal.js"></script>
        <script src="/templates/root/js/bootstrap-dropdown.js"></script>
        <script src="/templates/root/js/bootstrap-scrollspy.js"></script>
        <script src="/templates/root/js/bootstrap-tab.js"></script>
        <script src="/templates/root/js/bootstrap-tooltip.js"></script>
        <script src="/templates/root/js/bootstrap-popover.js"></script>
        <script src="/templates/root/js/bootstrap-button.js"></script>
        <script src="/templates/root/js/bootstrap-collapse.js"></script>
        <script src="/templates/root/js/bootstrap-carousel.js"></script>
        <script src="/templates/root/js/bootstrap-typeahead.js"></script>
		{% for file in js %}
		<script type="text/javascript" src="{{baseUrl}}{{file}}"></script>
		{% endfor %}
        <script src="/colorbox/jquery.colorbox.js"></script>
		<script>
            jQuery(document).ready(function () {
                jQuery('a.flk_gallery').colorbox({current:	"image {current} parmi {total}",maxWidth:'80%',maxHeight:'80%',opacity:0.5 ,rel:'flk_gallery'});
            });
        </script>
		{% endblock %}
	</body>
</html>