<!DOCTYPE html>
<html lang="{{lang}}">
<head>
{% block pageTitle %}
<title>{{ title }}</title> {% endblock %} {% block pageMeta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}
<meta name="author" content="WebTales">
{% endblock %} {% block pageStyle %}
<!-- Le styles -->
<link href="/components/twitter/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/components/twitter/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="bootstrap-gallery/css/bootstrap-image-gallery.min.css" rel="stylesheet">
<link href="video-js/video-js.min.css" rel="stylesheet" type="text/css">
<link href="/css/rubedo.css" rel="stylesheet">
<!--<link rel="stylesheet" type="text/css" href="/extjs-4.1.1/resources/css/ext-all.css">-->
<link href="/colorbox/colorbox.css" rel="stylesheet">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

{% for sheet in css %}
<link href="{{baseUrl}}{{sheet}}" rel="stylesheet" />
{% endfor %}

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% endblock %} {% block pageIcons %}
<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="../assets/ico/apple-touch-icon-57-precomposed.png">
{% endblock %}

</head>

<body>
	{% block topSpace %}
	<div id="topSpace" class="navbar navbar-fixed-top"></div>
	{% endblock %} {% block pageContentToolBar %} {% if isLoggedIn %}
	<div class="navbar hide" id="contentToolBar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">Administration</a>
				<div id='viewmode'>
					<div class="btn-group pull-left">
						<a class="btn" href="#" id="btn-edit"> <i class="icon-edit"></i>
							Editer la page
						</a>
					</div>
					<span class="label label-success pull-right">Consultation</span>
				</div>
				<div id='editmode' class='hide'>

					<a class="btn pull-left" href="#" id="btn-cancel"> <i
						class="icon-remove"></i> Annuler
					</a> <a class="btn pull-left" href="#" id="btn-save"> <i
						class="icon-ok"></i> Sauvegarder les modifications
					</a> <span class="label label-warning pull-right">Edition</span>
				</div>
				<div class="span8 offset4" id="alerts"></div>
			</div>
		</div>
	</div>
	{% endif %} {% endblock %} {% block pageMainContent %}

	<div class="container container-fluid">{% if rows %} {% for row in rows
		%} {% include row.template with row %} {% endfor %} {% endif %}</div>
	{% endblock %}

	<!--/.fluid-container-->
	<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span>Download</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-primary modal-next">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>
	{% block pageJavascript %}
	<!-- Le javascript
		================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/components/jquery/jquery/jquery-1.9.1.min.js"></script>
	<script src="/components/twitter/bootstrap/js/bootstrap.min.js"></script>
	<script src="/bootstrap-gallery/js/load-image.min.js"></script>
	<script src="/bootstrap-gallery/js/bootstrap-image-gallery.js"></script>
  	<script src="/video-js/video.min.js"></script>
  	<script>
    	_V_.options.flash.swf = "/video-js/video-js.swf";
  	</script>
	
	{% for file in js %}
	<script type="text/javascript" src="{{baseUrl}}{{file}}"></script>
	{% endfor %}
	<script src="/colorbox/jquery.colorbox.js"></script>
	<script>
            jQuery(document).ready(function () {
                jQuery('a.flk_gallery').colorbox({transition:'none',current:	"image {current} parmi {total}",maxWidth:'80%',maxHeight:'80%',opacity:0.5 ,rel:'flk_gallery'});
            });
        </script>
	{% endblock %}
</body>
</html>