<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    {% block pageTitle %}
    <title>{{ prefixTitle }}{{ title }}</title> 
    {% endblock %} 
    
    {% block pageMeta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}
    <meta name="description" content="{{ description }}">
    {% endif %}
    
    {% if keywords %}
    <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    
    {% if author %}
    <meta name="author" content="{{ author }}">
    {% endif %}
    
    
    {% if contentId %}
    <link rel="canonical" href="{{ displayUrl(contentId, "canonical") }}"/>
    {% endif %}
    
    {% endblock %} 
    
    {% block pageStyle %}

    <link href="{{baseUrl}}/components/twitter/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{baseUrl}}/components/twitter/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{baseUrl}}/components/jschr/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet">
    
    {% for sheet in css %}
    <link href="{{baseUrl}}{{sheet}}" rel="stylesheet" />
    {% endfor %}
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% endblock %} 
    
    <!--[if lte IE 6]>
        <link rel="stylesheet" type="text/css" href="{{baseUrl}}/components/webtales/bsie/bootstrap/css/bootstrap-ie6.css">
        <link rel="stylesheet" type="text/css" href="{{baseUrl}}/components/webtales/bsie/bootstrap/css/ie.css">
    <![endif]-->    
    
    {% block pageIcons %}
    
    {% if favicon %}
    <!-- favicon -->
    <link rel="shortcut icon" href="{{baseUrl}}/{{ favicon }}">
    {% endif %}
    
    {% if AppleIcon %}
     <!-- touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
    	href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
    	href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
    	href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed"
    	href="../assets/ico/apple-touch-icon-57-precomposed.png">
    {% endif %}
    
    {% endblock %}
    
    {%  if googleAnalyticsKey %}
    	<script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ googleAnalyticsKey }}']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
    	{% endif %}
    
</head>
{% block body %}
<body data-current-page="{{ currentPage }}" 
      data-is-draft="{{ isDraft }}" 
      data-current-workspace="{{ currentWorkspace }}" 
      {% if disqusKey %}data-disqusKey="{{ disqusKey }}"{% endif %}
      {% if googleMapsKey %}data-googleMapsKey="{{ googleMapsKey }}"{% endif %}
      data-site-id="{{ siteID }}"
      data-language="{{ lang }}"
      data-bolanguage="{{ boLocale }}"
      >
{% endblock %}
	
	{% block pageContentToolBar %} 
    	{% if canEdit %}
    	<div class="navbar hide navbar-inverse" id="contentToolBar">
    		<div class="navbar-inner">
    			<div class="container-fluid">
    				<a class="brand" href="/backoffice/" target="_blank">{{ "FO.Administration.Toolbar.Title.Administration" | botrans }}</a>
    				<div id='viewmode'>
    				    <div class="btn-toolbar pull-left">
        					<div class="btn-group">
        						<a class="btn" href="#" id="btn-edit"> <i class="icon-edit"></i>
        							{{ "FO.Administration.Toolbar.Button.EditPage" | botrans }}
        						</a>
        					</div>
        					
        					<div class="btn-group">	
        						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        						    {% if currentUser.photo %}
        						        <img src="/file?file-id={{ currentUser.photo }}" class="user-picture" style="height:18px;">
        						    {% else %}
                                        <i class="icon-user"></i>
                                    {% endif %} <span>{{currentUser.name}}</span> <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if hasAccessToBO %}<li><a href="/backoffice" target="_blank"><i class="icon-edit"></i> {{ "FO.Administration.Toolbar.Button.User.Backoffice" | botrans }}</a></li>{% endif %}
                                    <li><a href="#" onclick="logout()"><i class="icon-off"></i> {{ "FO.Administration.Toolbar.Button.User.Logout" | botrans }}</a></li>
                                </ul>
        					</div>
        				</div>
    					
    					<span class="label label-success pull-right">{{ "FO.Administration.Toolbar.Status.Consultation" | botrans }}</span>
    				</div>
    				<div id='editmode' class='hide'>
    
    					<a class="btn btn-danger pull-left" href="#" id="btn-cancel"> <i
    						class="icon-remove icon-white"></i> {{ "FO.Administration.Toolbar.Button.Cancel" | botrans }}
    					</a>
    					 <a class="btn btn-success pull-left" href="#" id="btn-save" data-toggle="tooltip" data-placement="bottom" data-content="{{ "FO.Administration.Toolbar.Button.SaveChanges.Tooltip" | botrans }}" title="" data-original-title="">
    					  <i class="icon-ok icon-white"></i> {{ "FO.Administration.Toolbar.Button.SaveChanges" | botrans }}
    					</a>
    					<span class="label label-warning pull-right">{{ "FO.Administration.Toolbar.Status.Edition" | botrans }}</span>
    				</div>
    				<div class="span8 offset4" id="alerts"></div>
    			</div>
    		</div>
    	</div>
    	{% endif %} 
	{% endblock %} 
	
	{% block pageMainContent %}
		{% if pageProperties.showInDiv %}
			<div class="{% if pageProperties.divClass is not empty %}{{ pageProperties.divClass }}{% endif %}" 
					id="{% if pageProperties.divId is not empty %}{{ pageProperties.divId }}{% endif %}">
		{% endif %}
	
	    {% if rows %} 
    	    {% for row in rows %} 
    	        {% include row.template with row %} 
    	    {% endfor %} 
	    {% endif %}
	    
	    {% if pageProperties.showInDiv %}</div>{% endif %}
	{% endblock %}
	
    
    {% block Modal %}
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Picture</h3>
        </div>
        
        <div class="modal-body">
            <img src="{{baseUrl}}/components/webtales/rubedo-backoffice-ui/www/resources/images/logo.png" id="fullScreenPicture" alt="">
        </div>
        
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
        </div>
    </div>
	{% endblock %}
	
	{% block contentModal %}
    <div id="contentModal" class="modal hide fade" tabindex="-1" data-width="1000" data-height="400">
		<div class="modal-body">
			<div id="contentBody">
			</div>
		</div>
	</div>
	{% endblock %}
	
	{% block contentTypeSelectModal %}
    <div id="contentTypeSelectModal" class="modal hide fade" tabindex="-1" data-width="410">
		<div class="modal-body">
			<h4>Sélectionnez le type de contenu à ajouter</h4>
			<div id="contentTypeSelectBody">
			
			<select id='select-type-box'></select>
				<button id='btn-cancel-ctselect-form' class='btn pull-right' style='margin-left:8px;'>Annuler</button>
				<button id='btn-validate-ctselect' class='btn btn-primary pull-right'>Valider</button>
			</div>
		</div>
	</div>
	{% endblock %}
	
	{%  block CKeModal %}
		<div class="modal hide fade" id="confirm">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					×
				</button>
				<h3>Alerte</h3>
			</div>

			<div class="modal-body">
				<p>
					Vous êtes sur le point de perdre toutes les modifications effectuées
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" id="cancel-confirm" data-dismiss="modal">
					Confirmer
				</button>
				<a href="#" class="btn" data-dismiss="modal">Annuler</a>
			</div>
		</div>
	{% endblock %}
	
	
	{% block pageJavascript %}
    	<!-- Le javascript
    		================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<script src="{{baseUrl}}/components/jquery/jquery/jquery-1.10.1.min.js"></script>
    	<script src="{{baseUrl}}/components/twitter/bootstrap/js/bootstrap.min.js"></script>
    	<script src="{{baseUrl}}/components/jschr/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    	<script src="{{baseUrl}}/components/jschr/bootstrap-modal/js/bootstrap-modal.js"></script>
    	
    	{% for file in js %}
    	<script type="text/javascript" src="{{baseUrl}}{{file}}"></script>
    	{% endfor %}
    	
    	
	{% endblock %}
	
	<!--[if lte IE 6]>
        <script type="text/javascript" src="{{baseUrl}}/components/webtales/bsie/js/bootstrap-ie.js"></script>
    <![endif]-->
	
</body>
</html>