{% if includeContainer or includeContainerFluid %}<div class="{% if includeContainer %}container{% endif %} {% if includeContainerFluid %}container-fluid{% endif %}">{% endif %}
    
<{% if elementTag %}{{elementTag}}{% else %}div{% endif %} 
    class="{% if not nested and displayRow %}row{% endif %} {% if displayRowFluid %}row-fluid{% endif %} {{ classHtml }}" 
    {% if idHtml %}id="{{ idHtml }}"{% endif %}
    {% if elementStyle %}style="{{ elementStyle }}"{% endif %}>
    
    
    
	{% if displayTitle %}
	<h3>{{ eTitle }}</h3>
	{% endif %}
	{% if displayAsTab and columns %}
	<ul class="nav nav-tabs">
	    {% for column in columns %}
			<li {% if loop.first %}class="active"{% endif %}><a href="#{{ column.id }}" data-toggle="tab">{{ column.eTitle }}</a></li>
		{% endfor %}
  
    </ul>
    {% endif %}
    
	{% if displayAsTab %}
	    
	    {% if columns %}
    	<div class="tab-content">
    	    {% for column in columns %}
    	        <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ column.id }}">
    	        {% include column.template with column %}
    	        </div>
    			
    		{% endfor %}
        </div>
        {% endif %}
	
	{% else %}
	
    	{% if columns %}
    		{% for column in columns %}
    			{% include column.template with column %}
    		{% endfor %}
    	{% endif %}
	
	{% endif %}
    
</{% if elementTag %}{{elementTag}}{% else %}div{% endif %}>

{% if includeContainer or includeContainerFluid %}</div>{% endif %}