{% set activeFacetsList = [] %}
		{% for facet in activeFacets %}

                {% for term in facet.terms %}
                    {% if not (constrainToSite and facet.id == 'navigation' and term.term == currentSite) %}
                    {% set activeFacetsList = activeFacetsList|merge([term.term]) %}
                    
			        {% endif %}
		        {% endfor %}

		        
		{% endfor %}

<div id="searchpage" data-searchparams="{{ searchParams }}">
<div class="span3 well well-large" id="facetBox">
		<p>
			<i class="icon-search"></i> {{"Search.Label.FullTextSearch"|fotrans}}
		</p>
			<form name="searchForm" class="form-search" action="javascript:window.updateFacets('query',document.searchForm.elements['query'].value,true)">
				<input type="text" class="input-medium search-query {% if autoComplete %}typeahead{%  endif %}" autocomplete="off" name="query" size="10" value="{{ query }}" placeholder="{{"Search.Label.Search"|fotrans}}">
			</form>
		
		{% for facet in facets %}

			{% if facet._type == 'terms' and facet.terms|length > 0 %}
                
    			{% if facet.id == 'type' %}
    			<p>
    				<i class="icon-file"></i> {{ "Search.Facets.Label.ContentType"|fotrans }}
    			</p>	
    			{% elseif facet.id == 'damType' %}
    			<p>
    				<i class="icon-file"></i> {{ "Search.Facets.Label.MediaType"|fotrans }}
    			</p>	
    			{% elseif facet.id == 'author' %}
    			<p>
    				<i class="icon-user"></i> {{ "Search.Facets.Label.Author"|fotrans }}
    			</p>		
    			{% else %}
    			<p>
    				<i class="icon-tags"></i> {{ facet.label }}
    			</p>			
				{% endif %}	

    	        <ul>
    				{% for term in facet.terms %}
    				{% if not (constrainToSite and facet.id == 'navigation' and term.term == currentSite) %}
    				{% if displayMode == 'checkbox' %}
    				<label class="checkbox">
						<input type="checkbox" class="facetCheckbox"  data-facet-id="{{ facet.id }}" data-facet-term="{{ term.term }}" {% if term.term in activeFacetsList %}checked{% endif %}> {{ term.label }} ({{ term.count }})
    				</label>
    				{% else %}
    				<li>
    					<a class="cursor-pointer" onClick="window.updateFacets('{{ facet.id }}','{{ term.term }}',true)" >{{ term.label }} ({{ term.count }})</a>
    				</li>
    				{% endif %}
    				{% endif %}
    				{% endfor %}
			    </ul>	
			
			{% endif %}
			
			{% if facet._type == 'range' and facet.ranges|length > 0 %}
    			{% if facet.id == 'lastupdatetime' %}
    				{% for range in facet.ranges %}

    						{% if loop.first %}
     							<p>
    								<i class="icon-calendar"></i> {{"Search.Facets.Label.ModificationDate"|fotrans}}
    							</p>
    	        				<ul>
    	        			{% endif %}
                            {% if displayMode == 'checkbox' %}
            				<label class="checkbox">
								<input type="checkbox" class="facetCheckbox"  data-facet-id="{{ facet.id }}" data-facet-term="{{ range.from }}" {% if range.from in activeFacetsList %}checked{% endif %}> {{ range.label }} ({{ range.count }})
            				</label>                            
                            {% else %}
    						<li>
    							<a class="cursor-pointer" onClick="window.updateFacets('{{ facet.id }}','{{ range.from }}',true)" >{{ range.label }} ({{ range.count }})</a>
    						</li>
                            {% endif %}

    				{% endfor %}
			    	</ul>
    			{% endif %}			
			{% endif %}			
			
		{% endfor %}
		
</div>
</div>