{% for slide in items %}
<a href="#" data-gallery="gallery" onclick="callModal({% if slide.image %}'{{slide.image}}'{% else %}'{{slide.thumbnail}}'{% endif %}, '{{slide.title|e('js')}}')">
	<img src="{{ slide.thumbnail }}" alt="{{slide.title}}" title="{{slide.title}}">
</a>
{% endfor %}

<a class="carousel-control left" href="{{url({'page':page-1})}}">&lsaquo;</a>
<a class="carousel-control right" href="{{url({'page':page+1})}}">&rsaquo;</a>