<p>{{ 'Blocks.SignUp.confirmEmail.hello'|fotrans({'%name%': name}) }}</p>

<p>
{{ 'Blocks.SignUp.confirmEmail.clickFollowing'|fotrans }}<br />
<a href="{{ confirmUrl|raw }}">{{ 'Blocks.SignUp.confirmEmail.confirmLink'|fotrans }}</a>
</p>
<p>
{{ 'Blocks.SignUp.confirmEmail.thanks'|fotrans }}
</p>

<hr />
{{ 'Blocks.SignUp.confirmEmail.automatedMail'|fotrans }}
<hr />