
<div class="block clearfix actu-rubedo">
	
	<header class="entry-header">
		<h2 class="post-title-small">
			<a href='{{ displaySingleUrl(content.id,null,singlePage) }}' title='Actu'>{{content.title}}</a>
		</h2>
	</header>
	<div class="pull-left actu-img-container">
	    {% if content.image %} 
    	    <a href="{{ displaySingleUrl(content.id,null,singlePage) }}">
    	        <img alt="" class="imageLeft actu-img" src="/dam?media-id={{content.image}}&amp;width=80&amp;height=80&amp;mode=boxed" />
    	    </a> 
	    {% endif %}
	</div>
	<div class="entry-content editable" id="{{ content.id }}_summary">
		{{content.summary|cleanHtml}}</div>
	<div class="entry-info">{% if content.date %} Le {{content.date|localizeddate('long', 'none', lang)}} {% endif %}</div>
	
	<a class="pull-right" href="{{ displaySingleUrl(content.id,null,singlePage) }}">En savoir plus</a>

</div>

