
<div class="block clearfix">
	<h2 class="post-title-small">
		<a href='{{ displaySingleUrl(content.id,null,singlePage) }}' title='Actu'>{{content.title}}</a>
	</h2>

	<div class="">{% if content.date %} Le {{content.date}} {% endif %}</div>
	{% if content.image %}
    	<div class="pull-left thumbnail blog-img-container">
    		<a href="{{ displaySingleUrl(content.id,null,singlePage) }}">
    		    <img alt="" class="imageLeft blog-img" src="/image?file-id={{content.image}}" />
    		</a>
    	</div>
	{% endif %}
	<div class="editable" id="{{ content.id }}_summary">
		{{content.summary|cleanHtml}}</div>
	
	<a class="pull-right" href="{{ displaySingleUrl(content.id,null,singlePage) }}">Lire la suite</a>
</div>
