
<div class="block clearfix shortsingle-rubedo">

	<header class="entry-header">
	
		<h5 class="post-title-small">
			<a href='{{ displaySingleUrl(content.id,null,singlePage) }}' title='{{content.title}}'>{{content.title}}</a>
		</h5>
	</header>
	<div class="entry-content editable" id="{{ content.id }}_summary">
		{{content.summary|cleanHtml}}</div>
	<button class='btn pull-right complete-edition-btn' contentId='{{ content.id }}' ><i class="icon-pencil"></i></button>
	<a class="pull-right" href="{{ displaySingleUrl(content.id,null,singlePage) }}">En savoir plus</a>


</div>
