
<div class="block clearfix"
	style="border-bottom: 1px solid #E3E3E8; margin-bottom: 10px; padding-bottom: 2px;">

	<header class="entry-header">
		<h2 class="post-title-small">
			<a href='{{ displaySingleUrl(content.id,null,singlePage) }}' title='Actu'>{{content.title}}</a>
		</h2>
	</header>
	<div class="entry-content editable" id="{{ content.id }}_summary">
		{{content.summary|cleanHtml}}</div>

	<a class="pull-right" href="{{ displaySingleUrl(content.id,null,singlePage) }}">En savoir plus</a>


</div>
