<div class="block clearfix shortsingle-rubedo">
	
	<header class="entry-header">
		<h2 class="post-title-small">
			<a href='{{ displayUrl(content.id,"default",null,singlePage) }}' title='{{content.title}}'>{{content.title}}</a>
		</h2>
	</header>
	{% if content.image %}
	    <div class="pull-left shortsingle-img-container">
    	    {% include "/blocks/fields/mediaField.html.twig" with { "data": content, "key": "image", "width": "80", "height": "80", "mode": "boxed" } %}
	    </div>
    {% endif %}
	
	<div class="entry-content">
	    {% include "/blocks/fields/CKEfield.html.twig" with {"data": content, "key": "summary"} %}
	</div>
	
	<div class="clear-both">
	    {% if content.date %}
	        <div class="pull-left">{% include "/blocks/fields/date.html.twig" with {"data": content, "key": "date"} %}</div>
	    {% endif %}
    	{% include "/blocks/edition/full-edition-button.html.twig" with { "data" : content, "alignRight" : true } %}
    	<a class="pull-right" href="{{ displayUrl(content.id,"default",null,singlePage) }}">{{ "Block.ContentList.Label.ReadMore" | fotrans }}</a>
	</div>
</div>