{% if cartItems is empty %}
    <p class="text-center">Your cart is empty</p>
{% else %}

<table class="table table-condensed table-striped table-hover">
    {% for item in cartItems %}
    <tr>
        <td><a href="#">{{ item.title }} <small class="muted">{{ item.subtitle }}</small></a></td>
        <td>x {{ item.amount }}</td>
        <td>{{ item.price }} €</td>
        <td><i class="icon-remove productremovelingnbtn" data-productid="{{ item.productId }}" data-variationid="{{ item.variationId}}" data-amount="{{ item.amount }}"></i></td>
    </tr>
    {% endfor %}
</table>
<dl class="dl-horizontal">
    <dt>Total :</dt>
    <dd> {{ totalAmount }} €</dd>
</dl>
<div>
    <button class="btn pull-right scartbtn">Checkout</button>
    <button class="btn pull-right scartbtn">View cart</button>
</div>
{% endif %}