<ul id="calendar-items-{{ caldate }}" class="nav nav-tabs nav-stacked active">
	{% for content in data %}
	<li>
	<a href="{{ displayUrl(content.id,"default",null,singlePage) }}">
	    
	    <div class="pull-left">
	        {% if content.image %}
	            {% if content.image is iterable %}
	                {% if content.image[0] != "" %}
            	        <img alt=""
            			class="img-rounded"
            			src="/dam?media-id={{content.image[0]}}&amp;width=100&amp;height=60&amp;mode=crop" />
        			{% endif %}
        		{% else %}
        		    <img alt=""
        			class="img-rounded"
        			src="/dam?media-id={{content.image}}&amp;width=100&amp;height=60&amp;mode=crop" />
        		{% endif %}
			{% endif %}
	    </div>
		
        <div class="calendar-item"><strong>{{ content.title }}</strong>
		    <div class="pull-rigth"><em>{{ content.readDate }}</em></div>
		</div> 
		<div class="clearfix"></div>
	</a>		
	</li>
	    		
	 {% endfor %}
</ul>