<div id="page{{currentPage}}" class="active" data-slide-to="{{currentPage}}">
	{% for item in items %}
	<a href="#" data-gallery="gallery" onclick="
		jQuery('#myModal').modal();
		jQuery('#fullScreenPicture').attr('src','/dam?media-id={{item.image}}');
		jQuery('#myModalLabel').html('{{item.title}}');
	"><img class="" src="/dam?media-id={{item.image}}&width={{ image.width }}&height={{ image.height }}&mode=crop" style="{% if image.width %}max-width:{{ image.width }}px;{% endif %}{% if image.height %}max-height:{{ image.height }}px;{% endif %}" heigth="184" alt="{{item.title}}" title="{{item.title}}"></a>
	{% endfor %}

	{% if previous == true %}
	<a class="carousel-control left" href="{{url({'page':currentPage-1,'prefix':prefix})}}" onclick="changePage({{currentPage-1}}, {{allDamCount}}, {{pageSize}}, {{maxPage}},'{{ galleryid }}',{% if image.width %}{{ image.width }}{% else %}null{% endif %},{% if image.height %}{{ image.height }}{% else %}null{% endif %},'{{ jsonQuery|e('js') }}','{{url({'module':'blocks', 'controller':'gallery', 'action':'xhr-get-images'},null,null,'default')}}');return false;">&lsaquo;</a>
	{% endif %}
	{% if next == true %}
	<a class="carousel-control right" href="{{url({'page':currentPage+1,'prefix':prefix})}}" onclick="changePage({{currentPage+1}}, {{allDamCount}}, {{pageSize}}, {{maxPage}},'{{ galleryid }}',{% if image.width %}{{ image.width }}{% else %}null{% endif %},{% if image.height %}{{ image.height }}{% else %}null{% endif %},'{{ jsonQuery|e('js') }}','{{url({'module':'blocks', 'controller':'gallery', 'action':'xhr-get-images'},null,null,'default')}}');return false;">&rsaquo;</a>
	{% endif %}
</div>