<div id="{{prefix}}-page{{currentPage}}" class="active-items">
	{% for item in items %}
	<a href="#" data-gallery="gallery" onclick="callModal('/dam?media-id={{item.image}}', '{{item.title}}')">
		<img class="" src="/dam?media-id={{item.image}}{%if image.width%}&amp;width={{ image.width }}{%endif%}{%if image.height%}&amp;height={{ image.height }}{%endif%}&amp;mode=crop" style="{% if image.width %}max-width:{{ image.width }}px;{% endif %}{% if image.height %}max-height:{{ image.height }}px;{% endif %}" heigth="184" alt="{{item.title}}" title="{{item.title}}">
	</a>
	{% endfor %}

	{% if previous == true %}
	<a class="carousel-control left" href="{{url({'page':currentPage-1,"prefix":prefix},true)}}" onclick="changePage({{currentPage-1}}, {{allDamCount}}, {{pageSize}}, {{maxPage}},'{{ prefix }}',{% if image.width %}{{ image.width }}{% else %}null{% endif %},{% if image.height %}{{ image.height }}{% else %}null{% endif %},'{{ jsonQuery|e('js') }}','{{url({'module':'blocks', 'controller':'gallery', 'action':'xhr-get-images'},null,null,'default')}}');return false;">&lsaquo;</a>
	{% endif %}
	{% if next == true %}
	<a class="carousel-control right" href="{{url({'page':currentPage+1,"prefix":prefix},true)}}" onclick="changePage({{currentPage+1}}, {{allDamCount}}, {{pageSize}}, {{maxPage}},'{{ prefix }}',{% if image.width %}{{ image.width }}{% else %}null{% endif %},{% if image.height %}{{ image.height }}{% else %}null{% endif %},'{{ jsonQuery|e('js') }}','{{url({'module':'blocks', 'controller':'gallery', 'action':'xhr-get-images'},null,null,'default')}}');return false;">&rsaquo;</a>
	{% endif %}
</div>