{% extends "root/block.html.twig" %}

{% block mainContent %}

    <div class="block headline">
        {% include "/root/blocks/edition/full-edition-button.html.twig" %}
    
		<h2 class="editable" id="{{ data.id }}_text" data-field-type="title" data-locale="{{ locale }}">{{ data.text }}</h2>
		<div class="alignright">
            {% for taxonomy in data.terms %}
			    {% for term in taxonomy %}
			        <span class="label label-warning">{{term}}</span>
			    {% endfor %}
			{% endfor %}
		</div>
		<div class="clear-both"></div>
		<br>
		
		{% if data.date %}
		    {% include "/root/blocks/fields/date.html.twig" with { "key" : "date" } %}
        {% endif %}
        <br>
        
		<div class="row-fluid">
            {% if data.image %}
                <div class="span3">
                    {% include "/root/blocks/fields/imageField.html.twig" with { "key" : "image" } %}
                </div>
            {% endif %}
    
            {% if data.image %}
                <div class="span9">
            {% else %}
                <div class="span12">
            {% endif %}
                {% include "/root/blocks/fields/CKEfield.html.twig" with { "key" : "body" } %}
            </div>
        </div>
    </div>
    {% if activateDisqus and disqusKey %}
        {{ include('root/blocks/disqus/disqus.html.twig') }}
    {% endif %}
    
{% endblock %}
