{% extends "root/block.html.twig" %}

{% block mainContent %}

<div class="block headline">
	<div class="">
		<h2 class="editable" id="{{ data.id }}_text">{{ data.text }}</h2>
		<div class="alignright">
			{% for term in data.terms %}
			{% if not loop.first %}&nbsp;&nbsp;{% endif %}<span class="label label-warning">{{term}}</span>
			{% endfor %}
		</div>
		<div class="entry-info">
			{% if data.date %}
			Le {{data.date|localizeddate('long', 'none', lang)}}
			{% endif %}
		</div>
		<div style="clear:both;"></div>
		{% if data.image %}
		    <div class="pull-left" style="margin: 1em;">
		        <img class="img-rounded" src="/dam?media-id={{data.image}}&amp;width=400" alt="{{data.text}}" title="{{data.text}}"  />
		    </div>
			
		{% endif %}
		<br/>
		<div class="editable" id="{{ data.id }}_body">
			{{ data.body|cleanHtml }}
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
{% endblock %}
