{% extends "root/block.html.twig" %}

{% block mainContent %}

<div class="block headline">
	<div class="">
		<h2 class="editable" id="{{ data.id }}_text" data-field-type="title">{{ data.text }}</h2>
		<div class="alignright">
            {% for taxonomy in data.terms %}
			    {% for term in taxonomy %}
			        <span class="label label-warning">{{term}}</span>
			    {% endfor %}
			{% endfor %}
		</div>
		{% if data.date %}
            <div class="entry-info date" id="{{ data.id }}_date">
                Le {{data.date|localizeddate('long', 'none', lang)}}
            </div>
        {% endif %}
		<div class="clear-both"></div>
		<div class="row-fluid">
            {% if data.image %}
                <div class="span3 editable-img" id="{{ data.id }}_image">
                    <img class="img-rounded" src="/dam?media-id={{data.image}}&amp;" alt="{{data.text}}" title="{{data.text}}"  />
                </div>
            {% endif %}
    
            {% if data.image %}
                <div class="span9 editable" id="{{ data.id }}_body" data-field-type="{{ type.body.cType }}" data-cke-config="{{ CKEFields.body }}">
            {% else %}
                <div class="span12 editable" id="{{ data.id }}_body" data-field-type="{{ type.body.cType }}" data-cke-config="{{ CKEFields.body }}">
            {% endif %}
                {{ data.body|cleanHtml }}
            </div>
        </div>
	</div>
</div>
{% if activateDisqus and disqusKey %}
{{ include('root/blocks/disqus/disqus.html.twig') }}
{% endif %}
{% endblock %}
