{% extends "root/block.html.twig" %}

{% block mainContent %} 
	<div class="block headline">
	{% include "/root/blocks/edition/full-edition-button.html.twig" %}
	{% for row in customLayoutRows %} 
	   <div class="row-fluid {{ row.responsiveClass }} {{ row.classHTML }}" style="{{ row.elementStyle }}">
	   {% for col in row.columns %}
	       <div class="span{{ col.span }} offset{{ col.offset }} {{ col.responsiveClass }} {{ col.classHTML }}" style="{{ col.elementStyle }}">
	           {% for assignedField in col.fields %}
	               <div class="{{ assignedField.responsiveClass }} {{ assignedField.classHTML }}" style="{{ assignedField.elementStyle }}">
	               {% if assignedField.name=="text"%}
	                   <h1 class="editable" id="{{ data.id }}_text" data-field-type="title">{{ data.text }}</h1>
	               {% elseif assignedField.name=="summary"%}
	                   {% include "/root/blocks/fields/CKEfield.html.twig" with {"data": data, "key": "summary"} %}
	               {% else %}
	                   {% set key=assignedField.name %}
    	               {% set value=data[assignedField.name] %}
    	               {% set cValue=type[assignedField.name]%}
    	               {% if cValue %}
    	                   {%if cValue["cType"]=="ImagePickerField"%}
          					    {% if value != "" %}
          					        {% include 'root/blocks/fields/mediaField.html.twig' %}
          					    {% endif %}
          					{%elseif(cValue["cType"]=="CKEField")%}
          						{% include 'root/blocks/fields/CKEfield.html.twig' %}
          					{%elseif(cValue["cType"]=="ratingField")%}
          						{% include 'root/blocks/fields/rating.html.twig' %}
          					{%elseif(cValue["cType"]=="textareafield")%}
          						{% include 'root/blocks/fields/textarea.html.twig' %}
          					{%elseif(cValue["cType"]=="textfield")%}
          						{% include 'root/blocks/fields/text.html.twig' %}
          					{%elseif(cValue["cType"]=="slider")%}
          						{% include 'root/blocks/fields/slider.html.twig' %}
    						{%elseif(cValue["cType"]=="treepicker")%}
    							{% include 'root/blocks/fields/link-to-page.html.twig' %}
    						{%elseif(cValue["cType"]=="localiserField")%}
    						    {% if value is defined %}
    							    {% include 'root/blocks/fields/localiser.html.twig' %}
    							{% endif %}
          					{%elseif(cValue["cType"]=="datefield")%}
    							    {% include 'root/blocks/fields/date.html.twig' %}
    					    {%elseif(cValue["cType"]=="combobox")%}
    							    {% include 'root/blocks/fields/combobox.html.twig' %}
    						{%elseif(cValue["cType"]=="timefield")%}
    							{% include 'root/blocks/fields/time.html.twig' %}
    						{%elseif(cValue["cType"]=="numberfield")%}
    							{% include 'root/blocks/fields/number.html.twig' %}
    						{%elseif(cValue["cType"]=="externalMediaField")%}
    							{% include 'root/blocks/fields/external-media.html.twig' %}
    						{%elseif(cValue["cType"]=="checkboxfield")%}
    							{% include 'root/blocks/fields/checkbox.html.twig' %}
    						{%elseif(cValue["cType"]=="checkboxgroup")%}
    							{% include 'root/blocks/fields/checkboxgroup.html.twig' %}
    						{%elseif(cValue["cType"]=="radiogroup")%}
    							{% include 'root/blocks/fields/radiogroup.html.twig' %}
    						{%elseif(cValue["cType"]=="DCEField")%}
    							{% include 'root/blocks/fields/dcefield.html.twig' %}
          					{%endif%}
    	               {% endif %}
    	           {% endif %}
    	           </div>
	           {% endfor %}
	       </div>
	   {% endfor %}
	   </div>
	{% endfor %}
    
</div>
{% if activateDisqus and disqusKey %}
{{ include('root/blocks/disqus/disqus.html.twig') }}
{% endif %}
{% endblock %}
