{% extends "root/block.html.twig" %}

{% block mainContent %} 

	<div class="block headline">
	<h1 class="editable" id="{{ data.id }}_text">{{ data.text |cleanHtml }}</h1>
	 {% for key, value in data %}
	        {% if value %}
      		{%for cKey,cValue in type %}
      			{%if(key==cKey)%}
      					{%if cValue=="ImagePickerField"%}
      					    <div class="pull-left thumbnail" style="margin: 1em;">
      						<img alt=""  style="max-height: 200px; max-width: 200px;" class="imageLeft" src="/dam?media-id={{value}}" />
      						</div>
      					{%elseif(cValue=="CKEField")%}
      					<div class="entry-content editable " style="clear:both;"  id="{{ data.id }}_{{key}}">
						{{value|cleanHtml}}
						</div>
      					{%elseif(cValue=="ratingField")%}
      						<div>
      							{%for i in 0..value%}
      							<i class="icon-star"></i>
      							{%endfor%}
      						</div>
      					{%elseif(cValue=="textareafield")%}
      					<div style="clear:right;"><p class="editable "  id="{{ data.id }}_{{key}}">{{ value |cleanHtml }}</p></div>
      					{%elseif(cValue=="textfield")%}
      					<div><span class="editable" id="{{ data.id }}_{{key}}">{{ value |cleanHtml }}</span></div>
      					{%elseif(cValue=="slider")%}
      					<div class="progress progress-info progress-striped" style="clear:both;">
  							<div class="bar" style="width:{{value}}%"></div>
						</div>
						{%elseif(cValue=="treepicker")%}
						<div><a href="http://{{value}}">{{value}}</a></div>
						{%elseif(cValue=="localiserField")%}
						
      					{%endif%}
      			{%endif%}
      		{%endfor%}
      		{%endif%}
    {% endfor %}
</div>
{% endblock %}
