{% extends "root/block.html.twig" %}

{% block mainContent %}

<div class="block headline">
	<div class="">
		<h2 class="editable" id="{{ data.id }}_text"  data-field-type="title">{{ data.text }}</h2>
		<div class="alignright">
			{% for term in data.terms %}
			{% if not loop.first %}&nbsp;&nbsp;{% endif %}<span class="label label-warning">{{term}}</span>
			{% endfor %}
		</div>
{# 
	Date field
#}
		<div class="entry-info">
			{% if data.date %}
			{% if data.dateEnd%}	
			<div class="entry-info">
                <span class="date" id="{{ data.id }}_date">Du {{data.date|localizeddate('long', 'none', lang)}}</span> au <span class="date" id="{{ data.id }}_date">{{data.dateEnd|localizeddate('long', 'none', lang)}}</span>
            </div>
			{% else %}
			{%  if(type["date"]["config"]["multivalued"]) and data.date is iterable%}
	{% for item in data.date %}
	<div class="entry-info date" id="{{ data.id }}_date-{{ loop.index-1 }}">
                A partir du {{item|localizeddate('long', 'none', lang)}}
            </div>
	{% endfor %}
{% else %}
	<div class="entry-info date" id="{{ data.id }}_date">
                A partir du {{data.date|localizeddate('long', 'none', lang)}}
            </div>
{% endif %}
			{% endif %}
			{% endif %}

{# 
	Localisation field
#}
			{% if data.position %}
	<script type="text/javascript"
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW31tpi5nYZPNDt82czNoXBpAc8N_rULQ&amp;sensor=true">
	    </script>
		{% if(type["position"]["config"]["multivalued"]) and data.position is iterable%}
			<div id="{{ data.id }}_position" data-values="{{ data.position|json_encode() }}" data-value="{{ data.summary }}" data-title="{{ data.text }}"  style="height:400px; margin-bottom:10px;" class="row-fluid mapPlaceholder"></div>
		{% else %}
		<div id="{{ data.id }}_position" data-values="{{ data.position|json_encode() }}" data-field="true" data-value="{{ data.summary }}" data-title="{{ data.text }}"  style="height:400px; margin-bottom:10px;" class="row-fluid mapPlaceholder"></div>
		{% endif %}
		{% if isLoggedIn %}
		<div  class="hide list-editmode">
		 <div id="{{ data.id }}_position-error-msg" class="alert alert-error" style="display:none;">
		 <span class="msg"></span>
			 <button type="button" class="close" data-dismiss="alert">&times;</button>
		     </div>
		<div id="{{ data.id }}_position-edit" class="btn-group">
		<legend>Edition</legend>
		<div>
		<label class="control-label" style="display:block; clear:both;" for="inputAddress">Address</label>
		<input class="input-xxlarge address"  style="width:99%;"  type="text" placeholder="{{ value.address|cleanHtml }}" >
		</div>
		<div class="btn-group pull-left">
		<label class="control-label" style="display:block; clear:both;" for="inputLatitude">Latitude</label>
		<input class="input-xxlarge latitude"  type="text" placeholder="{{ value.lat|cleanHtml }}">
		</div>
		<div class="btn-group pull-right">
		<label class="control-label" style="display:block; clear:both;" for="inputLongitude" >Longitude</label>
		<input class="input-xxlarge longitude" type="text" placeholder="{{ value.lon|cleanHtml }}">
		</div>
		<div class="btn-group pull-right" style="clear:both;">
		   <a class="btn btn-warning" type="button" onclick='gMap.mapRefresh("{{ data.id }}_position")'>Rafraichir</a>
		   </div>
		</div>
		</div>
		<div class="clearfix"></div>
		{%endif%}
{% endif %}
		</div>
{# 
	Image field
#}
	<div style="clear:both;"></div>
		{% if data.image %}
 {% if(type["image"]["config"]["multivalued"])and data.image is iterable %}
  {% for item in data.image%}
		<div class="pull-left editable-img" style="margin: 1em;" id="{{ data.id }}_image-{{ loop.index+1 }}">
		        <img class="img-rounded" src="/dam?media-id={{item}}&amp;width=400" alt="{{data.text}}" title="{{data.text}}"  />
		    </div>
{% endfor %} 
{% else %}
		<div class="pull-left editable-img" style="margin: 1em;" id="{{ data.id }}_image">
		        <img class="img-rounded" src="/dam?media-id={{data.image}}&amp;width=400" alt="{{data.text}}" title="{{data.text}}"  />
		    </div>
{% endif %}
		{% endif %}
{# 
	Body field
#}
{%  if(type["body"]["config"]["multivalued"])and data.body is iterable %}
	{% for item in data.body %}
		<br/>
		<div class="editable" id="{{ data.id }}_body#{{ loop.index+1 }}" data-field-type="{{ type.body.cType }}" data-cke-config="{{ CKEFields.body }}">
			{{ item|cleanHtml }}
		</div>
		<div style="clear:both;"></div>
	{% endfor %}
{% else %}
		<br/>
		<div class="editable" id="{{ data.id }}_body" data-field-type="{{ type.body.cType }}" data-cke-config="{{ CKEFields.body }}">
			{{ data.body|cleanHtml }}
		</div>
		<div style="clear:both;"></div>
{% endif %}
{#
 End Content
#}
	</div>
</div>

{% if activateDisqus and disqusKey %}
{{ include('root/blocks/disqus/disqus.html.twig') }}
{% endif %}
{% endblock %}
