{% extends "root/block.html.twig" %}

{% block mainContent %}

<div class="block headline">
	<div class="">
		<h1 class="editable" id="{{ data.id }}_text">{{ data.text|cleanHtml }}</h1>
		<div class="alignright">
			{% for term in data.terms %}
			{% if not loop.first %}&nbsp;&nbsp;{% endif %}<span class="label label-warning">{{term}}</span>
			{% endfor %}
		</div>
		<div class="entry-info">
			{% if data.dateBegin %}
			{% if data.dateEnd%}
			Du {{data.dateBegin}} au {{data.dateEnd}}
			{% else %}
			A partir du {{data.dateBegin}}
			{% endif %}
			{% endif %}
			{% if data.Location %}
			{{data.Location}}
			{% endif %}
			{% if data.date %}
			Le {{data.date}}
			{% endif %}
		</div>
		<div style="clear:both;"></div>
		{% if data.image %}
		
		<div class="thumbnail alignright" style="margin-top:2em;">
			<img src="/dam?media-id={{data.image}}&width=400" alt="{{data.text}}" title="{{data.text}}"  />
		</div>
		{% endif %}
		<br/>
		<div class="editable" id="{{ data.id }}_body">
			{{ data.body|cleanHtml }}
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
{% endblock %}
