<div class="control-group {% if field.id in errors|keys %}error{% endif %} {% if field.itemConfig.hidden %}hide{% endif %}">
<label class="control-label">{{ field.itemConfig.label }}</label>
  <a href="#" class="help" data-toggle="tooltip"  data-placement="right"  title="{{ field.itemConfig.tooltip }}" data-original-title="{{ field.itemConfig.tooltip }}">
      <i class="icon-exclamation-sign" style="margin-left:10px;"></i></a>
       {% if field.id in errors|keys %}<span class="help-inline">{{ errors[field.id] }}</span>{% endif %}

   {% if field.itemConfig.fieldType=="checkboxgroup" %}
   	{% set type="checkbox" %}  
   {% elseif field.itemConfig.fieldType=="radiogroup" %} 
   {% set type="radio" %}  
   {% endif %}

<table class="table table-condensed">
   <tr>
{%  set rank=0 %}
{% for item in field.itemConfig.fieldConfig.items %}
	{% if rank ==field.itemConfig.fieldConfig.columns %}
	</tr>
	<tr> 
	{% set rank=0 %}
	{% endif %}
	<td>
    <label class="{{ type }}">
    <input  class="{{ item.name }} {% if field.itemConfig.check %}formcheck{% endif %} {% if field.itemConfig.conditionalQuestion %}conditional{% endif %}"  {% if field.itemConfig.target %}data-target="{{field.itemConfig.target}}"{% endif %} {% if field.itemConfig.value %}data-value="{{field.itemConfig.value}}"{% endif %} type="{{ type }}" name="{{ item.name }}[]" value="{{item.inputValue}}"> {{item.boxLabel }}
  </label>
  </td>
  {% set rank=rank+1 %}

{% endfor %}
</table>
    </div>