<div class="control-group {% if field.id in errors|keys %}error{% endif %} {% if field.itemConfig.hidden %}hide{% endif %}">
<label class="control-label">{{ field.itemConfig.label | cleanHtml }}</label>{% if field.itemConfig.fieldConfig.mandatory %} *{% endif %}
{% if field.itemConfig.tooltip !=""%}
  <a href="#" class="help" data-toggle="tooltip"  data-placement="right"  title="{{ field.itemConfig.tooltip }}" data-original-title="{{ field.itemConfig.tooltip }}">
      <i class="icon-exclamation-sign icon-margin"></i></a>
      {% endif %}
       {% if field.id in errors|keys %}<span class="help-inline">{{ errors[field.id] }}</span>{% endif %}

   {% if field.itemConfig.fieldType=="checkboxgroup" %}
   	{% set type="checkbox" %}  
   {% elseif field.itemConfig.fieldType=="radiogroup" %} 
   {% set type="radio" %}  
   {% endif %}
   <div class="row-fluid clear-both">
{% set itemsCount=field.itemConfig.fieldConfig.items|length %}
{% set itemsPerCol=(itemsCount /field.itemConfig.fieldConfig.columns)|number_format %}
{% if itemsCount==field.itemConfig.fieldConfig.columns and 2<field.itemConfig.fieldConfig.columns %}
{% set spanClass=(12// field.itemConfig.fieldConfig.columns)%}
{% else%}
{% set spanClass=(12// field.itemConfig.fieldConfig.columns)-1%}
{% endif %}
{% set index=0 %}
{% set corrector=0%}
{% if itemsPerCol*field.itemConfig.fieldConfig.columns<itemsCount %}
{% set corrector=1%}
{% endif %}
<div class="span{{ spanClass }}">
{% for item in field.itemConfig.fieldConfig.items %}
{% if index==itemsPerCol+corrector%}
</div>
<div class="span{{ spanClass }}">
{% set index=0%}
{% endif %}
<div class="clear-both">
    <label class="{{ type }}">
    <input {% if item.inputValue in values[field.id] %} checked="true"{% endif %}class="{{ item.name }} {% if field.itemConfig.isMother %}mother{% endif %} {% if field.itemConfig.isChild %}child{% endif %}"  {% if field.itemConfig.isMother %}data-id="{{ field.id }}"{% endif %}{% if field.itemConfig.target %}data-target="{{field.itemConfig.target}}"{% endif %} {% if field.itemConfig.value %}data-value="{{field.itemConfig.value}}"{% endif %} type="{{ type }}" name="{{ item.name }}[]" value="{{item.inputValue}}"> <p>{{item.boxLabel }}</p>
  </label>
  </div>
  {% set index=index+1 %}
{% endfor %}
 </div>
</div>
</div>