<div class="control-group {% if field.id in errors|keys %}error{% endif %} {% if field.itemConfig.hidden %}hide{% endif %}">
    
    {% if field.itemConfig.tooltip !=""%}
    <a href="#" class="help" data-toggle="tooltip"  data-placement="right"  title="{{ field.itemConfig.tooltip }}" data-original-title="{{ field.itemConfig.tooltip }}">
      <i class="icon-exclamation-sign icon-margin"></i></a>
      {% endif %}
    <div class="controls">
    {%  for question in field.itemConfig.resultingOptions %}
    {% set optionsLooper=loop.index %}
    <input type="hidden"  name="{{ field.id }}question{{optionsLooper}}expPlanRow"  value="{{ field.itemConfig.usedRows[optionsLooper-1] }}">
    <label class="control-label" for="{{ field.id }}">{{ field.itemConfig.label }} {% if field.itemConfig.mandatory %} *{% endif %}</label>  {% if field.id in errors|keys %}<span class="help-inline">{{ errors[field.id] }}</span>{% endif %}
        <div class="clearfix"></div>
      <table class="table" style="width:{{ 200+field.itemConfig.numberOfChoices*70 }}px;">
      <thead>
        <tr>
          <th>Heure</th>
          <th>Prix</th>
          {% for i in 1..field.itemConfig.numberOfChoices %}
            <th>Choix {{ i }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for option in question %}
        <tr>
          <td>{{  option[0] }}</td>
          <td>{{  option[1] }} €</td>
          {% for i in 1..field.itemConfig.numberOfChoices %}
            <td><input type="radio" class="lineExlusiveRadio" name="{{ field.id }}question{{optionsLooper}}choice{{i}}" value="{{  option[2] }}" data-value="{{  option[2] }}" {% if option[2]==values[field.id~"question"~optionsLooper~"choice"~i] %} checked="true"{% endif %}></td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
    </div>
  </div>