{{ 'Notification.Orders.ShopNotification.Hello'|botrans([], workingLanguage) }} <br />
{{ 'Notification.Orders.ShopNotification.Body'|botrans([], workingLanguage) }}<br />

<strong>{{ 'Blocks.OrderDetails.BillingAddress'|botrans([], workingLanguage) }}</strong><br />
{% if billingAddress.company is not empty  %}
    <strong>{{ billingAddress.company }}</strong><br />
{% endif %}
{% if billingAddress.attention is not empty %}
    <strong>{{ billingAddress.attention }}</strong><br />
{% endif %}
{% if billingAddress.address1 is not empty %}
    {{ billingAddress.address1 }}<br />
{% endif %}
{% if billingAddress.address2 is not empty %}
    {{ billingAddress.address2 }}<br />
{% endif %}
{% if billingAddress.city is not empty or billingAddress.postCode is not empty %}
    {{ billingAddress.postCode }} {{ billingAddress.city }}<br />
{% endif %}
{% if billingAddress.regionState is not empty and billingAddress.country is not empty %}
    {{ billingAddress.regionState }}, {{ billingAddress.country|getCountryName }}<br />
{% elseif billingAddress.regionState is not empty or billingAddress.country is not empty %}
    {{ billingAddress.regionState }} {{ billingAddress.country|getCountryName }}<br />
{% endif %}
<br/>
<strong>{{ 'Blocks.OrderDetails.ShippingAddress'|botrans([], workingLanguage) }}</strong><br />
{% if shippingAddress.company is not empty  %}
    <strong>{{ shippingAddress.company }}</strong><br />
{% endif %}
{% if shippingAddress.attention is not empty %}
    <strong>{{ shippingAddress.attention }}</strong><br />
{% endif %}
{% if shippingAddress.address1 is not empty %}
    {{ shippingAddress.address1 }}<br />
{% endif %}
{% if shippingAddress.address2 is not empty %}
    {{ shippingAddress.address2 }}<br />
{% endif %}
{% if shippingAddress.city is not empty or shippingAddress.postCode is not empty %}
    {{ shippingAddress.postCode }} {{ shippingAddress.city }}<br />
{% endif %}
{% if shippingAddress.regionState is not empty and shippingAddress.country is not empty %}
    {{ shippingAddress.regionState }}, {{ shippingAddress.country|getCountryName }}<br />
{% elseif shippingAddress.regionState is not empty or shippingAddress.country is not empty %}
    {{ shippingAddress.regionState }} {{ shippingAddress.country|getCountryName }}<br />
{% endif %}
<br />

<table>
    <thead>
    <tr>
        <th>{{ 'Blocks.OrderDetails.Table.Name'|botrans([], workingLanguage) }}</th>
        <th>{{ 'Blocks.OrderDetails.Table.Cost'|botrans([], workingLanguage) }}</th>
        <th>{{ 'Blocks.OrderDetails.Table.Amount'|botrans([], workingLanguage) }}</th>
        <th>{{ 'Blocks.OrderDetails.Table.Price'|botrans([], workingLanguage) }}</th>
    </tr>
    </thead>
    <tbody>
        {% for product in detailedCart.cart %}
            <tr>
                <td>
                    {{ product.title }}<br />
                    <small>{{ product.subtitle }}</small>
                </td>
                <td>{{ product.unitPrice }} €</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.price }} €</td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                {{ 'Blocks.OrderDetails.Table.ShippingMethod'|botrans([], workingLanguage) }} : {{ shipper.name }}<br />
                <small>{{ shipper.hRDelay }} {{ shipper.hRUnit }}</small>
            </td>
            <td colspan="2"></td>
            <td>{{ shippingPrice }} €</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>{{ 'Blocks.OrderDetails.Table.ShippingTax'|botrans([], workingLanguage) }}</th>
            <td colspan="2"></td>
            <td>{{ shippingTax|number_format(2) }} €</td>
        </tr>
        <tr>
            <th>{{ 'Blocks.OrderDetails.Table.Taxes'|botrans([], workingLanguage) }}</th>
            <td colspan="2"></td>
            <td>{{ finalTaxes|number_format(2) }} €</td>
        </tr>
        <tr>
            <th>{{ 'Blocks.OrderDetails.Table.TotalPrice'|botrans([], workingLanguage) }}</th>
            <td colspan="2"></td>
            <td>{{ finalPrice|number_format(2) }} €</td>
        </tr>
    </tfoot>
</table>
