<!-- header	-->
<div id="header">
<div class="row">
<div class="span12">
	<div class="row">
				<div class="span2 offset1">
					<div class="left logo">
					<img style="max-height:160px;max-width:250px;" src="/templates/journees/images/headerLogo.png" alt="" />
					</div>
				</div>
				<div class="span9" id="title"><span>The <span style="color:#bed600">ZI.Day</span> is your D.Day.</span></div>
			</div>
</div>
</div>
	<div id="nav-block" class="row">
				<div class="span11">
					<div class="navbar">
						<div class="navbar-inner">
							<ul class="nav">
							<li id="menu-item-{{rootPage}}" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.id in rootline %}current-menu-item{% endif %} page_item {% if currentPage == rootPage %}current_page_item{% endif %}">
						<a href="{% if homePage  %}{{ url({'pageId':homePage},true) }}{% endif %}">Accueil</a>
					</li>
					{% for page in pages %}
					<li id="menu-item-{{page.id}}" class="menu-item menu-item-type-custom menu-item-object-custom {% if page.id in rootline %}current-menu-item{% endif %} {% if currentPage == page.id %}current_page_item{% endif %}">
						<a href="{{page.url}}">{{page.title}}</a>
						{% if page.pages %}
						<ul class="sub-menu">
							{% for subpage in page.pages %}
							<li class="menu-item menu-item-type-custom menu-item-object-custom {% if subpage.id in rootline %}current-menu-item{% endif %} {% if currentPage == subpage.id %}current_page_item{% endif %}">
								<a href="{{subpage.url}}">{{subpage.title}}</a>
							</li>
							{% endfor %}

						</ul>
						{% endif %}
					</li>
					{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="span1"> </div>
			</div>
</div>