
<div id="programme-content">
<div style="width:789px; height:80px;">
<img src="/templates/journees/images/prog-back-top.png" usemap="#progmap"/>
<map name="progmap">
  <area shape="rect" coords="720,20,790,50" alt="telecharger" href="/templates/journees/pdf/PROGRAMME-ZID-2013.pdf">
</map>
</div>
	<div style=" width:789px; font-weight: bold; background-color:#ececed;">
		<table>
			<tr>
				<td>8h00 - 8h45</td>
				<td>Enregistrement &amp; café d'accueil.</td>
			</tr>
			<tr>
				<td>8h45 - 9h00</td>
				<td>Mot de bienvenue par M.Lionel DESCOQS et présentation de la journée par les
				<br/>
				Présidents Scientifiques,<a href="#" style="color:#008bcb;" onclick='jQuery("#d-bourgeois").slideDownOnly("slow")'> Pr Denis BOURGEOIS</a> et
				<a href="#" style="color:#008bcb;" onclick='jQuery("#m-jabbour").slideDownOnly("slow")'> Dr Michel JABBOUR.</a></td>
			</tr>
			</table>
		<div class="info" id="m-jabbour" style="color:#008bcb; font-weight:normal; font-style:italic; margin-left:10; line-height:1.4em;display:none;">
		{%for content in data %}
		{%if content.title=="jabbour"%}
		<table>
		<tr>
		<td><img style="border:1px solid #008bcb" src="/dam?media-id={{content.image}}&width=100&height=101&mode=boxed"/></td><td>{{content.bio |cleanHtml}}</td>
		</tr>
		</table>
		<div style="margin-left:40px;">
		<div class="row">
				{%if content.abtitle != ""%}
			<div class="span3" style="height:30px; width:500px; background-color:#008bcb;">
				<div class="title" style="padding: 10px 10px 10px 10px;">
					{{content.abtitle |cleanHtml}}
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:30px; width:30px;"></div>
			</div>
			{%endif%}
		</div>
		<div style=" width:650px; background-color:#ffffff; font-size:1.1em; padding:20px 20px 10px 20px; color:#000000;">{{content.abstract |cleanHtml}}</div>
		</div>
		{%endif%}
		{%endfor%}
		</div>
			<div class="info" id="d-bourgeois" style="color:#008bcb; font-weight:normal; font-style:italic; margin-left:10; line-height:1.4em;display:none;">
		{%for content in data %}
		{%if content.title=="bourgeois"%}
		<table>
		<tr>
		<td><img style="border:1px solid #008bcb" src="/dam?media-id={{content.image}}&width=100&height=101&mode=boxed"/></td><td>{{content.bio |cleanHtml}}</td>
		</tr>
		</table>
		<div style="margin-left:40px;">
		<div class="row">
		{%if content.abtitle != ""%}
			<div class="span3" style="height:30px; width:500px; background-color:#008bcb;">
				<div class="title" style="padding: 10px 10px 10px 10px;">
					{{content.abtitle |cleanHtml}}
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:30px; width:30px;"></div>
			</div>
			{%endif%}
		</div>
		<div style=" width:650px; background-color:#ffffff; font-size:1.1em; padding:20px 20px 10px 20px; color:#000000;">{{content.abstract |cleanHtml}}</div>
		</div>
		{%endif%}
		{%endfor%}
		</div>
			<table>
			<tr>
				<td>9h00 - 9h35</td>
				<td><a href="#"  style="color:#008bcb;" onclick='jQuery("#jf-andre").slideDownOnly("slow")'>Dr Jean-Frédéric ANDRE:</a>
				<br/>
				&laquo;Utilisation de la sédation consciente pour la chirurgie.&raquo;</td>
			</tr>
		</table>
		<div class="info" id="jf-andre" style="color:#008bcb; font-weight:normal; font-style:italic; margin-left:10; line-height:1.4em;display:none;">
		{%for content in data %}
		{%if content.title=="andre"%}
		<table>
		<tr>
		<td><img style="border:1px solid #008bcb" src="/dam?media-id={{content.image}}&width=100&height=101&mode=boxed"/></td><td>{{content.bio |cleanHtml}}</td>
		</tr>
		</table>
		<div style="margin-left:40px;">
		<div class="row">
			{%if content.abtitle != ""%}
			<div class="span3" style="height:30px; width:500px; background-color:#008bcb;">
				<div class="title" style="padding: 10px 10px 10px 10px;">
					{{content.abtitle |cleanHtml}}
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:30px; width:30px;"></div>
			</div>
			{%endif%}
		</div>
		<div style=" width:650px; background-color:#ffffff; font-size:1.1em; padding:20px 20px 10px 20px; color:#000000;">{{content.abstract |cleanHtml}}</div>
		</div>
		{%endif%}
		{%endfor%}
		</div>
		<table>
			<tr>
				<td>9h35 - 10h20</td>
				<td><a href="#"  style="color:#008bcb;" onclick='jQuery("#a-agnini").slideDownOnly("slow")'>Dr Alessandro AGINI:</a>
				<br/>
				&laquo; Les nouvelles technologies CFAO au service des patients:
				<br/>
				de la caméra intra-orale à la systématisation de la solution numérique.&raquo; </td>
			</tr>
				</table>
		<div class="info" id="a-agnini" style="color:#008bcb; font-weight:normal; font-style:italic; margin-left:10; line-height:1.4em;display:none;">
		{%for content in data %}
		{%if content.title=="agnini"%}
		<table>
		<tr>
		<td><img style="border:1px solid #008bcb" src="/dam?media-id={{content.image}}&width=100&height=101&mode=boxed"/></td><td>{{content.bio |cleanHtml}}</td>
		</tr>
		</table>
		<div style="margin-left:40px;">
		<div class="row">
			{%if content.abtitle != ""%}
			<div class="span3" style="height:45px; width:500px; background-color:#008bcb;">
				<div class="light-title" style="padding: 10px 10px 10px 10px;">
					{{content.abtitle |cleanHtml}}
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:45px; width:30px;"></div>
			</div>
			{%endif%}
		</div>
		<div style=" width:650px; background-color:#ffffff; font-size:1.1em; padding:20px 20px 10px 20px; color:#000000;">{{content.abstract |cleanHtml}}</div>
		</div>
		{%endif%}
		{%endfor%}
		</div>
		<table>
			
			<tr>
				<td>10h20 - 10h40</td>
				<td>Pause.</td>
			</tr>
			<tr>
				<td>10h40 - 11h00</td>
				<td>Dr Michel JABBOUR:
				<br/>
				&laquo; Présentation du film de la réouverture du cas de reconstruction maxiliaire, présenté le 24 mai 2012, et de l'étude clinique à 2 ans sur le Puros &copy;. &raquo;</td>
			</tr>
			<tr>
				<td>11h00 - 11h35</td>
				<td><a href="#"  style="color:#008bcb;" onclick='jQuery("#f-cangemi").slideDownOnly("slow")'>Dr Franck CANGEMI:</a>
				<br/>
				&laquo; Les mini-implants, la solution pour le patient âgé ? &raquo; </td>
			</tr>
	</table>
		<div class="info" id="f-cangemi" style="color:#008bcb; font-weight:normal; font-style:italic; margin-left:10; line-height:1.4em;display:none;">
		{%for content in data %}
		{%if content.title=="cangemi"%}
		<table>
		<tr>
		<td><img style="border:1px solid #008bcb" src="/dam?media-id={{content.image}}&width=100&height=101&mode=boxed"/></td><td>{{content.bio |cleanHtml}}</td>
		</tr>
		</table>
		<div style="margin-left:40px;">
		<div class="row">
			<div class="span3" style="height:30px; width:500px; background-color:#008bcb;">
				<div class="title" style="padding: 10px 10px 10px 10px;">
					{{content.abtitle |cleanHtml}}
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:30px; width:30px;"></div>
			</div>
		</div>
		<div style=" width:650px; background-color:#ffffff; font-size:1.1em; padding:20px 20px 10px 20px; color:#000000;">{{content.abstract |cleanHtml}}</div>
		</div>
		{%endif%}
		{%endfor%}
		</div>
		<table>
			<tr>
				<td>11h35 - 12h20</td>
				<td><a href="#"  style="color:#008bcb;" onclick='jQuery("#j-surmenain").slideDownOnly("slow")'>Dr Jérôme SURMENAIN:</a>
				<br/>
				&laquo; Le matériau Trabecular Metal en implantologie dentaire :
				<br/>
				pour quels types de patients ? &raquo; </td>
			</tr>
			</table>
	<div class="info" id="j-surmenain" style="color:#008bcb; font-weight:normal; font-style:italic; margin-left:10; line-height:1.4em;display:none;">
		{%for content in data %}
		{%if content.title=="surmenain"%}
		<table>
		<tr>
		<td><img style="border:1px solid #008bcb" src="/dam?media-id={{content.image}}&width=100&height=101&mode=boxed"/></td><td>{{content.bio |cleanHtml}}</td>
		</tr>
		</table>
		<div style="margin-left:40px;">
		<div class="row">
			{%if content.abtitle != ""%}
			<div class="span3" style="height:35px; width:560px; background-color:#008bcb;">
				<div class="light-title" style="padding: 10px 10px 10px 10px;">
					{{content.abtitle |cleanHtml}}
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:35px; width:30px;"></div>
			</div>
			{%endif%}
		</div>
		<div style=" width:650px; background-color:#ffffff; font-size:1.1em; padding:20px 20px 10px 20px; color:#000000;">{{content.abstract |cleanHtml}}</div>
		</div>
		{%endif%}
		{%endfor%}
		</div>
		<table>
			<tr>
				<td>12h20 - 13h30</td>
				<td>Déjeuner cocktail</td>
			</tr>
			<tr>
				<td>13h30 - 15h00</td>
				<td><a href="/accueil/invite" style="color:#008bcb;">Dr Dennis TARNOW:</a>
				<br/>
				&laquo; Extraction - implantation immédiate ou différée ?
				<br/>
				L'étât de l'art. &raquo; </td>
			</tr>
			<tr>
				<td>15h00 - 15h20</td>
				<td>Pause.</td>
			</tr>
			<tr>
				<td>15h20 - 17h30</td>
				<td>Dr Dennis TARNOW:
				<br/>
				&laquo; Les Péri-implantites : ce que nous savons, ce que nous pensons savoir,
				<br/>
				et ce que nous ne savons pas. &raquo; </td>
			</tr>
			<tr>
				<td>17h30 - 17h50</td>
				<td>Questions au Dr Dennis TARNOW</td>
			</tr>
			<tr>
				<td>17h50 - 18h00</td>
				<td>Clôture de la ZID par le Comité Scientifique et M. Descoqs.</td>
			</tr>
		</table>
	</div>
	<div style="float:right; margin-right:25px; font-size:1em; font-weight:normal; font-style:italic; color:#008bcb;">
		Traduction simultanée des conférences
		<br/>
		par le Docteur Marie-Pascale HIPPOLYTE
	</div>
	<div style="width:789px; height:98px; background-image:url('/templates/journees/images/prog-back-bottom.png') !important;"></div>
</div>

</div>