<div class="control-group {% if field.id in errors|keys %}error{% endif %} {% if field.itemConfig.hidden %}hide{% endif %}">
    <label class="control-label" for="{{ field.id }}">{{ field.itemConfig.label | cleanHtml }}</label>{% if field.itemConfig.fieldConfig.mandatory %} *{% endif %}
    {% if field.itemConfig.tooltip !=""%}
    <a href="#" class="help" data-toggle="tooltip"  data-placement="right" title="{{ field.itemConfig.tooltip }}" data-original-title="{{ field.itemConfig.tooltip }}">
      <i class="icon-exclamation-sign icon-margin"></i></a>
      {% endif %}
    <div class="controls">
      <input type="time" placeholder="hh:mm" class="{{field.id}}{% if field.itemConfig.isMother %}mother{% endif %} {% if field.itemConfig.isChild %}child{% endif %}"  {% if field.itemConfig.target %}data-target="{{field.itemConfig.target}}"{% endif %} {% if field.itemConfig.value %}data-value="{{field.itemConfig.value}}"{% endif %} id="{{ field.id }}" name="{{ field.id }}" value="{{ values[field.id] }}">
       {% if field.id in errors|keys %}<span class="help-inline">{{ errors[field.id] }}</span>{% endif %}
    </div>
  </div>