{%  if(type[key]["config"]["multivalued"]) and data[key] is iterable%}
	{% for item in data[key] %}
	{% include "/blocks/edition/edition-tooltip-button.html.twig" %}
        {% if item %}
            <div>
                <a href="{{ displayUrl(item) }}" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">{{ contentTitles[type[key]["config"]["name"]][loop.index-1] }}</a>
            </div>
        {% endif %}
	{% endfor %}
{% else %}
{% include "/blocks/edition/edition-tooltip-button.html.twig" %}
  {% if data[key] %}
      <div>
          <a href="{{ displayUrl(data[key]) }}" id="{{ data.id }}_{{ key }}">{{ contentTitles[type[key]["config"]["name"]] }}</a>
      </div>
  {% endif %}
{% endif %}