{%  if(type[key]["config"]["multivalued"]) and data[key] is iterable%}
	{% for item in data[key] %}
<label class="checkbox cursor-default checkbox-edit" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}" data-locale="{{ locale }}">
   <input disabled type="checkbox" {%  if (item) %}checked{% endif %}>  {{ type[key]["config"]["fieldLabel"] }} 
</label>
	{% endfor %}
{% else %}
	
<label class="checkbox cursor-default checkbox-edit" id="{{ data.id }}_{{ key }}" data-locale="{{ locale }}">
   <input disabled type="checkbox" {%  if (data[key]) %}checked{% endif %}>  {{ type[key]["config"]["fieldLabel"] }} 
</label>
{% endif %}