{%  if(cValue["config"]["multivalued"]) and value is iterable%}
<p>{{ cValue["config"]["fieldLabel"] }} </p>
	{% for item in value %}
<div class="checkboxgroup-edit" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}" >
	{% for radioButton in cValue["config"]["items"] %}
		<label class="cursor-default checkboxgroupel-edit">
		  <input type="checkbox" name="{{ radioButton.name }}"  value="{{ radioButton.inputValue }}" disabled {% if radioButton.inputValue==item[radioButton.name]%}checked{% elseif item[radioButton.name] is iterable and radioButton.inputValue in item[radioButton.name] %}checked{% endif  %}>
		  {{ radioButton.boxLabel }}
		</label>
	{% endfor %}
	</div>
	{% endfor %}
{% else %}
<p>{{ cValue["config"]["fieldLabel"] }} </p>
  <div class="checkboxgroup-edit" id="{{ data.id }}_{{ key }}" > 
	{% for radioButton in cValue["config"]["items"] %}
		<label class="cursor-default checkboxgroupel-edit">
		  <input type="checkbox" name="{{ radioButton.name }}"  value="{{ radioButton.inputValue }}" disabled {% if radioButton.inputValue==value[radioButton.name]%}checked{% elseif value[radioButton.name] is iterable and radioButton.inputValue in value[radioButton.name] %}checked{% endif  %}>
		  {{ radioButton.boxLabel }}
		</label>
	{% endfor %}
	</div>
{% endif %}