
{% if type[key]["config"]["multivalued"] and data[key] is iterable %}
	{% for item in data[key] %}
    	<div class="entry-info date" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">
            {{item|localizeddate('long', 'none', language.locale)}}
    	</div>
	{% endfor %}
{% elseif data[key] is defined and data[key] is not null%}
	<div class="entry-info date" id="{{ data.id }}_{{ key }}">
        {{data[key]|localizeddate('long', 'none', language.locale)}}
	</div>
{% else %}
    <div class="alert alert-warning">Le format des données n'est pas compatible.</div>
{% endif %}