
{% if type[key]["config"]["multivalued"] and data[key] is iterable %}
	{% for item in data[key] %}
	{% include "/root/blocks/edition/edition-tooltip-button.html.twig" %}
    	<div class="entry-info date" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}" data-locale="{{ locale }}">
            {{item|localizeddate('long', 'none', language.locale)}}
    	</div>
	{% endfor %}
{% elseif data[key] is defined and data[key] is not null%}
{% include "/root/blocks/edition/edition-tooltip-button.html.twig" %}
	<div class="entry-info date" id="{{ data.id }}_{{ key }}" data-locale="{{ locale }}">
        {{data[key]|localizeddate('long', 'none', language.locale)}}
	</div>
{% else %}
    <div class="alert alert-warning">{{ "Fields.Date.Label.BadFormat" | fotrans }}</div>
{% endif %}