
{%  if(cValue["config"]["multivalued"]) and value is iterable%}
	{% for item in data.date %}
		<div class="entry-info date" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">
    Le {{item|localizeddate('long', 'none', lang)}}
	</div>
	{% endfor %}
{% else %}
	<div class="entry-info date" id="{{ data.id }}_{{ key }}">
    Le {{data.date|localizeddate('long', 'none', lang)}}
	</div>
{% endif %}