{%  if(cValue["config"]["multivalued"]) and value is iterable%}
	{% for item in value %}
<a href="{{ displaySingleUrl(item) }}" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">{{ contentTitles[cValue["config"]["name"]][loop.index-1] }}</a>
	{% endfor %}
{% else %}
  <a href="{{ displaySingleUrl(value) }}" id="{{ data.id }}_{{ key }}">{{ contentTitles[cValue["config"]["name"]] }}</a>
{% endif %}