<div class="{% if thumbnail %}thumbnail{% endif %} editable-img" id="{{ contentId }}_{{ key }}">
    <img class="img-field {% if imageRounded %}image-rounded{% endif %} imageLeft" src="/dam?media-id={{ contentId }}{% if width %}&width={{ width }}{% endif %}{% if height %}&height={{ height }}{% endif %}{% if mode %}&mode={{ mode }}{% endif %}" alt="{{data.text}}" title="{{data.text}}" />
</div>