 {% if(cValue["config"]["multivalued"]) %} {% for item in value %}
<div class="pull-left thumbnail" style="margin: 1em;">
	<img alt="" style="max-height: 200px; max-width: 200px;"
		class="imageLeft" src="/dam?media-id={{item}}" />
</div>
{% endfor %} {% else %}
<div class="pull-left thumbnail editable-img" id="{{ data.id }}_{{ key }}" style="margin: 1em;">
    <img class="img-rounded imageLeft" src="/dam?media-id={{ value }}" alt="{{data.text}}" title="{{data.text}}" style="max-width:200px; max-height: 200px;" />
</div>
{% endif %}
