{% if isLoggedIn %}
{%if query.type=="manual" or query.type=="simple"%}
<div id="list-editmode" class="hide">
	<div class="btn-group pull-left">
	<a class="btn" href="#" id="btn-add-content" onclick="createContentWindow('{{query.type}}','{{data[0].typeId}}','{{query.id}}')"> <i class="icon-plus-sign"></i>
	Ajouter un contenu
	</a>
	</div>
</div>
<div class="clearfix"></div>
{%endif%}
{%endif%}

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW31tpi5nYZPNDt82czNoXBpAc8N_rULQ&amp;sensor=true">
    </script>
{% if(cValue["config"]["multivalued"]) and value is iterable%}
	<div id="{{ data.id }}_{{key}}" data-values="{{ value|json_encode() }}" data-value="{{ data.summary }}" data-title="{{ data.text }}"  style="height:400px; margin-bottom:10px;" class="row-fluid mapPlaceholder"></div>
{% else %}
<div id="{{ data.id }}_{{key}}" data-values="{{ value|json_encode() }}" data-field="true" data-value="{{ data.summary }}" data-title="{{ data.text }}"  style="height:400px; margin-bottom:10px;" class="row-fluid mapPlaceholder"></div>
{% endif %}

{% if isLoggedIn %}
<div  class="hide list-editmode">
 <div id="{{ data.id }}_{{key}}-error-msg" class="alert alert-error" style="display:none;">
 <span class="msg"></span>
	 <button type="button" class="close" data-dismiss="alert">&times;</button>
     </div>
<div id="{{ data.id }}_{{key}}-edit" class="btn-group">
<legend>Edition</legend>
<div>
<label class="control-label" style="display:block; clear:both;" for="inputAddress">Address</label>
<input class="input-xxlarge address"  style="width:99%;"  type="text" placeholder="{{ value.address|cleanHtml }}" >
</div>
<div class="btn-group pull-left">
<label class="control-label" style="display:block; clear:both;" for="inputLatitude">Latitude</label>
<input class="input-xxlarge latitude"  type="text" placeholder="{{ value.lat|cleanHtml }}">
</div>
<div class="btn-group pull-right">
<label class="control-label" style="display:block; clear:both;" for="inputLongitude" >Longitude</label>
<input class="input-xxlarge longitude" type="text" placeholder="{{ value.lon|cleanHtml }}">
</div>
<div class="btn-group pull-right" style="clear:both;">
   <a class="btn btn-warning" type="button" onclick='gMap.mapRefresh("{{ data.id }}_{{ key }}")'>Rafraichir</a>
   </div>
</div>
</div>
<div class="clearfix"></div>
{%endif%}
