{% if isLoggedIn %}
    {%if query.type=="manual" or query.type=="simple"%}
        <div id="list-editmode" class="hide">
        	<div class="btn-group pull-left">
        	    <a class="btn" href="#" id="btn-add-content" onclick="createContentWindow('{{query.type}}','{{data[0].typeId}}','{{query.id}}')">
        	        <i class="icon-plus-sign"></i> Ajouter un contenu
        	    </a>
        	</div>
        </div>
        <div class="clearfix"></div>
    {%endif%}
{%endif%}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?{% if (googleMapsKey) %}key={{ googleMapsKey }}&{% endif %}sensor=true"></script>

{% if type[key]["config"]["multivalued"] and data[key] is iterable %}
	<div id="{{ data.id }}_{{key}}" data-values="{{ data[key]|json_encode() }}" data-value="{{ data.summary }}" data-title="{{ data.text }}" class="localiser-rubedo row-fluid mapPlaceholder"></div>
{% else %}
    <div id="{{ data.id }}_{{key}}" data-values="{{ data[key]|json_encode() }}" data-field="true" data-value="{{ data.summary }}" data-title="{{ data.text }}" class="localiser-rubedo row-fluid mapPlaceholder"></div>
{% endif %}

{% if isLoggedIn %}
    <div  class="hide list-editmode">
        <div id="{{ data.id }}_{{key}}-error-msg" class="hidden-rubedo alert alert-error">
            <span class="msg"></span>
    	    <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    
        <div id="{{ data.id }}_{{key}}-edit" class="btn-group">
            <legend>Edition</legend>
            
            <div>
                <label class="show-rubedo clear-both control-label" for="inputAddress">Adresse</label>
                <input class="input-xxlarge address localiser-address"  type="text" placeholder="{{ data[key].address|cleanHtml }}" >
            </div>
    
            <div class="btn-group pull-left">
                <label class="show-rubedo clear-both control-label" for="inputLatitude">Latitude</label>
                <input class="input-xxlarge latitude"  type="text" placeholder="{{ data[key].lat|cleanHtml }}">
            </div>
    
            <div class="btn-group pull-right">
                <label class="show-rubedo clear-both control-label" for="inputLongitude" >Longitude</label>
                <input class="input-xxlarge longitude" type="text" placeholder="{{ data[key].lon|cleanHtml }}">
            </div>
            
            <div class="clear-both btn-group pull-right">
               <a class="btn btn-warning" type="button" onclick='gMap.mapRefresh("{{ data.id }}_{{ key }}")'>Rafraîchir</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{%endif%}
