{%  if(type[key]["config"]["multivalued"]) and data[key] is iterable%}
	{% for item in data[key] %}
	{% include "/root/blocks/edition/edition-tooltip-button.html.twig" %}
		<div class="number" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">
            <span class="currentNumber">{{ item }}</span>
        </div>
	{% endfor %}
{% else %}
{% include "/root/blocks/edition/edition-tooltip-button.html.twig" %}
	<div class="number" id="{{ data.id }}_{{ key }}">
        <span class="currentNumber">{{ data[key] }}</span>
    </div>
{% endif %}