

{%  if(cValue["config"]["multivalued"])and value is iterable %}
	{% for item in value %}
		{%set fvalue=item|number_format(0, '.', '') %}
		{%if item==fvalue%}
		{%set decimal="false"%}
		{%else%}
		{%set decimal="true"%}
		{%endif%}
		<div id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}" data-rate="{{item }}">
			{%for i in 1..cValue["config"]["numberOfStars"]%}
				{%if loop.index==fvalue and decimal=="true" %}
				<i class="half-star star-edit" data-index="{{ loop.index }}" data-value="0.5" data-min-value="{{ cValue["config"]["minValue"] }}" data-max-value="{{ cValue["config"]["maxValue"] }}">
				</i>
				{%elseif loop.index>item%}
				<i class="empty-star star-edit" data-index="{{ loop.index }}" data-value="0" data-min-value="{{ cValue["config"]["minValue"] }}" data-max-value="{{ cValue["config"]["maxValue"] }}">
				</i>
				{%else%}
				<i class="full-star star-edit" data-index="{{ loop.index }}" data-value="1" data-min-value="{{ cValue["config"]["minValue"] }}"  data-max-value="{{ cValue["config"]["maxValue"] }}">
				</i>
				{%endif%}
				{% endfor %}
		</div>
	{%endfor%}
{% else %}
	{%set fvalue=value|number_format(0, '.', '') %}
	{%if value==fvalue%}
	{%set decimal="false"%}
	{%else%}
	{%set decimal="true"%}
	{%endif%}
	<div id="{{ data.id }}_{{ key }}" data-rate="{{ value }}">
		{%for i in 1..cValue["config"]["numberOfStars"]%}
			{%if loop.index==fvalue and decimal=="true" %}
			<i class="half-star star-edit" data-index="{{ loop.index }}" data-value="0.5" data-min-value="{{ cValue["config"]["minValue"] }}" data-max-value="{{ cValue["config"]["maxValue"] }}">
			</i>
			{%elseif loop.index>value%}
			<i class="empty-star star-edit" data-index="{{ loop.index }}" data-value="0" data-min-value="{{ cValue["config"]["minValue"] }}" data-max-value="{{ cValue["config"]["maxValue"] }}">
			</i>
			{%else%}
			<i class="full-star star-edit" data-index="{{ loop.index }}" data-value="1" data-min-value="{{ cValue["config"]["minValue"] }}"  data-max-value="{{ cValue["config"]["maxValue"] }}">
			</i>
			{%endif%}
		{%endfor%}
	</div>
{% endif %}

