
{%set fvalue=value|number_format(0, '.', '') %}
{%if value==fvalue%}
{%set decimal="false"%}
{%else%}
{%set decimal="true"%}
{%endif%}
{%  if(cValue["config"]["multivalued"])and value is iterable %}
<div id="{{ data.id }}_{{ key }}">
{% for item in value %}
{%if decimal=="true"%}
{%set item=item+1%}
{%endif%}
	{%for i in 1..cValue["config"]["numberOfStars"]%}
		{%if loop.index>item%}
		<i class="icon-star-empty star-edit" data-value="{{ loop.index }}" data-min-value="{{ cValue["config"]["minValue"] }}" data-max-value="{{ cValue["config"]["maxValue"] }}"></i>
		{%else%}
		<i class="icon-star star-edit"  data-value="{{ loop.index }}" data-min-value="{{ cValue["config"]["minValue"] }}"  data-max-value="{{ cValue["config"]["maxValue"] }}"></i>
		{%endif%}
	{%endfor%}

{% endfor %}
</div>
{% else %}
<div id="{{ data.id }}_{{ key }}">
{%if decimal=="true"%}
{%set value=value+1%}
{%endif%}

	{%for i in 1..cValue["config"]["numberOfStars"]%}
		{%if loop.index>value%}
		<i class="icon-star-empty star-edit" data-value="{{ loop.index }}" data-min-value="{{ cValue["config"]["minValue"] }}" data-max-value="{{ cValue["config"]["maxValue"] }}"></i>
		{%else%}
		<i class="icon-star star-edit"  data-value="{{ loop.index }}" data-min-value="{{ cValue["config"]["minValue"] }}"  data-max-value="{{ cValue["config"]["maxValue"] }}"></i>
		{%endif%}
	{%endfor%}
</div>
{% endif %}

