{%  if(cValue["config"]["multivalued"])and value is iterable %}
	{% for item in value %}
		<div class="editable" id="{{ data.id }}_{{key}}#{{ loop.index-1 }}" data-field-type="{{ type[key].cType }}">{{ item }}</div>
	{% endfor %}
{% else %}
	<div class="editable" id="{{ data.id }}_{{key}}" data-field-type="{{ type[key].cType }}">{{ value }}</div>
{% endif %}