
{%  if(cValue["config"]["multivalued"]) and value is iterable%}
	{% for item in value %}
<div class="time" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}">
    <span class="currentTime">{{ item }}</span>
</div>
	{% endfor %}
{% else %}
<div class="time" id="{{ data.id }}_{{ key }}">
    <span class="currentTime">{{ data[key] }}</span>
</div>
{% endif %}