
{%  if(type[key]["config"]["multivalued"]) and data[key] is iterable%}
	{% for item in data[key] %}
        <div class="time" id="{{ data.id }}_{{ key }}-{{ loop.index-1 }}" data-locale="{{ locale }}">
            <span class="currentTime">{{ item }}</span>
        </div>
	{% endfor %}
{% else %}
    <div class="time" id="{{ data.id }}_{{ key }}" data-locale="{{ locale }}">
        <span class="currentTime">{{ data[key] }}</span>
    </div>
{% endif %}