<div class="control-group">
    <label class="control-label">{{ type[key]['config']['fieldLabel'] }}</label>
    <div class="controls">
        {% for radio in type[key]["config"]["items"] %}
            <label>
                <input
                        type="radio"
                        name="{{ type[key]['config']['name'] }}[{{ radio.name }}]"
                        value="{{ radio.inputValue }}"
                        {% if radio.inputValue == data[type[key].config.name][radio.name] %}checked="checked" {% endif %} />
                {{ radio.boxLabel }}
            </label>
        {% endfor %}
    </div>
</div>
