<div class="control-group">
    {%  if type[key]["config"]["multivalued"] %}
        <label class="control-label" for="{{ type[key]['config']['name'] }}">
            {{ type[key]['config']['fieldLabel'] }}
            <i class="icon-plus user-field-add"></i>
        </label>
        <ul class="controls unstyled" data-prototype="{{ ('
        <input
            placeholder="' ~ type[key]['config']['fieldLabel'] ~ '"
            type="range"
            max="' ~ type[key]['config']['maxValue'] ~ '"
            min="' ~ type[key]['config']['minValue'] ~ '"
            step="' ~ (1/type[key]['config']['split']) ~ '"
            name="' ~ type[key]['config']['name'] ~ '[]" />')|e('html_attr') }}">
        {% for item in data[key]|ensureIsArray if item %}
            <li>
                <input
                        placeholder="{{ type[key]['config']['fieldLabel'] }}"
                        value="{{ item }}"
                        type="range"
                        min="{{ type[key]['config']['minValue'] }}"
                        max="{{ type[key]['config']['maxValue'] }}"
                        step="{{ (1/type[key]['config']['split']) }}"
                        id="{{ type[key]['config']['name'] }}"
                        name="{{ type[key]['config']['name'] }}[]"
                        {% if not type[key]['config']['allowBlank'] %}required{% endif %} />
                <i class="icon-minus user-field-remove"></i>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <label class="control-label" for="{{ type[key]['config']['name'] }}">
            {{ type[key]['config']['fieldLabel'] }}
        </label>
        <div class="controls">
            <input
                    placeholder="{{ type[key]['config']['fieldLabel'] }}"
                    value="{{ data[key] }}"
                    type="range"
                    min="{{ type[key]['config']['minValue'] }}"
                    max="{{ type[key]['config']['maxValue'] }}"
                    step="{{ (1/type[key]['config']['split']) }}"
                    id="{{ type[key]['config']['name'] }}"
                    name="{{ type[key]['config']['name'] }}"
                    {% if not type[key]['config']['allowBlank'] %}required{% endif %} />
        </div>
    {% endif %}
</div>