{% extends "/block.html.twig" %}

{% block mainContent %}
    {% if canEdit and editProfile is defined and success is empty %}
        {% include '/blocks/userProfile/userProfile_edit.html.twig' %}
    {% elseif canEdit and editLogin is defined %}
        {% include '/blocks/userProfile/userLogin_edit.html.twig' %}
    {% else %}
        <div class="block headline">
        {% include "/blocks/edition/full-edition-button.html.twig" %}
        {% if canEdit %}
            <div class="btn-group pull-right">
                <a href="?editProfile" class="btn"><i class="icon-edit"></i> {{ 'Blocks.UserProfile.Edit.Profile'|fotrans }}</a>
                <a href="?editLogin" class="btn"><i class="icon-edit"></i> {{ 'Blocks.UserProfile.Edit.Login'|fotrans }}</a>
            </div>
        {% endif %}
        {% for row in customLayoutRows %}
           <div class="row-fluid {{ row.responsiveClass }} {{ row.classHTML }}" style="{{ row.elementStyle }}">
           {% for col in row.columns %}
               <div class="span{{ col.span }} offset{{ col.offset }} {{ col.responsiveClass }} {{ col.classHTML }}" style="{{ col.elementStyle }}">
                   {% for assignedField in col.fields %}
                       <div class="{{ assignedField.responsiveClass }} {{ assignedField.classHTML }}" style="{{ assignedField.elementStyle }}">
                       {% if assignedField.showLabel %}
                       <dl class="dl-horizontal">
                         <dt>{{ type[assignedField.name]["config"]["fieldLabel"] }}</dt>
                         <dd>
                       {% endif %}
                       {% if assignedField.name=="name"%}
                           <h2>{{ user.name }}</h2>
                       {% elseif assignedField.name=="email"%}
                           <p>{{ user.email }}</p>
                       {% elseif assignedField.name=="photo"%}
                           {% if user.photo %}
                                <img src="{{ userAvatar(user.id) }}"  alt="{{user.name}} photo">
                            {% endif %}
                       {% else %}
                           {% set key=assignedField.name %}
                           {% set value=data[assignedField.name] %}
                           {% set cValue=type[assignedField.name]%}
                           {% if cValue %}
                               {%if cValue["cType"]=="Rubedo.view.ImagePickerField"%}
                                    {% if value != "" %}
                                        {% include '/blocks/userFields/mediaField.html.twig' %}
                                    {% endif %}
                                {%elseif(cValue["cType"]=="Rubedo.view.CKEField")%}
                                    {% include '/blocks/userFields/CKEfield.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.ux.widget.Rating")%}
                                    {% include '/blocks/userFields/rating.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.form.field.TextArea")%}
                                    {% include '/blocks/userFields/textarea.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.form.field.Text")%}
                                    {% include '/blocks/userFields/text.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.slider.Single")%}
                                    {% include '/blocks/userFields/slider.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.ux.TreePicker")%}
                                    {% include '/blocks/userFields/link-to-page.html.twig' %}
                                {%elseif(cValue["cType"]=="Rubedo.view.localiserField")%}
                                    {% if value is defined %}
                                        {% include '/blocks/userFields/localiser.html.twig' %}
                                    {% endif %}
                                {%elseif(cValue["cType"]=="Ext.form.field.Date")%}
                                    {% include '/blocks/userFields/date.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.form.field.ComboBox")%}
                                    {% include '/blocks/userFields/combobox.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.form.field.Time")%}
                                    {% include '/blocks/userFields/time.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.form.field.Number")%}
                                    {% include '/blocks/userFields/number.html.twig' %}
                                {%elseif(cValue["cType"]=="Rubedo.view.externalMediaField")%}
                                    {% include '/blocks/userFields/external-media.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.form.field.Checkbox")%}
                                    {% include '/blocks/userFields/checkbox.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.form.CheckboxGroup")%}
                                    {% include '/blocks/userFields/checkboxgroup.html.twig' %}
                                {%elseif(cValue["cType"]=="Ext.form.RadioGroup")%}
                                    {% include '/blocks/userFields/radiogroup.html.twig' %}
                                {%elseif(cValue["cType"]=="Rubedo.view.DCEField")%}
                                    {% include '/blocks/userFields/dcefield.html.twig' %}
                                {%endif%}
                           {% endif %}
                       {% endif %}
                       {% if assignedField.showLabel %}
                            </dd>
                           </dl>
                       {% endif %}
                       </div>
                   {% endfor %}
               </div>
           {% endfor %}
           </div>
        {% endfor %}
        </div>
    {% endif %}

{% endblock %}
