{% extends "@Root/block.html.twig" %}

{% block mainContent %}
    <h5>{{ 'Blocks.Auth.Title.ChangePassword' | fotrans }}</h5>
    <form class="form-horizontal" method="post">
        <div class="control-group">
            <label class="control-label" for="password">{{ "Blocks.Auth.Label.Password" | fotrans }} *</label>

            <div class="controls">
                <input
                        type="password"
                        id="password"
                        class="input-medium"
                        placeholder="{{ "Blocks.Auth.Label.Password" | fotrans }}"
                        value="{{ password }}"
                        required="required"
                        name="password"
                        />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="passwordConfirm">{{ "Blocks.Auth.Label.PasswordConfirm" | fotrans }}
                *</label>

            <div class="controls">
                <input
                        type="password"
                        id="passwordConfirm"
                        class="input-medium"
                        placeholder="{{ "Blocks.Auth.Label.PasswordConfirm" | fotrans }}"
                        value="{{ passwordConfirm }}"
                        required="required"
                        name="passwordConfirm"
                        />
            </div>
        </div>
        {% if error %}
            <div class="alert alert-error">
                {{ error | fotrans }}
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success">
                {{ 'Blocks.Auth.Success.PasswordChanged' | fotrans }}
            </div>
        {% endif %}
        <input type="submit" class="btn btn-primary" value="{{ 'Blocks.Auth.Label.ChangePassword' | fotrans }}"{% if success %} disabled="disabled"{% endif %}/>
    </form>
{% endblock %}
