<p>{{ 'Blocks.Auth.Email.Hi' | fotrans({"%name%": ''}, lang) }}</p>
<p>{{ 'Blocks.Auth.Email.sendToken.requestSent.Line1' | fotrans([], lang) }}
    {{ 'Blocks.Auth.Email.sendToken.requestSent.Line2' | fotrans([], lang) }}
    {{ 'Blocks.Auth.EmailHtml.sendToken.requestSent.Line3' | fotrans({'%tokenLink%': ((URI ~ link)|e)}, lang)|raw }}</p>
<p>{{ 'Blocks.Auth.Email.Thanks' | fotrans([], lang) }}</p>
<p>{{ 'Blocks.Auth.Email.Sign' | fotrans({'%siteName%': siteName}, lang) }}</p>
<p>-----</p>
<p>{{ 'Blocks.Auth.EmailHtml.BackToSite' | fotrans({'%siteLink%':siteUrl, '%siteName%': siteName}, lang)|raw }}</p>
<p>{{ 'Blocks.Auth.Email.SentAuto' | fotrans([], lang) }}</p>
