<p>{{ 'Blocks.Auth.Email.Hi' | fotrans({"%name%": name}, lang) }}</p>
<p>{{ 'Blocks.Auth.Email.sendToken.requestSended.Line1' | fotrans(lang) }}
    {{ 'Blocks.Auth.Email.sendToken.requestSended.Line2' | fotrans(lang) }}
    {{ 'Blocks.Auth.EmailHtml.sendToken.requestSended.Line3' | fotrans({'%tokenLink%': ((siteUrl ~ URI ~ link)|e)}, lang)|raw }}</p>
<p>{{ 'Blocks.Auth.Email.Thanks' | fotrans(lang) }}</p>
<p>{{ 'Blocks.Auth.Email.Sign' | fotrans({'%siteName%': siteName}, lang) }}</p>
<p>-----</p>
<p>{{ 'Blocks.Auth.EmailHtml.BackToSite' | fotrans({'%siteLink%':siteUrl, '%siteName%': siteName}, lang)|raw }}</p>
<p>{{ 'Blocks.Auth.Email.SendedAuto' | fotrans(lang) }}</p>