{% extends "root/block.html.twig" %} 

{% block mainContent %}


		<ul class="w-recentpost">
			{% for content in data %}
			<li style="border-bottom:1px solid #E3E3E8; margin-bottom:10px; padding-bottom:2px;">

				<a href="{{ displaySingleUrl(content.id) }}"><img alt=""  class="imageLeft" src="/dam?media-id={{content.image}}&width=80&height=80&mode=boxed" style="max-height: 80px;max-width: 80px;"/></a>

				<header class="entry-header">
					<h2 class="post-title-small"><a href='{{ displaySingleUrl(content.id) }}' title='Actu'>{{content.title}}</a></h2>
				</header>
				<div class="entry-content editable"  id="{{ content.id }}_summary">
					{{content.summary|cleanHtml}}
				</div>
				<div class="entry-info">
					{% if content.dateBegin %}
					{% if content.dateEnd%}
					Du {{content.dateBegin}} au {{content.dateEnd}}
					{% else %}
					A partir du {{content.dateBegin}}
					{% endif %}
					{% endif %}
					{% if content.Location %}
					{{content.Location}}
					{% endif %}
					{% if content.date %}
					Le {{content.date}}
					{% endif %}
				</div>

			</li>
			{% endfor %}

		</ul>
		{%if page.limitPage > 1 %}
		
		<div class="pagination pagination-mini">
			<ul>
				{% if page.currentPage != 1%}
				<li>
					<a href="{{url({'page': page.currentPage-1,'prefix':prefix},true)}}"><<</a>
				</li>
				{%endif%}
				{% for  i in 1..page.limitPage %}
				<li {% if page.currentPage == i%}class="active"{%endif%}>
					<a href="{{url({'page': i,'prefix':prefix},true)}}">{{i}}</a>
				</li>
				{%endfor%}
				{% if page.currentPage != page.limitPage %}
				<li>
					<a href="{{url({'page': page.currentPage+1,'prefix':prefix},true)}}">>></a>
				</li>
				{%endif%}
			</ul>
		</div>
		{%endif%}
	
{% endblock %}
