<!-- actus -->
<ul class="nav nav-tabs">
	<li>
		<a href="#Popular" data-toggle="tab"><span style="font-size:18px;text-transform:capitalize">A la une</span></a>
	</li>
	<li>
		<a href="#Recent" data-toggle="tab"><span style="font-size:18px;text-transform:capitalize">Agenda</span></a>
	</li>
</ul>
<div class="tab-content">

	<div class="tab-pane fade" id="Popular">

		<ul class="w-recentpost">
			{% for content in data %}
			<li style="border-bottom:1px solid #E3E3E8; margin-bottom:10px; padding-bottom:2px;">

				<a href="{{ displaySingleUrl(content.id) }}"><img alt=""  class="imageLeft" src="/dam?media-id={{content.image}}&width=80&height=80&mode=boxed" style="max-height: 80px;max-width: 80px;"/></a>

				<header class="entry-header">
					<h2 class="post-title-small"><a href='{{ displaySingleUrl(content.id) }}' title='Actu'>{{content.title}}</a></h2>
				</header>
				<div class="entry-content editable"  id="{{ content.id }}_summary">
					{{content.summary|cleanHtml}}
				</div>
				<div class="entry-info">
					{% if content.dateBegin %}
					{% if content.dateEnd%}
					Du {{content.dateBegin}} au {{content.dateEnd}}
					{% else %}
					A partir du {{content.dateBegin}}
					{% endif %}
					{% endif %}
					{% if content.Location %}
					{{content.Location}}
					{% endif %}
					{% if content.date %}
					Le {{content.date}}
					{% endif %}
				</div>

			</li>
			{% endfor %}

		</ul>
		{%if page.limitPage > 1 %}
		
		<div class="pagination pagination-mini">
			<ul>
				{% if page.currentPage != 1%}
				<li>
					<a href="{{url({'page': page.currentPage-1,'prefix':prefix},true)}}"><<</a>
				</li>
				{%endif%}
				{% for  i in 1..page.limitPage %}
				<li {% if page.currentPage == i%}class="active"{%endif%}>
					<a href="{{url({'page': i,'prefix':prefix},true)}}">{{i}}</a>
				</li>
				{%endfor%}
				{% if page.currentPage != page.limitPage %}
				<li>
					<a href="{{url({'page': page.currentPage+1,'prefix':prefix},true)}}">>></a>
				</li>
				{%endif%}
			</ul>
		</div>
		{%endif%}
	</div>

	<div class="tab-pane fade" id="Recent">

		<aside id="calendar-2" class="widget widget_calendar">

			<div id="calendar_wrap">
				<table id="wp-calendar">
					<caption>
						Novembre 2012
					</caption>
					<thead>
						<tr>
							<th scope="col" title="Lundi">L</th>
							<th scope="col" title="Mardi">M</th>
							<th scope="col" title="Mercredi">M</th>
							<th scope="col" title="Jeudi">J</th>
							<th scope="col" title="Vendredi">V</th>
							<th scope="col" title="Samedi">S</th>
							<th scope="col" title="Dimanche">D</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<td colspan="3" id="prev"><a href="#" title="Octobre">&laquo; Oct</a></td>
							<td class="pad">&nbsp;</td>
							<td colspan="3" id="next" class="pad">&nbsp;</td>
						</tr>
					</tfoot>

					<tbody>
						<tr>
							<td colspan="3" class="pad">&nbsp;</td><td>1</td><td>2</td><td>3</td><td>4</td>
						</tr>
						<tr>
							<td><a href="#">5</a></td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td>
						</tr>
						<tr>
							<td>12</td><td>13</td><td>14</td><td>15</td><td id="today">16</td><td>17</td><td>18</td>
						</tr>
						<tr>
							<td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td>
						</tr>
						<tr>
							<td>26</td><td>27</td><td>28</td><td>29</td><td>30</td>
							<td class="pad" colspan="2">&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</aside>

	</div>
</div>
