<!-- header	-->


<div class="row">
	<div class="span12">
		<header class="header default">
			<div class="row" id="header">
				<div class="span8">
					<div class="left logo">
						<a href="{{ url({'pageId':homePage},true) }}" title="Iosys - Accueil" rel="home"><img style="max-height:160px;max-width:250px;" src="{% if logo %}image?file-id={{ logo }}{% else %}/assets/logo.gif{% endif %}" alt="" /></a>
					</div>
				</div>
				{% if useSearchEngine %}
				<div class="span4" id="header-search">
					<div style="margin-top: 100px;margin-right:10px;">
						<form class="form-search" action="{{ url({'pageId':searchPage},true) }}">
							<input type="text" class="input-medium search-query" name="query" value="" placeholder="{{"search"|trans}}" id="s" />
						</form>
					</div>
				</div>
				{% endif %}
			</div>
			<nav id="menu-top" class="row">
				<ul id="mainmenu" class="menu span12">
					<li id="menu-item-{{rootPage}}" class="menu-item menu-item-type-post_type menu-item-object-page {% if page.id in rootline %}current-menu-item{% endif %} page_item {% if currentPage == rootPage %}current_page_item{% endif %}">
						<a href="{{ url({'pageId':homePage},true) }}">Accueil</a>
					</li>
					{% for page in pages %}
					<li id="menu-item-{{page.id}}" class="menu-item menu-item-type-custom menu-item-object-custom {% if page.id in rootline %}current-menu-item{% endif %} {% if currentPage == page.id %}current_page_item{% endif %}">
						<a href="{{page.url}}">{{page.title}}</a>
						{% if page.pages %}
						<ul class="sub-menu">
							{% for subpage in page.pages %}
							<li class="menu-item menu-item-type-custom menu-item-object-custom {% if subpage.id in rootline %}current-menu-item{% endif %} {% if currentPage == subpage.id %}current_page_item{% endif %}">
								<a href="{{subpage.url}}">{{subpage.title}}</a>
							</li>
							{% endfor %}

						</ul>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</nav>
		</header>
	</div>
</div>