<div class="row-fluid">
    <div class="span6">
        <h4>{{ 'Blocks.OrderDetails.BillingAddress'|fotrans }}</h4>
        <address class="well">
            {% if billingAddress.company is not empty  %}
                <strong>{{ billingAddress.company }}</strong><br />
            {% endif %}
            {% if billingAddress.attention is not empty %}
                <strong>{{ billingAddress.attention }}</strong><br />
            {% endif %}
            {% if billingAddress.address1 is not empty %}
                {{ billingAddress.address1 }}<br />
            {% endif %}
            {% if billingAddress.address2 is not empty %}
                {{ billingAddress.address2 }}<br />
            {% endif %}
            {% if billingAddress.city is not empty or billingAddress.postCode is not empty %}
                {{ billingAddress.postCode }} {{ billingAddress.city }}<br />
            {% endif %}
            {% if billingAddress.regionState is not empty and billingAddress.country is not empty %}
                {{ billingAddress.regionState }}, {{ billingAddress.country|getCountryName }}<br />
            {% elseif billingAddress.regionState is not empty or billingAddress.country is not empty %}
                {{ billingAddress.regionState }} {{ billingAddress.country|getCountryName }}<br />
            {% endif %}
        </address>
    </div>
    <div class="span6">
        <h4>{{ 'Blocks.OrderDetails.ShippingAddress'|fotrans }}</h4>
        <address class="well">
            {% if shippingAddress.company is not empty  %}
                <strong>{{ shippingAddress.company }}</strong><br />
            {% endif %}
            {% if shippingAddress.attention is not empty %}
                <strong>{{ shippingAddress.attention }}</strong><br />
            {% endif %}
            {% if shippingAddress.address1 is not empty %}
                {{ shippingAddress.address1 }}<br />
            {% endif %}
            {% if shippingAddress.address2 is not empty %}
                {{ shippingAddress.address2 }}<br />
            {% endif %}
            {% if shippingAddress.city is not empty or shippingAddress.postCode is not empty %}
                {{ shippingAddress.postCode }} {{ shippingAddress.city }}<br />
            {% endif %}
            {% if shippingAddress.regionState is not empty and shippingAddress.country is not empty %}
                {{ shippingAddress.regionState }}, {{ shippingAddress.country|getCountryName }}<br />
            {% elseif shippingAddress.regionState is not empty or shippingAddress.country is not empty %}
                {{ shippingAddress.regionState }} {{ shippingAddress.country|getCountryName }}<br />
            {% endif %}
        </address>
    </div>
</div>
<h4>{{ 'Blocks.OrderDetails.OrderDetails'|fotrans }}</h4>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{{ 'Blocks.OrderDetails.Table.Name'|fotrans }}</th>
        <th>{{ 'Blocks.OrderDetails.Table.Cost'|fotrans }}</th>
        <th>{{ 'Blocks.OrderDetails.Table.Amount'|fotrans }}</th>
        <th>{{ 'Blocks.OrderDetails.Table.Price'|fotrans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in cart %}
        <tr>
            <td>
                {{ product.title }}<br />
                <small>{{ product.subtitle }}</small>
            </td>
            <td>{{ product.unitPrice }} €</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.price }} €</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Your cart is empty</td>
        </tr>
    {% endfor %}
    <tr>
        <td>
            {{ 'Blocks.OrderDetails.Table.ShippingMethod'|fotrans }} : {{ shipper.name }}<br />
            <small>{{ shipper.hRDelay }} {{ shipper.hRUnit }}</small>
        </td>
        <td colspan="2"></td>
        <td>{{ shippingPrice }} €</td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Sub-total</th>
            <td colspan="2"></td>
            <td>{{ totalPrice }} €</td>
        </tr>
        <tr>
            <th>{{ 'Blocks.OrderDetails.Table.ShippingTax'|fotrans }}</th>
            <td colspan="2"></td>
            <td>{{ shippingTax }} €</td>
        </tr>
        <tr>
            <th>{{ 'Blocks.OrderDetails.Table.Taxes'|fotrans }}</th>
            <td colspan="2"></td>
            <td>{{ totalTaxedPrice -  totalPrice }} €</td>
        </tr>
        <tr>
            <th>{{ 'Blocks.OrderDetails.Table.TotalPrice'|fotrans }}</th>
            <td colspan="2"></td>
            <td>{{ totalTaxedPrice + shippingTaxedPrice }} €</td>
        </tr>
    </tfoot>
</table>
<div class="row-fluid">
    <h4>Payment method</h4>
    <form method="post" class="form-horizontal" id="checkoutConfirm" >
        <input type="hidden" name="isConfirmOrderPost" value="Confirm">
        <input type="hidden" name="shippingMethod" value="{{ shippingMethod }}">
        {% if shippingComments is not empty %}
            <input type="hidden" name="shippingComments" value="{{ shippingComments|e }}">
        {% endif %}
        {% for pm in paymentMeans %}
            <label class="radio">
                <input type="radio" name="paymentMeans"  value="{{ pm.paymentMeans }}" {% if loop.index==1 %} checked {% endif %} >
                {{ pm.displayName }}
            </label>
        {% endfor %}
        <button class="btn btn-primary" id="chkStep6Finish" type="submit">Confirm order</button>
    </form>
</div>