{% if isLoggedIn %}
    <div class="row-fluid">
        <div class="alert hidden" id="chk5Alert">
            <span id="chk5-message"></span>
        </div>
        <form method="post" class="form-horizontal" id="checkoutEditUserForm">
            <div class="span6">
                <h4 class="text-center">Your personal details</h4>
                <div class="control-group">
                    <label class="control-label" >{{ 'Blocks.SignUp.label.name'|fotrans }} *</label>
                    <div class="controls">
                        <input type="text" name="name" required>
                    </div>
                </div>
                {% for field in fields %}
                    {% if field['cType']=='Ext.form.field.Text' %}
                        {% include '/blocks/inputFields/text.html.twig' %}
                    {% elseif field['cType']=='Ext.form.field.TextArea' %}
                        {% include '/blocks/inputFields/textarea.html.twig' %}
                    {% elseif field['cType']=='Ext.form.field.Checkbox' %}
                        {% include '/blocks/inputFields/checkbox.html.twig' %}
                    {% elseif field['cType']=='Ext.form.CheckboxGroup' %}
                        {% include '/blocks/inputFields/checkboxgroup.html.twig' %}
                    {% elseif field['cType']=='Ext.form.RadioGroup' %}
                        {% include '/blocks/inputFields/radiogroup.html.twig' %}
                    {% elseif field['cType']=='Ext.form.field.ComboBox' %}
                        {% include '/blocks/inputFields/combobox.html.twig' %}
                    {% endif %}
                {% endfor %}
                <input type="hidden" name="userTypeId" value="{{ userTypeId }}">
            </div>
            <div class="span6">
                <h4 class="text-center">Address</h4>
                <div class="control-group">
                    <label class="control-label" >Company /Organization </label>
                    <div class="controls">
                        <input type="text" name="address_company">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Attention </label>
                    <div class="controls">
                        <input type="text" name="address_attention">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Address 1 *</label>
                    <div class="controls">
                        <input type="text" name="address_address1" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Address 2 </label>
                    <div class="controls">
                        <input type="text" name="address_address2">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >City *</label>
                    <div class="controls">
                        <input type="text" name="address_city" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Country *</label>
                    <div class="controls">
                        <select name="address_country" required="">
                            <option disabled="disabled" selected="selected">Choose your country</option>
                            {% for country in countries['data'] %}
                            <option value="{{ country['alpha-2'] }}">{{ country['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >State / Province</label>
                    <div class="controls">
                        <input type="text" name="address_regionState">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Zip / Postal Code *</label>
                    <div class="controls">
                        <input type="text" name="address_postCode" required>
                    </div>
                </div>
                <div class="form-actions">
                    <button onclick="checkoutUpdateAccountData();return false;" class="btn btn-primary" >Save changes</button>
                    <button class="btn btn-primary" id="chkStep2Continue" onclick="setCheckoutStep(3);return false;">Skip to next step</button>
                </div>
            </div>

        </form>

    </div>
{% else %}

<div class="row-fluid">
        <div class="alert hidden" id="chk2Alert">
            <span id="chk2-message"></span>
        </div>
        <form method="post" class="form-horizontal" id="checkoutSignupForm" >
            <div class="span6">
                <h4 class="text-center">Personal details</h4>
                <div class="control-group">
                    <label class="control-label" >{{ 'Label.Email'|fotrans }} *</label>
                    <div class="controls">
                        <input type="email" name="email" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{{ 'Blocks.SignUp.label.name'|fotrans }} *</label>
                    <div class="controls">
                        <input type="text" name="name" required>
                    </div>
                </div>


                {% for field in fields %}
                        {% if field['cType']=='Ext.form.field.Text' %}
                            {% include '/blocks/inputFields/text.html.twig' %}
                        {% elseif field['cType']=='Ext.form.field.TextArea' %}
                            {% include '/blocks/inputFields/textarea.html.twig' %}
                        {% elseif field['cType']=='Ext.form.field.Checkbox' %}
                            {% include '/blocks/inputFields/checkbox.html.twig' %}
                        {% elseif field['cType']=='Ext.form.CheckboxGroup' %}
                            {% include '/blocks/inputFields/checkboxgroup.html.twig' %}
                        {% elseif field['cType']=='Ext.form.RadioGroup' %}
                            {% include '/blocks/inputFields/radiogroup.html.twig' %}
                        {% elseif field['cType']=='Ext.form.field.ComboBox' %}
                            {% include '/blocks/inputFields/combobox.html.twig' %}
                        {% endif %}
                {% endfor %}
                <h4 class="text-center">Your password</h4>
                <div class="control-group">
                    <label class="control-label" >{{ 'Blocks.SignUp.label.password'|fotrans }} *</label>
                    <div class="controls">
                        <input type="password" name="password" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{{ 'Blocks.SignUp.label.confirmPassword'|fotrans }} *</label>
                    <div class="controls">
                        <input type="password" name="confirmPassword" required>
                    </div>
                </div>
                <input type="hidden" name="userTypeId" value="{{ userTypeId }}">
                {% if mailingListArray %}
                <h4 class="text-center">Mailing lists</h4>
                <div class="control-group">
                    <label class="control-label">I wish to subscribe to the following mailing lists</label>
                    <div class="controls">
                        {% for mailinglist in mailingListArray %}
                            <label class="checkbox">
                                <input type="checkbox" class="mailingListCheck" name="chkmlSubscribe_{{ mailinglist.value }}" >
                                {{ mailinglist.label }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}


            </div>
            <div class="span6">
                <h4 class="text-center">Your address</h4>
                <div class="control-group">
                    <label class="control-label" >Company /Organization </label>
                    <div class="controls">
                        <input type="text" name="address_company">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Attention </label>
                    <div class="controls">
                        <input type="text" name="address_attention">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Address 1 *</label>
                    <div class="controls">
                        <input type="text" name="address_address1" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Address 2 </label>
                    <div class="controls">
                        <input type="text" name="address_address2">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >City *</label>
                    <div class="controls">
                        <input type="text" name="address_city" required>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" >Country *</label>
                    <div class="controls">
                        <select name="address_country" required>
                            <option disabled="disabled" selected="selected">Choose your country</option>
                            {% for country in countries['data'] %}
                                <option value="{{ country['alpha-2'] }}">{{ country['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >State / Province</label>
                    <div class="controls">
                        <input type="text" name="address_regionState">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >Zip / Postal Code *</label>
                    <div class="controls">
                        <input type="text" name="address_postCode" required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input checked="checked" type="checkbox"  name="useSameAddressBilling" >
                            Use same address for billing.
                        </label>
                        <label class="checkbox">
                            <input checked="checked" type="checkbox"  name="useSameAddressDelivery" >
                            Use same address for delivery.
                        </label>
                        <label class="checkbox">
                            <input type="checkbox"  name="readTermsAndConds" >
                            I have read and agree to the <a {% if tCPage %} href="{{ tCPageUrl }}" target="_blank"{% endif %}>Terms and Conditions</a>
                        </label>
                    </div>
                </div>
                <div class="form-actions">
                    <button onclick="checkoutSignup();return false;" class="btn btn-primary"  >{{ 'Blocks.SignUp.label.signUp'|fotrans }}</button>
                </div>
            </div>

        </form>

</div>
{% endif %}