{% if isLoggedIn %}
    <div class="row-fluid">
        <div class="span12">
            <div style="text-align:center">
                <p>
                    Currently logged in as {{currentUser.name}}
                </p>
                <button onclick="checkoutLoggout();return false;" class="btn btn-primary">Log Out</button>
                <button class="btn btn-primary" onclick="setCheckoutStep(2);return false;">Continue</button>
            </div>
        </div>
    </div>
{% else %}
    <div class="row-fluid">
        <div class="span6">
            <h4 class="text-center">Create an account</h4>
            <div class="editable" id="{{ introContentId }}_body">{{ introContentText|cleanHtml }}</div>
            <div style="text-align:center">
                <button class="btn btn-primary" onclick="setCheckoutStep(2);return false;">Continue</button>
            </div>
        </div>
        <div class="span6">
            <h4 class="text-center">Already have an account ?</h4>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="checkoutlogin">{{ "Blocks.Auth.Label.Login" | fotrans }} *</label>
                    <div class="controls">
                        <input type="text" id="checkoutlogin" class="input-medium" placeholder="{{ "Blocks.Auth.Label.LoginOrEmail" | fotrans }}" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="checkoutpassword">{{ "Blocks.Auth.Label.Password" | fotrans }} *</label>
                    <div class="controls">
                        <input type="password" id="checkoutpassword" class="input-medium" placeholder="{{ "Blocks.Auth.Label.Password" | fotrans }}"  required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" onclick="checkoutLoggin();return false;" class="btn btn-primary" value="{{ "Blocks.Auth.Label.LogIn" | fotrans }}">
                    </div>
                </div>
                <div id="checkout-login-error-msg" class="alert alert-error hidden-rubedo"></div>
            </form>
        </div>
    </div>
{% endif %}