{% extends "root/blocks/contentlist.html.twig" %}
{% block mainList %}
<div class='row'>
    <div class='calendar span4'>
        <table class="table-condensed table-bordered table-striped">
        <thead>
            <tr>
              <th colspan="7" >
                <a class="btn" href="{{url({'cal-date': prevDate,'prefix':prefix},true)}}"><i class="icon-chevron-left"></i></a>
                <a class="btn">{{ month }} {{ year }}</a>
                <a class="btn" href="{{url({'cal-date': nextDate,'prefix':prefix},true)}}"><i class="icon-chevron-right"></i></a>
              </th>
            </tr>
            <tr>
                {% for day in days %}
                    <th style='text-align:center;'>{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for week in monthArray %}
                <tr>
                {% for day in week %}
                    <td style='text-align:center;' {% if not day.inMonth %}class="muted"{% endif %}><span {% if filledDate[day.value] and day.inMonth %}class="badge"{% endif %}>{{ day.value }}</span></td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="items span8">
        <ul class="nav nav-tabs nav-stacked">
        	{% for content in data %}
        	<li><a href="{{ displaySingleUrl(content.id) }}">
        	    <div class="pull-left">
        	        {% if content.image %}
        	        <img alt=""
        			class="img-rounded"
        			src="/dam?media-id={{content.image}}&width=100&height=60&mode=crop" />
        			{% endif %}
        			</div>
        	       <div style="padding-left: 8em;">{{ content.title }}
        			    
        			</div> 
        			<div class="clearfix"></div>
        			</a>
        			
        			</li> {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block pager %}
{% endblock %}