{% extends "root/block.html.twig" %}

{% block mainContent %}
{% if isLoggedIn %}
{%if query.type=="manual" or query.type=="simple"%}
<div id="list-editmode" class="hide">
	<div class="btn-group pull-left">
	<a class="btn" href="#" id="btn-add-content" onclick="createContentWindow('{{query.type}}','{{data[0].typeId}}','{{query.id}}')"> <i class="icon-plus-sign"></i>
	Ajouter un contenu
	</a>
	</div>
</div>
{%endif%}
{%endif%}
<div class="block contentlist well">
	<div class="row-fluid">
		{% for content in data %}
		{% include content.type  %}
		{% endfor %}
	</div>
	{%if page.limitPage > 1 and  page.currentPage < page.nbPages+1 %}
		
		<div class="pagination pagination-mini">
			<ul>
				{% if page.currentPage != 1%}
				<li>
					<a href="{{url({'page': page.currentPage-1},true)}}"><<</a>
				</li>
				{%endif%}
				{%if page.currentPage < 6%}
				{% for  i in 1..page.limitPage %}
				<li {% if page.currentPage == i%}class="active"{%endif%}>
					<a href="{{url({'page': i},true)}}">{{i}}</a>
				</li>
				{%endfor%}
				{%elseif page.limitPage>6%}
				{% for  i in page.currentPage-4..page.limitPage %}
				<li {% if page.currentPage == i%}class="active"{%endif%}>
					<a href="{{url({'page': i},true)}}">{{i}}</a>
				</li>
				{%endfor%}
				{%endif%}
				{% if page.currentPage != page.limitPage %}
				<li>
					<a href="{{url({'page': page.currentPage+1},true)}}">>></a>
				</li>
				{%endif%}
			</ul>
		</div>
		{%endif%}
</div>

{% endblock %}
