{% extends "root/blocks/contentlist.html.twig" %} 
{% block mainContent %}

<div class="row-fluid" id="{{ prefix }}">
	<div class="span12">
		{% if total == 0 %}
		<div class="alert alert-error">
			{{"Search.Label.NoResults"|fotrans}}
		</div>
		{% else %}

		<ul class="media-list">
			{% for result in data %}
			{% if result.objectType == 'content' %}
			{% else %}
			<li class="media">
			<a class="pull-left" href="/dam?media-id={{ result.id }}">
		    	<img class="media-object" height="50" width="50" src="/dam/get-thumbnail?media-id={{ result.id }}" alt='{{ result.title }}'>
		    </a>
		    <div class="media-body">
      			<h4 class="media-heading">{{ result.title }}</h4>
      			<p><span class="label">{{ result.type }}</span>&nbsp;[{{ result.fileSize }}]&nbsp;{{"Contents.PublishedBy"|fotrans}} {{ result.authorName }} {{"Contents.On"|fotrans}} {{ (result.lastUpdateTime)|localizeddate('long', 'none', lang) }}.</p>
      		</div>
				
				
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% if pagecount > 1 %}
		<div class="pagination pagination-centered">
		{%set wrap=limit//2%}
		{%set lastWrap=(pagecount-1)-current%}
			<ul>
			<li class="disabled">
					<a href="#">Page {{ current+1 }} {{"Contents.On"|fotrans}} {{ pagecount }}</a>
				</li>
				{% if current==0 %}
				<li class="disabled">
					<a href="#"><<</a>
				</li>
				{% else %}
				<li>
					<a class="cursor-pointer" onClick="window['{{ prefix }}refresh']({{ current-1 }})"><<</a>
				</li>
				{% endif %}
				{%if current<wrap+1 or limit<10%}
				{% for i in range(0, limit) %}
				<li {% if current==i %}class="disabled"{% endif %}>
					<a class="cursor-pointer" onClick="window['{{ prefix }}refresh']({{ i }})">{{ i+1 }}</a>
				</li>
				{% endfor %}
				{%elseif limit>wrap and current+wrap<pagecount %}
				{% for  i in current-(wrap)..current+wrap%}
				<li {% if current == i%}class="active"{%endif%}>
					<a class="cursor-pointer" onClick="window['{{ prefix }}refresh']({{ i }})">{{i+1}}</a>
				</li>
				{%endfor%}
				{%else%}
				{% for  i in current-(limit-(lastWrap)-1)..current+lastWrap%}
				<li {% if current == i%}class="active"{%endif%}>
					<a class="cursor-pointer" onClick="window['{{ prefix }}refresh']({{ i }})">{{i+1}}</a>
				</li>
				{%endfor%}
				{%endif%}
				{% if current==pagecount-1%}
				<li class="disabled">
					<a href="#">>></a>
				</li>
				{% else %}
				<li>
					<a class="cursor-pointer" onClick="window['{{ prefix }}refresh']({{ current+1 }})">>></a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>
{% if not xhrRefreshMode %}
<script type="text/javascript">
		window['{{ prefix }}refresh']=function(targetPage){
			var prefix= "{{ prefix }}";
			var blockConfig = window[prefix+"config"];
			var request2 = jQuery.ajax({
      			url : window.location.protocol+'//'+window.location.host + '/blocks/dam-list/',
      			type : "POST",
      			data :{
      				'current-page':jQuery('body').attr('data-current-page'),
					'pager':targetPage,
					'prefix':prefix,
					'block-config':blockConfig,
					'xhrRefreshMode':true
	      			},
      			dataType : "json"
      		});

      		request2.done(function(data) {
      			jQuery("#{{ prefix }}").replaceWith(data.data);
      			
          		
      		});

      		request2.fail(function(jqXHR, textStatus) {
          		console.log("failed to refresh dam list");
      		});
			};
		window['{{ prefix }}config']=JSON.parse("{{ blockConfig|json_encode|e('js') }}");
</script>
{% endif %}
{% endblock %}
