{% extends "root/blocks/contentlist.html.twig" %} 
{% block mainContent %}

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {% if pagesize=="all" %}
				{{"all_on_one_page"|trans}}
				{% else %}
				{{ pagesize }} {{"by_page"|trans}}
				{% endif %} <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li>
						<a href="{{url({'pagesize': '10'})}}">10 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': '20'})}}">20 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': '50'})}}">50 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': 'all'})}}">{{"all_on_one_page"|trans}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="row-fluid">
	
	<div class="span12">
		{% if total == 0 %}
		<div class="alert alert-error">
			{{"no_result"|trans}}
		</div>
		{% else %}

		<ul class="media-list">
			{% for result in data %}
			{% if result.objectType == 'content' %}
			{% else %}
			<li class="media">
			<a class="pull-left" href="/dam?media-id={{ result.id }}">
		    	<img class="media-object" height="50" width="50" src="/dam/get-thumbnail?media-id={{ result.id }}" alt='{{ result.title }}'>
		    </a>
		    <div class="media-body">
      			<h4 class="media-heading">{{ result.title }} </h4>
      			<p><span class="label">{{ result.type }}</span>&nbsp;[{{ result.fileSize }}]&nbsp;{{"published_by"|trans}} {{ result.authorName }} {{"on"|trans}} {{ (result.lastUpdateTime)|localizeddate('long', 'none', lang) }}.</p>
      		</div>
				
				
			</li>
			{% endif %}
			{% endfor %}
		</ul>
		{% if pagecount > 1 %}
		<div class="pagination pagination-centered">
		{%set wrap=limit//2%}
		{%set lastWrap=(pagecount-1)-current%}
			<ul>
			<li class="disabled">
					<a href="#">Page {{ current+1 }} {{"on"|trans}} {{ pagecount }}</a>
				</li>
				{% if current==0 %}
				<li class="disabled">
					<a href="#"><<</a>
				</li>
				{% else %}
				<li>
					<a href="{{url({'pager': current-1})}}"><<</a>
				</li>
				{% endif %}
				{%if current<wrap+1 or limit<10%}
				{% for i in range(0, limit) %}
				<li {% if current==i %}class="disabled"{% endif %}>
					<a href="{{url({'pager': i})}}">{{ i+1 }}</a>
				</li>
				{% endfor %}
				{%elseif limit>wrap and current+wrap<pagecount %}
				{% for  i in current-(wrap)..current+wrap%}
				<li {% if current == i%}class="active"{%endif%}>
					<a href="{{url({'pager': i},true)}}">{{i+1}}</a>
				</li>
				{%endfor%}
				{%else%}
				{% for  i in current-(limit-(lastWrap)-1)..current+lastWrap%}
				<li {% if current == i%}class="active"{%endif%}>
					<a href="{{url({'pager': i},true)}}">{{i+1}}</a>
				</li>
				{%endfor%}
				{%endif%}
				{% if current==pagecount-1%}
				<li class="disabled">
					<a href="#">>></a>
				</li>
				{% else %}
				<li>
					<a href="{{url({'pager': current+1})}}">>></a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>

{% endblock %}
