{% extends "root/block.html.twig" %} 

{% block mainContent %}
<!-- carousel -->
{% set galleryid="gallery-"~random() %}
{% set pages=count//pageSize %}

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
	<div id="{{galleryid}}" class="carousel slide">
		<div class="carousel-inner">
			{% include 'root/blocks/gallery/items.html.twig' %}
		    
		</div>
	</div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Picture</h3>
	</div>
	<div class="modal-body">
		<img src="#" id="fullScreenPicture">
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
	</div>
</div>

<script type="text/javascript">
	function changePage(pageNumber, itemCount, itemsPerPage, maxPage,galleryid,width,height,query) {
		if(jQuery('#{{galleryid}} > .carousel-inner > #page'+pageNumber).length == 0){
		var request = jQuery.ajax({
			url : "{{url({'module':'blocks', 'controller':'gallery', 'action':'xhr-get-images'},null,null,'default')}}",
			type : "POST",
			data : {
				'page' : pageNumber,
				'itemCount' : itemCount,
				'itemsPerPage' : itemsPerPage,
				'maxPage' : maxPage,
				'width': (width) ? width : null,
				'height': (height) ? height : null,
				'galleryid':galleryid,
				'query':query
			},
			dataType : "json"
		});

		request.done(function(data) {
			var newHtml = data.html;
			jQuery("#{{galleryid}} > .carousel-inner").append(newHtml);
		});

		request.fail(function(jqXHR, textStatus) {
		});
		}
		jQuery('#{{galleryid}} > .carousel-inner > .active').hide();
		jQuery('#{{galleryid}} > .carousel-inner > .active').removeClass('active');
		jQuery('#{{galleryid}} > .carousel-inner > #page'+pageNumber).show();
		jQuery('#{{galleryid}} > .carousel-inner > #page'+pageNumber).addClass('active');
		return false;
	}
</script>

{% endblock %}


