{% extends "root/blocks/contentlist.html.twig" %} 
{% block mainContent %}

<br />

<div id="activeFacetBox">
</div>

<div class="row-fluid">
	<div class="span3 well well-large" id="facetBox">
	</div>
	<div class="span9">
		<div id="{{prefix}}map_canvas" style="height:{{blockConfig.height}}px;" class="row-fluid"></div>
	</div>
</div>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW31tpi5nYZPNDt82czNoXBpAc8N_rULQ&sensor=true">
    </script>
    <script type="text/javascript"
      src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js">
    </script>
<script type="text/javascript">
      function initialize() {
    	  if (typeof google == "undefined") {
   		   var e = document.createElement("script");
   		   e.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyCW31tpi5nYZPNDt82czNoXBpAc8N_rULQ&sensor=true";
   		   e.type = "text/javascript";
   		   document.getElementsByTagName("head")[0].appendChild(e); 
   		}
          
        var mapOptions = {
          center: new google.maps.LatLng(48.8567, 2.3508),
          zoom: {{blockConfig.zoom}}||12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
      
      var map = new google.maps.Map(document.getElementById("{{prefix}}map_canvas"),
            mapOptions);
      var geocoder = new google.maps.Geocoder();
      var usedMarkers=[ ];
      var markerCluster = new MarkerClusterer(map, usedMarkers);
      var useLocation = "{{blockConfig.useLocation}}";
      var centerAddress = "{{blockConfig.centerAddress}}";
      var centerLatitude = "{{blockConfig.centerLatitude}}";
      var centerLongitude = "{{blockConfig.centerLongitude}}";
      var predefinedFacets = {% if blockConfig.predefinedFacets%}"{{blockConfig.predefinedFacets| e('js')}}"{% else %}"{ }"{% endif %} ;
      var pagesize = {{blockConfig.pageSize}};
	  if (useLocation&&navigator.geolocation) {
		  navigator.geolocation.getCurrentPosition(function(position) {
		      var initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
		      map.setCenter(initialLocation);
		      new google.maps.Marker({
			  	map:map,
			  	icon:"/templates/root/img/target.png",
			  	position:initialLocation
			      });
		    }, function() {
		      console.log("geolocation Error");
		    });
		  
      } else if (centerAddress) {
      	
      	geocoder.geocode( { 'address': centerAddress}, function(results, status) {
      		if (status == google.maps.GeocoderStatus.OK) {
      			map.setCenter(results[0].geometry.location);
      		}
      	});
      } else if (centerLatitude&&centerLongitude){
    	  map.setCenter(new google.maps.LatLng(centerLatitude, centerLongitude));        
      }
	  var mapTimer=null;
	  google.maps.event.addListener(map, 'bounds_changed', function() {
		  clearTimeout(mapTimer);
		  mapTimer=setTimeout(function(){
			fetchData();
		  },250);
      });
      window.activeFacets={ };
	  
	  var oldPositions=[ ];
	  var newPositions=[ ];
	  window.fireQuery=fetchData;
      function fetchData (){
    	  var bounds=map.getBounds();
          var params={
    				'current-page':jQuery('body').attr('data-current-page'),
    				'pagesize':pagesize,
    				'constrainToSite':{% if blockConfig.constrainToSite%}true{% else %}false{% endif %} ,
    				'predefinedFacets':predefinedFacets,
    				'inflat':bounds.Z.b,
    				'suplat':bounds.Z.d,
    				'inflon':bounds.fa.b,
    				'suplon':bounds.fa.d
    			}
          var currentFacets=window.activeFacets;
          for (var attrname in currentFacets) { params[attrname] = currentFacets[attrname]; }
    	  var request = jQuery.ajax({
    			url : window.location.origin + '/blocks/geo-search/xhr-search',
    			type : "POST",
    			data :params,
    			dataType : "json"
    		});

    		request.done(function(data) {
        		oldPositions=[ ];
        		newPositions=[ ];
    			for(var j= 0; j < usedMarkers.length; j++)
    			{
    			     oldPositions.push(usedMarkers[j].getPosition().toString());
    			}
        		console.log(data);
        		var recievedFacets=data.activeFacets;
        		window.activeFacets={ };
        		for(var m= 0; m < recievedFacets.length; m++)
    			{
    			     if (recievedFacets[m].terms.length==1){
    			    	 window.activeFacets[recievedFacets[m].id]=recievedFacets[m].terms[0].term;
        			 } 
        			 //implement multi term here
    			}
        		jQuery("#facetBox").replaceWith(data.facetsHtml);
        		jQuery("#activeFacetBox").replaceWith(data.activeFacetsHtml);
        		var rezArray=data.data;
    			for(var i= 0; i < rezArray.length; i++)
    			{
    			     handleContent(rezArray[i].position_location,rezArray[i].title,rezArray[i].htmlSummary);
    			}
    			var newUsed=[];
    			for(var u= 0; u < usedMarkers.length; u++)
    			{
    			     if (newPositions.indexOf(usedMarkers[u].getPosition().toString())==-1){
    			    	 usedMarkers[u].setMap(null);
    			    	 console.log("removed old");
        			 } else {
            			 newUsed.push(usedMarkers[u]);
            		 }
    			}
    			usedMarkers=[ ];
    			usedMarkers=newUsed;
    			markerCluster.clearMarkers();
    			markerCluster.addMarkers(usedMarkers);
    			console.log("data fetch done");
    		});

    		request.fail(function(jqXHR, textStatus) {
        		console.log("failed to fetch data");
    		});
      }
      window.updateFacets=updateFacets;
      function updateFacets(id,term,add){
          if (add){
        	  window.activeFacets[id]=term;
          } else {
			  delete window.activeFacets[id];
          }
          window.fireQuery();
      }
	  
      function handleContent(contentPosition, title, contentString){
    	   if (contentPosition[0]&&contentPosition[1]){
    		  createContentMarker(new google.maps.LatLng(contentPosition[1],contentPosition[0]), title, contentString);     
          }
      }
      
      function createContentMarker(location,title,contentString){
    	  	  newPositions.push(location.toString());
    	  	  if (oldPositions.indexOf(location.toString())==-1){
	    	  var marker = new google.maps.Marker({
				  	map:map,
				  	icon:"/templates/root/img/map_pin.png",
				  	position:location,
				  	title:title
				});
			  usedMarkers.push(marker);
			  console.log("added new");
			  
	    	  var infowindow = new google.maps.InfoWindow({
	              content: contentString         
	           });
	    	  google.maps.event.addListener(marker, 'click', function() {
	              infowindow.open(map,marker);
	          });
    	  	  }
          
		  
      }
      
      }
     
      window.onload = initialize;
</script>

<style type="text/css">
#{{prefix}}map_canvas img {
    max-width: none;
}	  
</style>
{% endblock %}
