{% extends "root/blocks/contentlist.html.twig" %} 
{% block mainContent %}

{% if blockConfig.activateSearch %}
<div id="activeFacetBox">
</div>
{% endif %}

<div class="row-fluid">
    
	{% if blockConfig.activateSearch %}
	<div class="span3 well well-large" id="facetBox">
	</div>
	<div class="span9">
	   {% if blockConfig.showPlacesSearch %}
	   <div id="{{prefix}}holderpanel" class="gmapholderpanel">
          <input id="{{prefix}}target" type="text" placeholder="{{ "Blocks.GeoSearch.Label.Address" | fotrans }}">
        </div>
        {% endif %}
        <div id="{{prefix}}map_canvas" style="height:{{blockConfig.height}}px;" data-prefix="{{prefix}}" data-mapparams="{{ encodedConfig }}" class="row-fluid gmapmapcanvas {% if blockConfig.showPlacesSearch %}gmapmapcanvascorrected{% endif %}"></div>
		
	</div>
	{% else %}
	<div class="span12">
	   {% if blockConfig.showPlacesSearch %}
    	<div id="{{prefix}}holderpanel" class="gmapholderpanel">
          <input id="{{prefix}}target" type="text" placeholder="{{ "Blocks.GeoSearch.Label.Address" | fotrans }}">
        </div>
        {% endif %}
		<div id="{{prefix}}map_canvas" style="height:{{blockConfig.height}}px;" data-prefix="{{prefix}}" data-mapparams="{{ encodedConfig }}" class="row-fluid gmapmapcanvas {% if blockConfig.showPlacesSearch %}gmapmapcanvascorrected{% endif %}"></div>
	</div>
	{% endif %}
</div>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ googleMapsKey }}&amp;libraries=places&amp;sensor=true&amp;language={{ lang }}">
    </script>
    <script type="text/javascript"
      src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.9/src/markerclusterer_packed.js">
    </script>
    <script type="text/javascript"
      src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.8/src/markerwithlabel_packed.js">
    </script>
    

{% endblock %}
