{% extends "root/blocks/contentlist.html.twig" %} 
{% block mainContent %}

{% if blockConfig.activateSearch %}
<div id="activeFacetBox">
</div>
{% endif %}

<div class="row-fluid">
    
	{% if blockConfig.activateSearch %}
	<div class="span3 well well-large" id="facetBox">
	</div>
	<div class="span9">
	   {% if blockConfig.showPlacesSearch %}
	   <div id="{{prefix}}holderpanel" class="gmapholderpanel">
          <input id="{{prefix}}target" type="text" placeholder="{{ "Blocks.GeoSearch.Label.Address" | fotrans }}">
        </div>
        {% endif %}
        <div id="{{prefix}}map_canvas" style="height:{{blockConfig.height}}px;" data-prefix="{{prefix}}" data-mapparams="{{ encodedConfig }}" class="row-fluid gmapmapcanvas {% if blockConfig.showPlacesSearch %}gmapmapcanvascorrected{% endif %}"></div>
		
	</div>
	{% else %}
	<div class="span12">
	   {% if blockConfig.showPlacesSearch %}
    	<div id="{{prefix}}holderpanel" class="gmapholderpanel">
          <input id="{{prefix}}target" type="text" placeholder="{{ "Blocks.GeoSearch.Label.Address" | fotrans }}">
        </div>
        {% endif %}
		<div id="{{prefix}}map_canvas" style="height:{{blockConfig.height}}px;" data-prefix="{{prefix}}" data-mapparams="{{ encodedConfig }}" class="row-fluid gmapmapcanvas {% if blockConfig.showPlacesSearch %}gmapmapcanvascorrected{% endif %}"></div>
	</div>
	{% endif %}
</div>
{% endblock %}
