{% extends "root/block.html.twig" %}

{% block mainContent %}
{% if imageFile  %}
    {% if imageLink or externalURL %}
    <a href="{% if imageLink %}{{ url({'pageId':imageLink},true) }}{% else %}{{externalURL}}{% endif %}" 
    {% if not imageLink %}target="_blank"{% endif %}>
    {% endif %}
        <img src="{{ baseUrl }}/dam?media-id={{ imageFile }}{% if imageWidth %}&amp;width={{ imageWidth }}{% endif %}{% if imageHeight %}&amp;height={{ imageHeight }}{% endif %}&amp;mode={{ mode }}" alt="{{ imageAlt }}" />
    {% if imageLink or externalURL  %}</a>{% endif %}
{% endif %}
{% endblock %}