<div class="navbar">
  <div class="navbar-inner">
  	<div class="container-fluid">
		<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</a>
		<!-- Everything you want hidden at 940px or less, place within here -->
		<div class="nav-collapse">
	    <!-- /nav bar --> 
	    
		    <div class="nav-collapse collapse">
				<ul class="nav">
					{% for page in pages %}
					<li id="menu-item-{{page.id}}"
						class="{% if page.id in rootline %}active{% endif %} {% if page.pages %}dropdown{% endif %}">
						<a 
						    {% if page.pages %}class="dropdown-toggle" id="menu-item-{{page.id}}" role="button" data-toggle="dropdown" data-target="#"{% endif %}
						    href="{{page.url}}">{{page.title}}{% if page.pages %} <b class="caret"></b>{% endif %}</a> 
						{% if page.pages %}
						 <ul class="dropdown-menu" role="menu">
						    <li
								class="{% if page.id==currentPage %}active{% endif %}">
						    <a href="{{page.url}}">{{page.title}}</a>
						    </li>
						    <li role="presentation" class="divider"></li>
							{% for subpage in page.pages %}
							<li
								class="{% if subpage.id in rootline %}active{% endif %}">
								<a href="{{subpage.url}}">{{subpage.title}}</a>
							</li> {% endfor %}

						</ul> {% endif %}
					</li> {% endfor %}
				</ul>
			</div>
		</div>
 	</div>
  </div>
</div>