{% extends "root/block.html.twig" %} 
{% block mainContent %}

<button type="submit" class="btn btn-primary" onClick="jQuery('#download-form-{{prefix}}').show();">Télécharger <span class="caret"></span></button>
<div id="download-form-{{prefix}}" class="well hide">
<form action="#">
    <label class="control-label" for="email-{{prefix}}">Email</label>
      <input type="text" name="email" id="email-{{prefix}}" placeholder="Email" />
      <input type="hidden" name="mailList" id="mailingListId-{{prefix}}" value="{{mailingListId}}" />
      <input type="hidden" name="dam-id" id="damId-{{prefix}}" value="{{damId}}" />
      <button class="btn" onClick="submitEmail('{{prefix}}');return false;">Envoyer</button>
</form>
<div id="message-{{prefix}}"></div>
</div>
  
{% endblock %}

