{% extends "root/block.html.twig" %} {% block mainContent %} {% if
introduction %}
<div id="introduction-{{prefix}}">{{ introduction | cleanHtml }}</div>
<div class="clearfix"></div>

{% endif %}
{% if damId %}
<div>
<button type="submit" class="btn btn-primary"
	onClick="toggleDownloadForm('{{ prefix }}')">
	{{ "Label.Download" | fotrans }} <span class="caret"></span>
</button>
</div>
<div id="download-form-{{prefix}}" class="well hide">
	<form action="#">
		<input type="hidden" name="mailList" id="mailingListId-{{prefix}}"
			value="{{mailingListId}}" /> 
		<input type="hidden" name="dam-id"
			id="damId-{{prefix}}" value="{{damId}}" /> 
		<label
			class="control-label" for="email-{{prefix}}">{{ "Label.Email" | fotrans }}</label>
		<div class="input-append">
			<input type="text" class="input-medium" name="email" id="email-{{prefix}}"
				placeholder="{{ "Label.Email" | fotrans }}" />

			<button class="btn" onClick="submitEmail('{{prefix}}');return false;">{{ "Label.Send" | fotrans }}</button>
		</div>
	</form>
	<div id="message-{{prefix}}"></div>
</div>
{% endif %}
{% endblock %}

