{% extends "root/block.html.twig" %} {% block mainContent %} {% if
contentId %}
<div id="introduction-{{prefix}}"><div class="editable" id="{{ contentId }}_body"  data-locale="{{ locale }}">{{ text|cleanHtml }}</div></div>
<div class="clearfix"></div>
{% endif %}
{% if downloadUrl %}
<div>
<a type="submit" class="btn btn-primary" href="{{ downloadUrl }}">   
	<i class="icon-download icon-white"></i> {{ "Label.Download" | fotrans }}
</a>
</div>
{% endif %}


{% endblock %}

