<br />
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand">{% if nbresults > 1 %}{{"there_are"|trans}}{% else %}{{"there_is"|trans}}{% endif %} <span class="badge badge-important">{{ nbresults }}</span> {% if nbResults > 1 %}{{"result_pl"|trans}}{% else %}{{"result_sg"|trans}}{% endif %}</a>
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {% if orderby == "_score" or orderby == "" %}
				{{"order_by_relevance"|trans}}
				{% endif %}
				{% if orderby == "lastUpdateTime" %}
				{{"order_by_date"|trans}}
				{% endif %}
				{% if orderby == "author" %}
				{{"order_by_author"|trans}}
				{% endif %} <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					{% if orderby != "_score" %}
					<li>
						<a href="{{url({'orderby': '_score'})}}">{{"order_by_relevance"|trans}}</a>
					</li>
					{% endif %}
					{% if orderby != "lastUpdateTime" %}
					<li>
						<a href="{{url({'orderby': 'lastUpdateTime'})}}">{{"order_by_date"|trans}}</a>
					</li>
					{% endif %}
					{% if orderby != "author" %}
					<li>
						<a href="{{url({'orderby': 'author'})}}">{{"order_by_author"|trans}}</a>
					</li>
					{% endif %}
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {% if pagesize=="all" %}
				{{"all_on_one_page"|trans}}
				{% else %}
				{{ pagesize }} {{"by_page"|trans}}
				{% endif %} <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li>
						<a href="{{url({'pagesize': '10'})}}">10 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': '20'})}}">20 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': '50'})}}">50 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': 'all'})}}">{{"all_on_one_page"|trans}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% if filters|length > 0 %}
<div class="navbar">
	<div class="navbar-inner">
		<p class="brand">Critères de recherche :&nbsp;&nbsp;

		{% for name,value in filters %}
		    {% if name == '' or name == 'Sites' %}
            {% elseif name == 'type' or name == 'author' or name == 'date' %}
                <a href="{{url({(name): null})}}" >
				<span class="badge badge-info"><i class="icon-remove-sign"></i> {{ value }}</span>
			    </a>
            {% else %}
                {% for tag in value %}
		        
		            <a href="{{url({(name): tag},'sub')}}" >
				        <span class="badge badge-info"><i class="icon-remove-sign"></i> {{ tag }}</span>
			        </a>
		        {% endfor %}
            {% endif %}
		        
		{% endfor %}
		</p>
	</div>
</div>
{% endif %}
<div class="row-fluid">
	<div class="span3 well well-large">
		<p>
			<i class="icon-search"></i> {{"full_text_search"|trans}}
		</p>
			<form class="form-search" action="{{url({},true)}}">
				<input type="text" class="input-medium search-query" name="query" size="10" value="{{ query }}" placeholder="{{"search"|trans}}">
			</form>
		
		{% for name,value in facets %}
		
			{% if facets[name]['terms']|length > 1 %}
			
    			{% if name == 'type' %}
    			<p>
    				<i class="icon-file"></i> {{"content_type"|trans}}
    			</p>		
    			{% elseif name == 'author' %}
    			<p>
    				<i class="icon-user"></i> {{"author"|trans}}
    			</p>		
    			{% elseif name == 'date' %}
    			<p>
    				<i class="icon-calendar"></i> {{"date"|trans}}
    			</p>	
    			{% else %}
    			<p>
    				<i class="icon-tags"></i> {{name|trans}}
    			</p>			
    			{% endif %}	
    	
    	        {% if name == 'type' or name == 'author' or name == 'date' %}
    	          <ul>
    				{% for facet in facets[name]['terms'] %}
    				<li>
    					<a href="{{url({(name) : facet.term})}}">{{ facet.term }} ({{ facet.count }})</a>
    				</li>
    				{% endfor %}
			    </ul>
    	        {% else %}
    	        <ul>
    				{% for facet in facets[name]['terms'] %}
    				<li>
    					<a href="{{url({(name) : [facet.term]},'add')}}">{{ facet.term }} ({{ facet.count }})</a>
    				</li>
    				{% endfor %}
			    </ul>
    					
    			{% endif %}	
			
			
			{% endif %}
		
		{% endfor %}
		
	</div>
	<div class="span9">
		{% if nbresults == 0 %}
		<div class="alert alert-error">
			{{"no_result"|trans}}
		</div>
		{% else %}

		<table class="table">
			{% for result in results %}
			<tr>
				<td><h3><a href="{{ displaySingleUrl(result.id) }}">{{ result.title }}</a></h3>
				<div class="progress progress-success" style="width:50px; float: left;">
					<div class="bar {%if result.score >= 70%}bar-success{% else %} bar-warning{%endif%}" style="width: 100%;">
						{{ result.score }}%
					</div>
				</div> &nbsp;<span class="label">{{ result.type }}</span>
				<br />
				<br />
				{% if result.summary %}
				<p>{{ result.summary|cleanHtml }}</p>
				{% endif %}
				<br />
				{{"published_by"|trans}} <a href="{{url({'author' : result.author},true)}}">{{ result.author }}</a> {{"on"|trans}} {{ (result.lastUpdateTime)|localizeddate('long', 'none', lang) }}. </td>
			</tr>
			{% endfor %}
		</table>
		{% if pagecount > 1 %}
		<div class="pagination pagination-centered">
			<ul>
				<li class="disabled">
					<a href="#">Page {{ pager+1 }} {{"on"|trans}} {{ pagecount }}</a>
				</li>
				{% if pager==0 %}
				<li class="disabled">
					<a href="#"><<</a>
				</li>
				{% else %}
				<li>
					<a href="{{url({'pager': pager-1})}}"><<</a>
				</li>
				{% endif %}
				{% for i in range(0, pagecount-1) %}
				<li {% if pager==i %}class="disabled"{% endif %}>
					<a href="{{url({'pager': i})}}">{{ i+1 }}</a>
				</li>
				{% endfor %}
				{% if pager==pagecount-1 %}
				<li class="disabled">
					<a href="#">>></a>
				</li>
				{% else %}
				<li>
					<a href="{{url({'pager': pager+1})}}">>></a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>
