<br />
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand">{% if nbResults > 1 %}{{"there_are"|trans}}{% else %}{{"there_is"|trans}}{% endif %} <span class="badge badge-important">{{ nbResults }}</span> {% if nbResults > 1 %}{{"result_pl"|trans}}{% else %}{{"result_sg"|trans}}{% endif %}</a>
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {% if orderBy == "_score" %}
				{{"order_by_relevance"|trans}}
				{% endif %}
				{% if orderBy == "lastUpdateTime" %}
				{{"order_by_date"|trans}}
				{% endif %}
				{% if orderBy == "author" %}
				{{"order_by_author"|trans}}
				{% endif %} <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					{% if orderBy != "_score" %}
					<li>
						<a href="{{url({'orderby': '_score'})}}">{{"order_by_relevance"|trans}}</a>
					</li>
					{% endif %}
					{% if orderBy != "lastUpdateTime" %}
					<li>
						<a href="{{url({'orderby': 'lastUpdateTime'})}}">{{"order_by_date"|trans}}</a>
					</li>
					{% endif %}
					{% if orderBy != "author" %}
					<li>
						<a href="{{url({'orderby': 'author'})}}">{{"order_by_author"|trans}}</a>
					</li>
					{% endif %}
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {% if pageSize=="all" %}
				{{"all_on_one_page"|trans}}
				{% else %}
				{{ pageSize }} {{"by_page"|trans}}
				{% endif %} <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li>
						<a href="{{url({'pagesize': '10'})}}">10 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': '20'})}}">20 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': '50'})}}">50 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': 'all'})}}">{{"all_on_one_page"|trans}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span3 well well-large">
		<p>
			<i class="icon-search"></i> {{"full_text_search"|trans}}
		</p>
			<form class="form-search" action="{{url({},true)}}">
				<input type="text" class="input-medium search-query" name="query" size="10" value=" {{ searchTerms }}" placeholder=" {{"search"|trans}}">
			</form>
		<p>
			<i class="icon-file"></i> {{"content_type"|trans}}
		</p>
		{% if (type == '') %}
		<ul>
			{% for facet in typeFacets %}
			<li>
				<a href="{{url({'type': facet.term})}}">{{ facet.term }} ({{ facet.count }})</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p style="padding-left: 20px">
			{{type}} <a href="{{url({'type': null})}}"><i class="icon-remove-sign"></i></a>
		</p>
		{% endif %}
		<p>
			<i class="icon-user"></i> {{"author"|trans}}
		</p>
		{% if (author == '') %}
		<ul>
			{% for facet in authorFacets %}
			<li>
				<a href="{{url({'author': facet.term})}}">{{ facet.term }} ({{ facet.count }})</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p style="padding-left: 20px">
			{{author}} <a href="{{url({'author': null})}}"><i class="icon-remove-sign"></i></a>
		</p>
		{% endif %}
		<p>
			<i class="icon-calendar"></i> {{"date"|trans}}
		</p>
		{% if (date == '') %}
		<ul>
			{% for facet in dateFacets %}
			<li>
				<a href="{{url({'date': facet.term})}}">{{ (facet.time/1000)|date("Y") }} ({{ facet.count }})</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p style="padding-left: 20px">
			{{ (date/1000)|date("Y") }} <a href="{{url({'date': null})}}"><i class="icon-remove-sign"></i></a>
		</p>
		{% endif %}
	</div>
	<div class="span9">
		{% if nbResults == 0 %}
		<div class="alert alert-error">
			{{"no_result"|trans}}
		</div>
		{% else %}

		<table class="table">
			{% for result in results %}
			<tr>
				<td><h3><a href="/single?content-id={{result.id}}">{{ result.title }}</a></h3>
				<div class="progress progress-success" style="width:50px; float: left;">
					<div class="bar {%if result.score >= 70%}bar-success{% else %} bar-warning{%endif%}" style="width: 100%;">
						{{ result.score }}%
					</div>
				</div> &nbsp;<span class="label">{{ result.type }}</span>
				<br />
				<br />
				{{"published_by"|trans}} <a href="#">{{ result.author }}</a> {{"on"|trans}} {{ (result.lastUpdateTime)|localizeddate('long', 'none', lang) }}. </td>
			</tr>
			{% endfor %}
		</table>
		{% if pageCount > 1 %}
		<div class="pagination pagination-centered">
			<ul>
				<li class="disabled">
					<a href="#">Page {{ pager+1 }} {{"on"|trans}} {{ pageCount }}</a>
				</li>
				{% if pager==0 %}
				<li class="disabled">
					<a href="#"><<</a>
				</li>
				{% else %}
				<li>
					<a href="{{url({'pager': pager-1})}}"><<</a>
				</li>
				{% endif %}
				{% for i in range(0, pageCount-1) %}
				<li {% if pager==i %}class="disabled"{% endif %}>
					<a href="{{url({'pager': i})}}">{{ i+1 }}</a>
				</li>
				{% endfor %}
				{% if pager==pageCount-1 %}
				<li class="disabled">
					<a href="#">>></a>
				</li>
				{% else %}
				<li>
					<a href="{{url({'pager': pager+1})}}">>></a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>
