{% extends "root/blocks/contentlist.html.twig" %} 
{% block mainContent %}

<br />
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand">{% if total > 1 %}{{"there_are"|trans}}{% else %}{{"there_is"|trans}}{% endif %} <span class="badge badge-important">{{ total }}</span> {% if total > 1 %}{{"result_pl"|trans}}{% else %}{{"result_sg"|trans}}{% endif %}</a>
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {% if orderby == "_score" or orderby == "" %}
				{{"order_by_relevance"|trans}}
				{% endif %}
				{% if orderby == "lastUpdateTime" %}
				{{"order_by_date"|trans}}
				{% endif %}
				{% if orderby == "author" %}
				{{"order_by_author"|trans}}
				{% endif %} <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					{% if orderby != "_score" %}
					<li>
						<a href="{{url({'orderby': '_score'})}}">{{"order_by_relevance"|trans}}</a>
					</li>
					{% endif %}
					{% if orderby != "lastUpdateTime" %}
					<li>
						<a href="{{url({'orderby': 'lastUpdateTime'})}}">{{"order_by_date"|trans}}</a>
					</li>
					{% endif %}
					{% if orderby != "author" %}
					<li>
						<a href="{{url({'orderby': 'author'})}}">{{"order_by_author"|trans}}</a>
					</li>
					{% endif %}
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"> {% if pagesize=="all" %}
				{{"all_on_one_page"|trans}}
				{% else %}
				{{ pagesize }} {{"by_page"|trans}}
				{% endif %} <b class="caret"></b> </a>
				<ul class="dropdown-menu">
					<li>
						<a href="{{url({'pagesize': '10'})}}">10 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': '20'})}}">20 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': '50'})}}">50 {{"by_page"|trans}}</a>
					</li>
					<li>
						<a href="{{url({'pagesize': 'all'})}}">{{"all_on_one_page"|trans}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{% if activeFacets|length > 0 %}
<div class="navbar">
	<div class="navbar-inner">
		<p class="brand">Critères de recherche :&nbsp;&nbsp;
		{% for facet in activeFacets %}
		    {% if facet.id == 'type' or facet.id == 'damType' or facet.id == 'author' %}
                {% for term in facet.terms %}
	                <a {% if facet.id not in facetsToHide %}href="{{url({(facet.id): null})}}"{% endif %}>
					<span class="badge badge-info"> {% if facet.id not in facetsToHide %}<i class="icon-remove-sign"></i>{% endif %} {{ term.label }}</span>
				    </a>
		        {% endfor %}
            {% else %}
                {% for term in facet.terms %}
                    {% if not (constrainToSite and facet.id == 'navigation' and term.term == currentSite) %}
		            <a {% if facet.id not in facetsToHide %}href="{{url({(facet.id): term.term},'sub')}}"{% endif %} >
				        <span class="badge badge-info">{% if facet.id not in facetsToHide %}<i class="icon-remove-sign"></i>{% endif %} {{ term.label }}</span>
			        </a>
			        {% endif %}
		        {% endfor %}
            {% endif %}
		        
		{% endfor %}
		</p>
	</div>
</div>
{% endif %}
<div class="row-fluid">
	<div class="span3 well well-large">
		<p>
			<i class="icon-search"></i> {{"full_text_search"|trans}}
		</p>
			<form class="form-search" action="{{url({},true)}}">
				<input type="text" class="input-medium search-query" name="query" size="10" value="{{ query }}" placeholder="{{"search"|trans}}">
			</form>
		
		{% for facet in facets %}

			{% if facet._type == 'terms' and facet.terms|length > 0 %}

    			{% if facet.id == 'type' %}
    			<p>
    				<i class="icon-file"></i> {{facet.label|trans}}
    			</p>	
    			{% elseif facet.id == 'damType' %}
    			<p>
    				<i class="icon-file"></i> {{facet.label|trans}}
    			</p>	
    			{% elseif facet.id == 'author' %}
    			<p>
    				<i class="icon-user"></i> {{facet.label|trans}}
    			</p>		
    			{% else %}
    			<p>
    				<i class="icon-tags"></i> {{facet.label|trans}}
    			</p>			
    			{% endif %}	
    	        {% if facet.id == 'type' or facet.id == 'damType' or facet.id == 'author' or facet.id == 'date' %}
    	          <ul>
    				{% for term in facet.terms %}
    				
    				<li>
    					<a href="{{url({(facet.id) : term.term})}}">{{ term.label }} ({{ term.count }})</a>
    				</li>
    				
    				{% endfor %}
			    </ul>
    	        {% else %}
    	        <ul>
    				{% for term in facet.terms %}
    				{% if not (constrainToSite and facet.id == 'navigation' and term.term == currentSite) %}
    				<li>
    					<a href="{{url({(facet.id) : [term.term]},'add')}}">{{ term.label }} ({{ term.count }})</a>
    				</li>
    				{% endif %}
    				{% endfor %}
			    </ul>
    					
    			{% endif %}			
			
			{% endif %}
			
			{% if facet._type == 'range' and facet.ranges|length > 0 %}
    			{% if facet.id == 'date' %}
    				{% for range in facet.ranges %}
    					{% if range.count < total %}
    						{% if loop.first %}
     							<p>
    								<i class="icon-calendar"></i> {{facet.label|trans}}
    							</p>
    	        				<ul>
    	        			{% endif %}
    						<li>
    							<a href="{{url({lastupdatetime : range.from})}}">{{ range.label }} ({{ range.count }})</a>
    						</li>
    					{% endif %}
    				{% endfor %}
			    	</ul>
    			{% endif %}			
			{% endif %}		
		
		{% endfor %}
		
	</div>
	<div class="span8">
		{% if total == 0 %}
		<div class="alert alert-error">
			{{"no_result"|trans}}
		</div>
		{% else %}

		<table class="table">
			{% for result in data %}
			{% if result.objectType == 'content' %}
			<tr>
				<td><h3><a href="{{ displaySingleUrl(result.id,null,singlePage) }}">{{ result.title }}</a></h3>
				<div class="progress progress-success" style="width:50px; float: left;">
					<div class="bar {%if result.score >= 70%}bar-success{% else %} bar-warning{%endif%}" style="width: 100%;">
						{{ result.score }}%
					</div>
				</div> &nbsp;<span class="label">{{ result.type }}</span>
				<br />
				<br />
				{% if result.summary %}
				<p>{{ result.summary|cleanHtml }}</p>
				{% endif %}
				<br />
				{{"published_by"|trans}} <a href="{{url({'author' : result.author},true)}}">{{ result.authorName }}</a> {{"on"|trans}} {{ (result.lastUpdateTime)|localizeddate('long', 'none', lang) }}. </td>
			</tr>
			{% else %}
			<tr>
				<td><h3><a href="/dam?media-id={{ result.id }}">{{ result.title }}</a></h3>
				<div class="progress progress-success" style="width:50px; float: left;">
					<div class="bar {%if result.score >= 70%}bar-success{% else %} bar-warning{%endif%}" style="width: 100%;">
						{{ result.score }}%
					</div>
				</div> &nbsp;<span class="label">{{ result.type }}</span>
				<br />
				<br />
				{% if result.summary %}
				<p><img src="/dam/get-thumbnail?media-id={{ result.id }}" alt='{{ result.title }}'> &nbsp;&nbsp;{{ result.summary|cleanHtml }}</p>
				{% endif %}
				<br />
				{{"published_by"|trans}} <a href="{{url({'author' : result.author},true)}}">{{ result.authorName }}</a> {{"on"|trans}} {{ (result.lastUpdateTime)|localizeddate('long', 'none', lang) }}. </td>
			</tr>
			{% endif %}
			{% endfor %}
		</table>
		{% if pagecount > 1 %}
		<div class="pagination pagination-centered">
		{%set wrap=limit//2%}
		{%set lastWrap=(pagecount-1)-current%}
			<ul>
			<li class="disabled">
					<a href="#">Page {{ current+1 }} {{"on"|trans}} {{ pagecount }}</a>
				</li>
				{% if current==0 %}
				<li class="disabled">
					<a href="#"><<</a>
				</li>
				{% else %}
				<li>
					<a href="{{url({'pager': current-1})}}"><<</a>
				</li>
				{% endif %}
				{%if current<wrap+1 or limit<10%}
				{% for i in range(0, limit) %}
				<li {% if current==i %}class="disabled"{% endif %}>
					<a href="{{url({'pager': i})}}">{{ i+1 }}</a>
				</li>
				{% endfor %}
				{%elseif limit>wrap and current+wrap<pagecount %}
				{% for  i in current-(wrap)..current+wrap%}
				<li {% if current == i%}class="active"{%endif%}>
					<a href="{{url({'pager': i},true)}}">{{i+1}}</a>
				</li>
				{%endfor%}
				{%else%}
				{% for  i in current-(limit-(lastWrap)-1)..current+lastWrap%}
				<li {% if current == i%}class="active"{%endif%}>
					<a href="{{url({'pager': i},true)}}">{{i+1}}</a>
				</li>
				{%endfor%}
				{%endif%}
				{% if current==pagecount-1%}
				<li class="disabled">
					<a href="#">>></a>
				</li>
				{% else %}
				<li>
					<a href="{{url({'pager': current+1})}}">>></a>
				</li>
				{% endif %}
			</ul>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>

{% endblock %}
