{% extends "root/block.html.twig" %} {% block mainContent %}
        {% if useSearchEngine and searchPage %}
				<!-- search component-->
					<form class=""
						action="{{ url({'pageId':searchPage},true) }}">
						<input type="text" class="input-medium search-query" name="query"
							placeholder="{{"search"|trans}}">
						<!-- <button type="submit" class="btn">{{"search"|trans}}</button> -->
					</form>

				<!-- /search component-->
				{% endif %}    
        <ul class="nav nav-tabs nav-stacked">
                {% if displayRootPage %}
			    <li><a class="brand"
				href="{% if homePage  %}{{ url({'pageId':homePage},true) }}{% endif %}"
				title="Accueil" rel="home">Accueil</a></li>
            {% endif %}
            {% for page in pages %}
            	<li id="menu-item-{{page.id}}"
            		class="{% if page.id in rootline %}active{% endif %}">
            		<a href="{{page.url}}">{{page.title}}</a> 
            	</li> 
            {% endfor %}
        </ul>
{% endblock %}