{% extends "root/block.html.twig" %} {% block mainContent %}
        {% if useSearchEngine and searchPage %}
				<!-- search component-->
					<form class="" action="{{ url({'pageId':searchPage},true) }}">
						<div class="input-append">
                            <input class="span2" id="appendedInputButton search-query" type="text" name="query" placeholder="{{"Search.Label.Search"|fotrans}}">
                            <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i></button>
                        </div>
					</form>

				<!-- /search component-->
				{% endif %}    
        <ul class="nav nav-tabs nav-stacked">
                {% if displayRootPage %}
			    <li><a class="brand"
				href="{% if homePage  %}{{ url({'pageId':homePage},true) }}{% endif %}"
				title="{{ rootPage.title }}" rel="home">{{ rootPage.title }}</a></li>
            {% endif %}
            {% for page in pages %}
            	<li id="menu-item-{{page.id}}"
            		class="{% if page.id in rootline %}active{% endif %}">
            		<a href="{{page.url}}">{{page.title}}</a> 
            	</li> 
            {% endfor %}
        </ul>
{% endblock %}