{% extends "root/block.html.twig" %}

{% block mainContent %}
    {% if videoFile %}
        <div style="max-width:{{ videoWidth }};">
        <div id="video_{{ prefix }}" class="videoPlaceholder" 
        data-videoFile="/dam.{{ extension }}?media-id={{ videoFile }}" 
        {% if videoPoster %}data-image="/dam?media-id={{ videoPoster }}"{% endif %}
        {% if videoWidth %}data-width="{{ videoWidth }}"{% endif %} 
        {% if videoHeight %}data-height="{{ videoHeight }}"{% endif %}>
        Loading the player...
        </div>
        
        </div>
    {% endif %}
{% endblock %}

