{% extends "@Root/block.html.twig" %} 

{% block mainContent %}

    <form class="form-horizontal" action="{{url({'pageId': searchPage})}}" method="get">
    {% for type in contentTypes %}
        <input type="hidden" name="type[]" value="{{ type }}">
    {% endfor %}
        <div class="control-group">
            <label class="control-label" for="inputMotCle">{{ "Blocks.Search.Label.KeyWords" | fotrans }}</label>
            <div class="controls">
                <input id="inputMotCle" type="text" placeholder="{% if placeholder %}{{placeholder}}{% else %}{{ "Search.Label.Search" | fotrans }}{% endif %}" name="query">
            </div>
        </div>
        
        {% for taxonomy, taxonomyMeta in taxonomies %}
            <div class="control-group">
                <label class="control-label" for="input{{ taxonomy }}">{{ taxonomy }}</label>
                <div class="controls">
                    <select name="{{ taxonomyMeta.id }}[]" id="input{{ taxonomy }}">
                        <option></option>
                        {% for termId, term in taxonomyMeta.terms  %}
                            <option value="{{ termId }}">{{ term }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
        
        <div class="control-group">
            <label class="control-label"><a href="{{url({'pageId': searchPage})}}">{{ "Blocks.Search.Label.SeeAllResults" | fotrans }}</a></label>
            <div class="controls">
                <button type="submit" class="btn btn-primary">{{ "Search.Label.Search" | fotrans }}</button>
            </div>
        </div>
    </form>

{% endblock %}
