{% extends "@Root/block.html.twig" %}

{% block mainContent %}
    {% if isLoggedIn %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                {% if currentUser.photo %}
			        <img src="/file?file-id={{ currentUser.photo }}" class="user-picture" style="height:18px;">
			    {% else %}
                    <i class="icon-user"></i>
                {% endif %} {{currentUser.name}}
                <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu">
                {% if hasAccessToBO %}<li><a href="/backoffice" target="_blank"><i class="icon-edit"></i> {{ "FO.Administration.Toolbar.Button.User.Backoffice" | fotrans }}</a></li>{% endif %}
                <li><a href="#" onclick="logout()"><i class="icon-off"></i> {{ "FO.Administration.Toolbar.Button.User.Logout" | fotrans }}</a></li>
            </ul>
        </div>
    {%else%}
        <a href="#auth-modal" role="button" class="btn" data-toggle="modal">{{ "Blocks.Auth.Label.Connection" | fotrans }}</a>
        <div id="auth-modal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>{{ "Blocks.Auth.Label.LogIn" | fotrans }}</h3>
            </div>
            
            <form style="margin: 0;">
              	<div class="modal-body">
              	    <span class="form-inline">
              	        <label for="login">{{ "Blocks.Auth.Label.Login" | fotrans }}</label>
             	 	    <input type="text" id="login" class="input-medium" placeholder="{{ "Blocks.Auth.Label.LoginOrEmail" | fotrans }}">
             	 	    
             	 	    <label for="password">{{ "Blocks.Auth.Label.Password" | fotrans }}</label>
            		    <input type="password" id="password" class="input-medium" placeholder="{{ "Blocks.Auth.Label.Password" | fotrans }}">
            		</span>
             	 </div>
             	 
             	 <div id="error-msg" class="alert alert-error hidden-rubedo"></div>
             	 
             	 <div class="modal-footer">
                     <a href="#"  data-dismiss="modal" class="btn">{{ "Label.Cancel" | fotrans }}</a>
                     <input type="submit" onclick="loggin();return false;" class="btn btn-primary" value="{{ "Blocks.Auth.Label.LogIn" | fotrans }}">
                 </div>
             </form>
        </div>
    {%endif%}
    
    <script type="text/javascript">
        function loggin()
        {
        		jQuery.ajax({
        		   type: "POST", 
        		   url: "/xhr-authentication/login",
        		   async:true,
        		   dataType: "json",
        		   data: { login: jQuery('#login').val(), password: jQuery('#password').val() },
        		   success: function(msg){
        		   if(msg.success==false){
        		   jQuery("#error-msg").show();
        		   jQuery("#error-msg").html(msg.message);
        		   }else{
        		   	jQuery('#password').val("");
        		    jQuery('#login').val("");
        		    jQuery('#auth-modal').modal("hide");
        		    window.location.reload(); 
        			}
        		   }
        		});
        }
        function logout()
        {	 
        		jQuery.ajax({
        		   type: "POST",
        		   async:false, 
        		   url: "/xhr-authentication/logout",
        		   success: function(msg){
        				window.location.reload(); 
        		   }
        		});
        }
    </script>
{% endblock %}



