{% extends "@Root/block.html.twig" %}
{% block mainContent %}
    <h2>Checkout</h2>
    <div class="progress checkout-progress">
        <div class="bar" id="checkoutmainprogress" style="width: 17%"></div>
    </div>
    <div class="accordion" id="accordioncheckout" data-currentstep="{{ currentStep }}" {% if isLoggedIn %} data-current-user="{{ currentUser |json_encode }}" {% endif %}>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <a class="checkouteditlink" data-targetstep="1" onclick="setCheckoutStep(1);return false;" href="#" style="display : none;"><i class="icon-pencil"></i></a>
                <h5>Step 1 : Checkout options</h5>
            </div>
            <div id="checkoutstep1" data-parent="accordioncheckout" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    {{ include('blocks/checkout/step1.html.twig') }}
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <a class="checkouteditlink" data-targetstep="2" onclick="setCheckoutStep(2);return false;" href="#" style="display : none;"><i class="icon-pencil"></i></a>
                <h5>Step 2 : Contact information</h5>
            </div>
            <div id="checkoutstep2" data-parent="accordioncheckout" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    {{ include('blocks/checkout/step2.html.twig') }}
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <a class="checkouteditlink" data-targetstep="3" onclick="setCheckoutStep(3);return false;" href="#" style="display : none;"><i class="icon-pencil"></i></a>
                <h5>Step 3 : Billing details </h5>
            </div>
            <div id="checkoutstep3" data-parent="accordioncheckout" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    {{ include('blocks/checkout/step3.html.twig') }}
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <a class="checkouteditlink" data-targetstep="4" onclick="setCheckoutStep(4);return false;" href="#" style="display : none;"><i class="icon-pencil"></i></a>
                <h5>Step 4 : Shipping method & details</h5>
            </div>
            <div id="checkoutstep4" data-parent="accordioncheckout" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    {{ include('blocks/checkout/step4.html.twig') }}
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <a class="checkouteditlink" data-targetstep="5" onclick="setCheckoutStep(5);return false;" href="#" style="display : none;"><i class="icon-pencil"></i></a>
                <h5>Step 5 : Payment Method</h5>
            </div>
            <div id="checkoutstep5" data-parent="accordioncheckout" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    Interior area
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <a class="checkouteditlink" data-targetstep="6" onclick="setCheckoutStep(6);return false;" href="#" style="display : none;"><i class="icon-pencil"></i></a>
                <h5>Step 6 : Confirm Order</h5>
            </div>
            <div id="checkoutstep6" data-parent="accordioncheckout" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    Interior area
                </div>
            </div>
        </div>
    </div>
{% endblock %}