{% extends "@Root/block.html.twig" %} 

{% block mainContent %}
{% if not doNotShow %}
<br><br>
<div id="{{prefix}}" class="carousel slide flickr-gallery" 
data-count="{{allFlickrCount}}" 
data-pagesize="{{pageSize}}" 
data-maxpage="{{ maxPage }}" 
data-url="{{url({'module':'blocks', 'controller':'flickr-gallery', 'action':'xhr-get-images'},null,null,'blocks')}}" 
data-user="{{ user }}" 
data-tags="{{ tags }}" 
data-tagmode="{{ tagMode }}">
	<div class='progress-gallery'>
		<p>{{ "Blocks.Gallery.Label.Loading" | fotrans }}</p>
		<div class="progress progress-striped active">
			<div class="bar flickr-img" style="width: 100%;"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	
	{% include '@Root/blocks/flickr/items.html.twig' %}
</div>
{% endif %}

{% endblock %}