{% extends "@Root/block.html.twig" %}

{% block mainContent %}
<div id="menu" class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse-{{ id }}"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> 
			{% if displayRootPage %}
			<a class="brand"
				href="{% if rootPage  %}{{ url({'pageId':rootPage.id},true) }}{% endif %}"
                title="{{ rootPage.text }}" rel="home">{{ rootPage.text }}</a>
            {% endif %}
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse nav-collapse-{{ id }} collapse">
				<!-- /nav bar -->

				<ul class="nav">
					{% for page in pages %}
					<li id="menu-item-{{page.id}}"
						class="{% if page.id in rootline %}active{% endif %} {% if page.pages %}dropdown{% endif %}">
						<a 
						    {% if page.pages %}class="dropdown-toggle" data-toggle="dropdown" data-target="#"{% endif %}
                            title="{{ page.text }}"
                            href="{{page.url}}">{{page.text}}{% if page.pages %} <b class="caret"></b>{% endif %}</a>
						{% if page.pages %}
						 <ul class="dropdown-menu">
						    <li
								class="{% if page.id==currentPage %}active{% endif %}">
                            <a title="{{ page.text }}" href="{{page.url}}">{{page.text}}</a>
						    </li>
						    <li class="divider"></li>
							{% for subpage in page.pages %}
							<li
								class="{% if subpage.id in rootline %}active{% endif %}">
                                <a title="{{subpage.text}}" href="{{subpage.url}}">{{subpage.text}}</a>
							</li> {% endfor %}

						</ul> {% endif %}
					</li> {% endfor %}
				</ul>
				{% if useSearchEngine and searchPage %}
				<!-- search component-->
					<form class="navbar-search pull-right"
						action="{{ url({'pageId':searchPage},true) }}">
						<input type="text" class="input-medium search-query" name="query"
							placeholder="{{"Search.Label.Search"|fotrans}}">
						<!-- <button type="submit" class="btn">{{"Search.Label.Search"|fotrans}}</button> -->
					</form>

				<!-- /search component-->
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
