{% extends "@Root/block.html.twig" %}
{% block mainContent %}
    <h2>Order {{ order.orderNumber }}</h2>

    <h3 class="text-center">Order review</h3>
    <div class="row-fluid">
        <div class="span4">
            <h4>Billing address</h4>
            <p><strong>VAT number / EIN  : </strong>{{ order.billingAddress.vatEin }}</p>
            <p><strong>Company /Organization  : </strong>{{ order.billingAddress.company }}</p>
            <p><strong>Attention : </strong>{{ order.billingAddress.attention }}</p>
            <p><strong>Address 1 : </strong>{{ order.billingAddress.address1 }}</p>
            <p><strong>Address 2 : </strong>{{ order.billingAddress.address2 }}</p>
            <p><strong>City : </strong>{{ order.billingAddress.city }}</p>
            <p><strong>Country : </strong>{{ order.billingAddress.country }}</p>
            <p><strong>State / Province : </strong>{{ order.billingAddress.regionState }}</p>
            <p><strong>Zip / Postal Code : </strong>{{ order.billingAddress.postCode }}</p>
        </div>
        <div class="span4">
            <h4>Shipping address</h4>
            <p><strong>Company /Organization  : </strong>{{ order.shippingAddress.company }}</p>
            <p><strong>Attention : </strong>{{ order.shippingAddress.attention }}</p>
            <p><strong>Address 1 : </strong>{{ order.shippingAddress.address1 }}</p>
            <p><strong>Address 2 : </strong>{{ order.shippingAddress.address2 }}</p>
            <p><strong>City : </strong>{{ order.shippingAddress.city }}</p>
            <p><strong>Country : </strong>{{ order.shippingAddress.country }}</p>
            <p><strong>State / Province : </strong>{{ order.shippingAddress.regionState }}</p>
            <p><strong>Zip / Postal Code : </strong>{{ order.shippingAddress.postCode }}</p>
        </div>
        <div class="span4">
            <h4>Shipping details</h4>
            <p><strong>Shipper  : </strong>{{ order.shipper.name }}</p>
            <p><strong>Shipping delay  : </strong>{{ order.shipper.hRDelay }} {{ order.shipper.hRUnit }}</p>
            <p><strong>Tax-free price  : </strong>{{ order.shippingPrice }} €</p>
            <p><strong>Taxes  : </strong>{{ order.shippingTax }} €</p>
            <p><strong>Price  : </strong>{{ order.shippingTaxedPrice }} €</p>
        </div>
    </div>
    <div class="row-fluid">


    </div>
{% endblock %}