{% extends "@Root/block.html.twig" %}

{% block mainContent %}
<div class="row-fluid">
	<div class="span12">
	{% if contentId %}
        <div id="introduction-{{prefix}}"><div class="editable" id="{{ contentId }}_body">{{ text|cleanHtml }}</div></div>
        <div class="clearfix"></div>
    {% endif %}
	<form method="post" class="form-horizontal" id="form-{{ prefix }}" >
    	<div class="control-group">
            <label class="control-label" >Email *</label>
            <div class="controls">
              <input type="email" name="email" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >Name *</label>
            <div class="controls">
              <input type="text" name="name" required>
            </div>
        </div>
        
        {% for field in fields %}
            {% if not field['config']['allowBlank'] %}
                {% if field['cType']=='Ext.form.field.Text' %}
                    {% include '@Root/blocks/inputFields/text.html.twig' %}
                {% elseif field['cType']=='Ext.form.field.TextArea' %}
                    {% include '@Root/blocks/inputFields/textarea.html.twig' %}
                {% elseif field['cType']=='Ext.form.field.Checkbox' %}
                    {% include '@Root/blocks/inputFields/checkbox.html.twig' %}
                {% elseif field['cType']=='Ext.form.CheckboxGroup' %}
                    {% include '@Root/blocks/inputFields/checkboxgroup.html.twig' %}
                {% elseif field['cType']=='Ext.form.RadioGroup' %}
                    {% include '@Root/blocks/inputFields/radiogroup.html.twig' %}
                {% endif %}
            {%  endif %}
        {% endfor %}
        

            <input type="hidden" name="userTypeId" value="{{ userTypeId }}">
            
        <div class="form-actions">
            <button type="submit" class="btn btn-primary signupformtrigger" data-formid="form-{{ prefix }}" >SIGN UP</button>
        </div>
	</form>
	</div>
</div>
{% endblock %}