{% extends "/block.html.twig" %}

{% block mainContent %}
<div class="row-fluid">
	<div class="span12">
	{% if contentId %}
        <div id="introduction-{{prefix}}"><div class="editable" id="{{ contentId }}_body">{{ text|cleanHtml }}</div></div>
        <div class="clearfix"></div>
    {% endif %}
	<form method="post" class="form-horizontal" id="form-{{ prefix }}" >
    	<div class="control-group">
            <label class="control-label" >{{ 'Label.Email'|fotrans }} *</label>
            <div class="controls">
              <input type="email" name="email" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" >{{ 'Blocks.SignUp.label.name'|fotrans }} *</label>
            <div class="controls">
              <input type="text" name="name" required>
            </div>
        </div>

        
        {% for field in fields %}
                {% if field['cType']=='Ext.form.field.Text' %}
                    {% include '/blocks/inputFields/text.html.twig' %}
                {% elseif field['cType']=='Ext.form.field.TextArea' %}
                    {% include '/blocks/inputFields/textarea.html.twig' %}
                {% elseif field['cType']=='Ext.form.field.Checkbox' %}
                    {% include '/blocks/inputFields/checkbox.html.twig' %}
                {% elseif field['cType']=='Ext.form.CheckboxGroup' %}
                    {% include '/blocks/inputFields/checkboxgroup.html.twig' %}
                {% elseif field['cType']=='Ext.form.RadioGroup' %}
                    {% include '/blocks/inputFields/radiogroup.html.twig' %}
                {% elseif field['cType']=='Ext.form.field.ComboBox' %}
                    {% include '/blocks/inputFields/combobox.html.twig' %}
                {% endif %}
        {% endfor %}
        {% if collectPassword %}
            <div class="control-group">
                <label class="control-label" >{{ 'Blocks.SignUp.label.password'|fotrans }} *</label>
                <div class="controls">
                    <input type="password" name="password" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" >{{ 'Blocks.SignUp.label.confirmPassword'|fotrans }} *</label>
                <div class="controls">
                    <input type="password" name="confirmPassword" required>
                </div>
            </div>
        {% endif %}
        {% if  mailingListArray%}
        <div class="control-group">
            <label class="control-label">Subscribe to the following mailing lists</label>
            <div class="controls">
                {% for mailinglist in mailingListArray %}
                    <label class="checkbox">
                        <input type="checkbox" class="" name="mlSubscr_{{ mailinglist.value }}" >
                        {{ mailinglist.label }}
                    </label>
                {% endfor %}
            </div>
        </div>
        {% endif %}
            <input type="hidden" name="userTypeId" value="{{ userTypeId }}">
        {% if captcha is not empty %}
            <div class="control-group">
                <label for="captcha" class="control-label">
                    {{ 'Blocks.SignUp.Label.Captcha'|fotrans }} *
                </label>
                <div class="controls">
                    {% if captcha.html is not empty %}
                        {{ captcha.html|raw }}
                    {% else %}
                        <img src="/captcha/{{ captcha.id }}.png" alt="{{ 'Blocks.SignUp.Label.Captcha'|fotrans }}" /><br />
                        <input name="captcha[input]" id="captcha" type="text" required="required" />
                        <input name="captcha[id]" type="hidden" value="{{ captcha.id }}" />
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary signupformtrigger" data-formid="form-{{ prefix }}" >{{ 'Blocks.SignUp.label.signUp'|fotrans }}</button>
        </div>
	</form>
	</div>
</div>
{% endblock %}