{% extends "/block.html.twig" %}

{% block mainContent %}
    {% if error is not empty %}
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ 'Blocks.SignUp.emailConfirmError.fail'|fotrans }}</strong> {{ error|fotrans }}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="block newsletter">
                <form method="post" class="form-inline">
                        <div class="input-append">
                            <input value="{{ email|e }}" id="unsubscribeEmail" class="input-medium" type="email" name="email" placeholder="{{ "Label.Email" | fotrans }}" required/>
                            <input class="btn btn-primary" type="submit" value="{{ 'Blocks.Unsubscribe.submit'|fotrans }}" />
                        </div>
                </form>
         
        </div>
{% endblock %}