{% extends "/block.html.twig" %}

{% block mainContent %}
    {% if canEdit and editProfile is defined %}
        {% include '/blocks/userProfile/userProfile_edit.html.twig' %}
    {% elseif canEdit and editLogin is defined %}
        {% include '/blocks/userProfile/userLogin_edit.html.twig' %}
    {% else %}
        <div class="row-fluid">
            <div class="span12">
                {% if user.photo %}
                    <img src="{{ userAvatarThumbnail(user.id, 140, 180, 'boxed') }}" alt="{{ user.name }} photo"
                         style="margin-right:20px;" class="img-polaroid pull-left">
                {% endif %}
                {% if canEdit %}
                    <div class="btn-group pull-right">
                        <a href="?editProfile" class="btn"><i class="icon-edit"></i> {{ 'Blocks.UserProfile.Edit.Profile'|fotrans }}</a>
                        <a href="?editLogin" class="btn"><i class="icon-edit"></i> {{ 'Blocks.UserProfile.Edit.Login'|fotrans }}</a>
                    </div>
                {% endif %}
                <h2>{{ user.name }}</h2>
                {% for key, value in data %}
                    {% if value is not null %}
                        {% for cKey,cValue in type %}
                            {% if(key==cKey) %}
                                {% if cValue["cType"]=="Rubedo.view.ImagePickerField" %}
                                    {% if value != "" %}
                                        {% include '/blocks/userFields/mediaField.html.twig' %}
                                    {% endif %}
                                {% elseif(cValue["cType"]=="Rubedo.view.CKEField") %}
                                    {% include '/blocks/userFields/CKEfield.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.ux.widget.Rating") %}
                                    {% include '/blocks/userFields/rating.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.form.field.TextArea") %}
                                    {% include '/blocks/userFields/textarea.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.form.field.Text") %}
                                    {% include '/blocks/userFields/text.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.slider.Single") %}
                                    {% include '/blocks/userFields/slider.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.ux.TreePicker") %}
                                    {% include '/blocks/userFields/link-to-page.html.twig' %}
                                {% elseif(cValue["cType"]=="Rubedo.view.localiserField") %}
                                    {% if value is defined %}
                                        {% include '/blocks/userFields/localiser.html.twig' %}
                                    {% endif %}
                                {% elseif(cValue["cType"]=="Ext.form.field.Date") %}
                                    {% include '/blocks/userFields/date.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.form.field.ComboBox") %}
                                    {% include '/blocks/userFields/combobox.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.form.field.Time") %}
                                    {% include '/blocks/userFields/time.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.form.field.Number") %}
                                    {% include '/blocks/userFields/number.html.twig' %}
                                {% elseif(cValue["cType"]=="Rubedo.view.externalMediaField") %}
                                    {% include '/blocks/userFields/external-media.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.form.field.Checkbox") %}
                                    {% include '/blocks/userFields/checkbox.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.form.CheckboxGroup") %}
                                    {% include '/blocks/userFields/checkboxgroup.html.twig' %}
                                {% elseif(cValue["cType"]=="Ext.form.RadioGroup") %}
                                    {% include '/blocks/userFields/radiogroup.html.twig' %}
                                {% elseif(cValue["cType"]=="Rubedo.view.DCEField") %}
                                    {% include '/blocks/userFields/dcefield.html.twig' %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}