{% extends "/block.html.twig" %}
{% block mainContent %}
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>{{ 'Blocks.UserOrders.OrderNumber'|fotrans }}</th>
            <th>{{ 'Blocks.UserOrders.Date'|fotrans }}</th>
            <th>{{ 'Blocks.UserOrders.Price'|fotrans }}</th>
            <th>{{ 'Blocks.UserOrders.Shipper'|fotrans }}</th>
            <th>{{ 'Blocks.UserOrders.PaymentMeans'|fotrans }}</th>
            <th>{{ 'Blocks.UserOrders.Status'|fotrans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in orders %}
            <tr>
                <td>{{ item.orderNumber }}</td>
                <td>{{ item.hrDate }}</td>
                <td>{{ item.finalPrice }} €</td>
                <td>{{ item.shipper.name }}</td>
                <td>{{ item.paymentMeans }}</td>
                <td>{{ item.status }}</td>
                {% if orderDetailPage %}
                    <td><a href="{{ orderDetailPageUrl }}?order={{ item.orderNumber }}" ><button class="btn btn-primary"><i class="icon-search icon-chevron-right icon-white"></i> {{ 'Blocks.UserOrders.ViewDetails'|fotrans }}</button></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}