{% extends "@Root/block.html.twig" %}
{% block mainContent %}
    <table class="table table-condensed table-striped table-hover">
        <thead>
        <tr>
            <th>Order number</th>
            <th>Date</th>
            <th>Price</th>
            <th>Shipper</th>
            <th>Payment means</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for item in orders %}
            <tr>
                <td>{{ item.orderNumber }}</td>
                <td>{{ item.hrDate }}</td>
                <td>{{ item.finalPrice }} €</td>
                <td>{{ item.shipper.name }}</td>
                <td>{{ item.paymentMeans }}</td>
                <td>{{ item.status }}</td>
                {% if orderDetailPage %}
                    <td><a href="{{ orderDetailPageUrl }}?order={{ item.orderNumber }}" ><button class="btn btn-primary"><i class="icon-search icon-chevron-right icon-white"></i> View detail</button></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}