{% extends "@Root/block.html.twig" %}

{% block mainContent %}
    {% if videoFile %}
        <div style="max-width:{{ videoWidth }};margin:1em 0;">
        <div id="video_{{ prefix }}" class="videoPlaceholder" 
        data-videoFile="/dam.{{ extension }}?media-id={{ videoFile }}" 
        {% if videoPoster %}data-image="{{ imageUrl(videoPoster) }}"{% endif %}
        {% if videoWidth %}data-width="{{ videoWidth }}"{% endif %} 
        {% if videoHeight %}data-height="{{ videoHeight }}"{% endif %}
        {% if videoAspectratio %}data-aspectratio="{{ videoAspectratio }}"{% endif %}
        data-controls={% if videoControls %}true{% else %}false{% endif %}
        {% if videoLoop %}data-repeat=true{% endif %}
        data-autostart={% if videoAutoPlay %}true{% else %}false{% endif %}
        data-contentType={{ contentType }}
        >{{ alt }}
        </div>
        
        </div>
    {% endif %}
    
    <!-- <a href="#" onclick="jwplayer().seek('60');return false;">Jump to 1:00</a> <a href="#" onclick="jwplayer().seek('197');return false;">Jump to 3:17</a> -->
{% endblock %}

