<p>{{ 'Notification.refusedBody.hello'|botrans([], lang) }}</p>

<p>{{ 'Notification.refusedBody.refusedBy'|botrans({'%title%': title, '%author%': publishingAuthor}, lang) }}
    <br />
    <a href="{{ directUrl|raw }}">{{ 'Notification.refusedBody.urlText'|botrans([], lang) }}</a>
</p>
<p>{{ 'Notification.refusedBody.thanks'|botrans([], lang) }}</p>

<hr />
{{ 'Notification.refusedBody.automaticMail'|botrans([], lang) }}
<hr />