<p>{{ "Blocks.ProtectedRessource.Mail.Hello" | fotrans }}</p>

<p>
{{ "Blocks.ProtectedRessource.Mail.Body" | fotrans }}
<a href="{{ downloadUrl|raw }}">{{ downloadUrl|raw }}</a>
</p>
<p>
{{ "Blocks.ProtectedRessource.Mail.Regards" | fotrans }}
</p>

<p>{{ signature }}</p>